// PANEL ITEMS WRAPPER
// -------------------
.ux-panel-items {
    margin-bottom: $ux-spacer;
}

// PANEL ITEM
// ----------
.ux-panel-item {
    background-color: white;
    border: 1px solid transparent;
    border-radius: $ux-border-radius;
    border-top: $ux-border;
    margin-bottom: $ux-spacer;
    position: relative;
    @include clearfix;
    @include ux-box-shadow-z-depth-1;

    &--has-tabs {
        > .ux-panel-header {
            display: none;
        }

        > .ux-panel-content {
            padding: 0;
        }

        .nav-tabs {
            background-color: $ux-color-grey-lightester;
        }

        .ux-tab-content {
            margin-bottom: 0;
            padding: $ux-spacer;
        }
    }

    &--no-header {
        .ux-panel-header {
            display: none;
        }
    }

    &--warning {
        .ux-panel-header {
            background-color: $ux-color-warning-darker;

            .ux-a-label__label,
            .ux-a-label__sub-label {
                color: white;
            }
        }

        .ux-panel-header__status-indicator-wrapper-label {
            color: $ux-color-warning-darkest;
        }
    }

    &--danger {
        .ux-panel-header {
            background-color: $ux-color-danger-darker;

            .ux-a-label__label,
            .ux-a-label__sub-label {
                color: white;
            }
        }

        .ux-panel-header__status-indicator-wrapper-label {
            color: $ux-color-danger-darkest;
        }
    }

    &--info {
        .ux-panel-header {
            background-color: $ux-color-info-darker;

            .ux-a-label__label,
            .ux-a-label__sub-label {
                color: white;
            }
        }

        .ux-panel-header__status-indicator-wrapper-label {
            color: $ux-color-info-darkester;
        }
    }

    &--success {
        .ux-panel-header {
            background-color: $ux-color-success-darker;

            .ux-a-label__label,
            .ux-a-label__sub-label {
                color: white;
            }
        }

        .ux-panel-header__status-indicator-wrapper-label {
            color: $ux-color-success-darkester;
        }
    }

    &--clickable {
        cursor: pointer;

        &:focus,
        &:hover {
            outline: 0;
            @include ux-box-shadow-hover;
        }
    }

    &__status-indicator-icon-wrapper {
        background-color: $ux-color-warning-dark;
        border-radius: 100%;
        color: white;
        font-size: 12px;
        height: 20px;
        left: -6px;
        padding: $ux-spacer-tinier $ux-spacer-tiny;
        position: absolute;
        text-align: center;
        top: -6px;
        width: 20px;

        &-icon {
            margin-top: 2px;
        }
    }
}
