.ux-panel-footer {
    background-color: $ux-color-grey-lightester;
    border-top: 1px solid $ux-color-grey-lighter;
    bottom: 0;
    padding: $ux-spacer-small;
    width: 100%;
    @include clearfix;

    &--large {
        margin-top: 4rem;
        padding: $ux-spacer-large;
    }
}
