.ux-panel-content {
    background-color: white;
    padding: $ux-spacer;
    position: relative;
    @include clearfix;
    @include ux-transition-base;

    &--no-padding {
        padding: 0;
    }

    &--blocked {
        z-index: 0;
    }

    &__blocked-overlay {
        background-color: $ux-color-grey-light;
        height: 100%;
        opacity: 0.5;
        position: absolute;
        right: 0;
        top: 0;
        width: 100%;
        z-index: 1;

        &::after {
            -webkit-animation: spin 1s linear infinite;
            animation: spin 1s linear infinite;
            border: 10px solid transparent;
            border-radius: 50%;
            border-top-color: $ux-color-primary-light;
            content: "";
            display: block;
            height: 100px;
            left: 50%;
            margin: -50px 0 0 -50px;
            position: absolute;
            top: 50%;
            width: 100px;
        }
    }

    &--fixed-height {
        overflow: hidden;
    }

    &--edit-mode-active {
        background-color: $ux-color-info-lightester-2;
    }
}

