.ux-panel-toolbar {
    background-color: white;
    border: $ux-border;
    margin-bottom: $ux-spacer;
    padding: $ux-spacer;
    @include clearfix;

    &__trigger {
        color: $ux-color-font;
        margin-right: $ux-spacer-large;
        position: relative;
    }

    &__trigger-icon {
        padding-left: $ux-spacer-small;
        padding-right: $ux-spacer-small;
    }

    &__filter {
        float: right;
        position: relative;
    }

    &__filter-input {
        min-width: 200px;
    }

    &__filter-input-search-icon {
        position: absolute;
        right: $ux-spacer-small;
        top: $ux-spacer-small;
    }
}
