// HEADER and SUB ELEMENTS
// -----------------------
uxpanelheader {
    align-items: center;
    display: flex;
    width: 100%;
}

.ux-panel-header {
    align-items: center;
    background-color: $ux-color-grey-lightest;
    border-bottom: $ux-border-lighter;
    border-top-left-radius: $ux-border-radius;
    border-top-right-radius: $ux-border-radius;
    display: flex;
    padding: $ux-spacer $ux-spacer;

    &__icon {
        margin-left: 0;
        margin-right: $ux-spacer;
        padding: 0 $ux-spacer-tiny;
    }

    &__right-content {
        align-items: center;
        display: flex;
        margin-left: auto;
    }

    &__tag {
        margin-right: $ux-spacer;
    }

    &__expand-toggle {
        cursor: pointer;
        font-size: $ux-font-size-h4;
        margin-left: $ux-spacer;
        margin-right: $ux-spacer-small;
    }

    &__status-indicator-wrapper {
        border-bottom: 1px solid $ux-color-grey-lighter;
        padding: $ux-spacer $ux-spacer;

        &-toggle {
            padding: $ux-spacer-tiny $ux-spacer-small;

            &:focus {
                @include ux-box-shadow-hover;
            }
        }
    }

    &__status-indicator-content {
        border-bottom: 1px solid $ux-color-grey-lighter;
        padding: $ux-spacer-small $ux-spacer 0 $ux-spacer;
    }

    .ux-a-icon {
        height: $ux-spacer;
        margin-left: 0;
        margin-right: $ux-spacer;
        padding: 0;
    }

    .ux-a-icon--rounded {
        height: auto;
        padding: $ux-spacer-small;
    }

    .ux-a-label {
        margin-left: 0;
        padding: 0;

        &__label {
            color: #333;
        }
    }
}

// DERIVED STATES FROM PANEL-ITEM PARENT
// -------------------------------------

.ux-panel-item--flat {
    background-color: white;

    .ux-panel-header {
        background-color: white;
        margin: 0;

        &--large {
            margin-bottom: $ux-spacer-small;
        }

        &--large .ux-a-label {
            padding: $ux-spacer 0 $ux-spacer-small 0;
        }

        &--large .ux-a-label__label {
            font-size: $ux-font-size-h3;
        }
    }

    .ux-panel-item:not(.ux-panel-item--flat):not(.ux-panel-item--selected) {
        .ux-panel-header {
            background-color: $ux-color-grey-lightest;
        }
    }
}

.ux-panel-item--selected {
    border: 1px solid $ux-color-primary;

    .ux-panel-header {
        background-color: $ux-color-primary-light;
        color: #fff;

        .ux-a-label__label,
        a {
            color: #fff;
        }
    }
}

// HEADER STATES
// -------------
.ux-panel-header {
    &--expandable {
        cursor: pointer;
    }

    &--accordion-expanded {
        background-color: $ux-color-primary;

        .ux-a-label__label {
            color: white;
        }
    }

    &--has-light-label {
        .ux-a-label__label {
            font-weight: normal;
        }
    }

    &--accordion-expanded &__expand-toggle {
        color: white;
    }
}
