.ux-c-switch {
    background: #fff;
    background-clip: content-box;
    border: 1px solid $ux-color-grey-lighter;
    border-radius: 1.25em;
    box-shadow: rgb(223, 223, 223) 0 0 0 0 inset;
    box-sizing: content-box;
    cursor: pointer;
    display: inline-block;
    font-size: $ux-spacer;
    height: 1.25em;
    margin: 0;
    overflow: visible;
    padding: 0;
    position: relative;
    transition: 0.3s ease-out all;
    user-select: none;
    vertical-align: middle;
    width: 2.0625em;

    &--large {
        font-size: 2rem;
    }

    &--small {
        font-size: 0.75rem;
    }

    &--checked {
        background: $ux-color-success-light;
        border-color: $ux-color-success-light;
    }

    &--checked &__handle {
        left: 0.8125em;
    }

    &--disabled {
        cursor: not-allowed;
        opacity: 0.5;
    }

    &__handle {
        background-color: #fff;
        border-radius: 100%;
        font-size: 1em;
        height: 1.25em;
        left: 0;
        position: absolute;
        top: 0;
        transition: 0.3s ease-out all;
        width: 1.25em;
        @include ux-box-shadow-z-depth-2;
    }
}

.material-switch > input[type="checkbox"] {
    display: none;
}

.material-switch > label {
    cursor: pointer !important;
    height: 0;
    position: relative !important;
    width: 40px;
}

.material-switch > label::before {
    background: rgb(0, 0, 0);
    border-radius: 8px;
    box-shadow: inset 0 0 10px rgba(0, 0, 0, 0.5);
    content: '';
    height: 16px;
    margin-top: -8px;
    opacity: 0.3;
    position: absolute;
    transition: all 0.4s ease-in-out;
    width: 40px;
}

.material-switch > label::after {
    background: rgb(255, 255, 255);
    border-radius: 16px;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.3);
    content: '';
    height: 24px;
    left: -4px;
    margin-top: -8px;
    position: absolute;
    top: -4px;
    transition: all 0.3s ease-in-out;
    width: 24px;
}

.material-switch > input[type="checkbox"]:checked + label::before {
    background: inherit;
    opacity: 0.5;
}

.material-switch > input[type="checkbox"]:checked + label::after {
    background: inherit;
    left: 20px;
}
