/* stylelint-disable */
.color-bg-palette-primary-50 {background-color: $palette-primary-50;}	.color-palette-primary-50 {color: $palette-primary-50;}
.color-bg-palette-primary-100 {background-color: $palette-primary-100;}	.color-palette-primary-100 {color: $palette-primary-100;}
.color-bg-palette-primary-200 {background-color: $palette-primary-200;}	.color-palette-primary-200 {color: $palette-primary-200;}
.color-bg-palette-primary-300 {background-color: $palette-primary-300;}	.color-palette-primary-300 {color: $palette-primary-300;}
.color-bg-palette-primary-400 {background-color: $palette-primary-400;}	.color-palette-primary-400 {color: $palette-primary-400;}
.color-bg-palette-primary-500 {background-color: $palette-primary-500;}	.color-palette-primary-500 {color: $palette-primary-500;}
.color-bg-palette-primary-600 {background-color: $palette-primary-600;}	.color-palette-primary-600 {color: $palette-primary-600;}
.color-bg-palette-primary-700 {background-color: $palette-primary-700;}	.color-palette-primary-700 {color: $palette-primary-700;}
.color-bg-palette-primary-800 {background-color: $palette-primary-800;}	.color-palette-primary-800 {color: $palette-primary-800;}
.color-bg-palette-primary-900 {background-color: $palette-primary-900;}	.color-palette-primary-900 {color: $palette-primary-900;}
.color-bg-palette-primary-A100 {background-color: $palette-primary-A100;}	.color-palette-primary-A100 {color: $palette-primary-A100;}
.color-bg-palette-primary-A200 {background-color: $palette-primary-A200;}	.color-palette-primary-A200 {color: $palette-primary-A200;}
.color-bg-palette-primary-A400 {background-color: $palette-primary-A400;}	.color-palette-primary-A400 {color: $palette-primary-A400;}
.color-bg-palette-primary-A700 {background-color: $palette-primary-A700;}	.color-palette-primary-A700 {color: $palette-primary-A700;}
.color-bg-palette-info-50 {background-color: $palette-info-50;}	.color-palette-info-50 {color: $palette-info-50;}
.color-bg-palette-info-100 {background-color: $palette-info-100;}	.color-palette-info-100 {color: $palette-info-100;}
.color-bg-palette-info-200 {background-color: $palette-info-200;}	.color-palette-info-200 {color: $palette-info-200;}
.color-bg-palette-info-300 {background-color: $palette-info-300;}	.color-palette-info-300 {color: $palette-info-300;}
.color-bg-palette-info-400 {background-color: $palette-info-400;}	.color-palette-info-400 {color: $palette-info-400;}
.color-bg-palette-info-500 {background-color: $palette-info-500;}	.color-palette-info-500 {color: $palette-info-500;}
.color-bg-palette-info-600 {background-color: $palette-info-600;}	.color-palette-info-600 {color: $palette-info-600;}
.color-bg-palette-info-700 {background-color: $palette-info-700;}	.color-palette-info-700 {color: $palette-info-700;}
.color-bg-palette-info-800 {background-color: $palette-info-800;}	.color-palette-info-800 {color: $palette-info-800;}
.color-bg-palette-info-900 {background-color: $palette-info-900;}	.color-palette-info-900 {color: $palette-info-900;}
.color-bg-palette-info-A100 {background-color: $palette-info-A100;}	.color-palette-info-A100 {color: $palette-info-A100;}
.color-bg-palette-info-A200 {background-color: $palette-info-A200;}	.color-palette-info-A200 {color: $palette-info-A200;}
.color-bg-palette-info-A400 {background-color: $palette-info-A400;}	.color-palette-info-A400 {color: $palette-info-A400;}
.color-bg-palette-info-A700 {background-color: $palette-info-A700;}	.color-palette-info-A700 {color: $palette-info-A700;}
.color-bg-palette-success-50 {background-color: $palette-success-50;}	.color-palette-success-50 {color: $palette-success-50;}
.color-bg-palette-success-100 {background-color: $palette-success-100;}	.color-palette-success-100 {color: $palette-success-100;}
.color-bg-palette-success-200 {background-color: $palette-success-200;}	.color-palette-success-200 {color: $palette-success-200;}
.color-bg-palette-success-300 {background-color: $palette-success-300;}	.color-palette-success-300 {color: $palette-success-300;}
.color-bg-palette-success-400 {background-color: $palette-success-400;}	.color-palette-success-400 {color: $palette-success-400;}
.color-bg-palette-success-500 {background-color: $palette-success-500;}	.color-palette-success-500 {color: $palette-success-500;}
.color-bg-palette-success-600 {background-color: $palette-success-600;}	.color-palette-success-600 {color: $palette-success-600;}
.color-bg-palette-success-700 {background-color: $palette-success-700;}	.color-palette-success-700 {color: $palette-success-700;}
.color-bg-palette-success-800 {background-color: $palette-success-800;}	.color-palette-success-800 {color: $palette-success-800;}
.color-bg-palette-success-900 {background-color: $palette-success-900;}	.color-palette-success-900 {color: $palette-success-900;}
.color-bg-palette-success-A100 {background-color: $palette-success-A100;}	.color-palette-success-A100 {color: $palette-success-A100;}
.color-bg-palette-success-A200 {background-color: $palette-success-A200;}	.color-palette-success-A200 {color: $palette-success-A200;}
.color-bg-palette-success-A400 {background-color: $palette-success-A400;}	.color-palette-success-A400 {color: $palette-success-A400;}
.color-bg-palette-success-A700 {background-color: $palette-success-A700;}	.color-palette-success-A700 {color: $palette-success-A700;}
.color-bg-palette-accent-50 {background-color: $palette-accent-50;}	.color-palette-accent-50 {color: $palette-accent-50;}
.color-bg-palette-accent-100 {background-color: $palette-accent-100;}	.color-palette-accent-100 {color: $palette-accent-100;}
.color-bg-palette-accent-200 {background-color: $palette-accent-200;}	.color-palette-accent-200 {color: $palette-accent-200;}
.color-bg-palette-accent-300 {background-color: $palette-accent-300;}	.color-palette-accent-300 {color: $palette-accent-300;}
.color-bg-palette-accent-400 {background-color: $palette-accent-400;}	.color-palette-accent-400 {color: $palette-accent-400;}
.color-bg-palette-accent-500 {background-color: $palette-accent-500;}	.color-palette-accent-500 {color: $palette-accent-500;}
.color-bg-palette-accent-600 {background-color: $palette-accent-600;}	.color-palette-accent-600 {color: $palette-accent-600;}
.color-bg-palette-accent-700 {background-color: $palette-accent-700;}	.color-palette-accent-700 {color: $palette-accent-700;}
.color-bg-palette-accent-800 {background-color: $palette-accent-800;}	.color-palette-accent-800 {color: $palette-accent-800;}
.color-bg-palette-accent-900 {background-color: $palette-accent-900;}	.color-palette-accent-900 {color: $palette-accent-900;}
.color-bg-palette-accent-A100 {background-color: $palette-accent-A100;}	.color-palette-accent-A100 {color: $palette-accent-A100;}
.color-bg-palette-accent-A200 {background-color: $palette-accent-A200;}	.color-palette-accent-A200 {color: $palette-accent-A200;}
.color-bg-palette-accent-A400 {background-color: $palette-accent-A400;}	.color-palette-accent-A400 {color: $palette-accent-A400;}
.color-bg-palette-accent-A700 {background-color: $palette-accent-A700;}	.color-palette-accent-A700 {color: $palette-accent-A700;}
.color-bg-palette-warning-50 {background-color: $palette-warning-50;}	.color-palette-warning-50 {color: $palette-warning-50;}
.color-bg-palette-warning-100 {background-color: $palette-warning-100;}	.color-palette-warning-100 {color: $palette-warning-100;}
.color-bg-palette-warning-200 {background-color: $palette-warning-200;}	.color-palette-warning-200 {color: $palette-warning-200;}
.color-bg-palette-warning-300 {background-color: $palette-warning-300;}	.color-palette-warning-300 {color: $palette-warning-300;}
.color-bg-palette-warning-400 {background-color: $palette-warning-400;}	.color-palette-warning-400 {color: $palette-warning-400;}
.color-bg-palette-warning-500 {background-color: $palette-warning-500;}	.color-palette-warning-500 {color: $palette-warning-500;}
.color-bg-palette-warning-600 {background-color: $palette-warning-600;}	.color-palette-warning-600 {color: $palette-warning-600;}
.color-bg-palette-warning-700 {background-color: $palette-warning-700;}	.color-palette-warning-700 {color: $palette-warning-700;}
.color-bg-palette-warning-800 {background-color: $palette-warning-800;}	.color-palette-warning-800 {color: $palette-warning-800;}
.color-bg-palette-warning-900 {background-color: $palette-warning-900;}	.color-palette-warning-900 {color: $palette-warning-900;}
.color-bg-palette-warning-A100 {background-color: $palette-warning-A100;}	.color-palette-warning-A100 {color: $palette-warning-A100;}
.color-bg-palette-warning-A200 {background-color: $palette-warning-A200;}	.color-palette-warning-A200 {color: $palette-warning-A200;}
.color-bg-palette-warning-A400 {background-color: $palette-warning-A400;}	.color-palette-warning-A400 {color: $palette-warning-A400;}
.color-bg-palette-warning-A700 {background-color: $palette-warning-A700;}	.color-palette-warning-A700 {color: $palette-warning-A700;}
.color-bg-palette-danger-50 {background-color: $palette-danger-50;}	.color-palette-danger-50 {color: $palette-danger-50;}
.color-bg-palette-danger-100 {background-color: $palette-danger-100;}	.color-palette-danger-100 {color: $palette-danger-100;}
.color-bg-palette-danger-200 {background-color: $palette-danger-200;}	.color-palette-danger-200 {color: $palette-danger-200;}
.color-bg-palette-danger-300 {background-color: $palette-danger-300;}	.color-palette-danger-300 {color: $palette-danger-300;}
.color-bg-palette-danger-400 {background-color: $palette-danger-400;}	.color-palette-danger-400 {color: $palette-danger-400;}
.color-bg-palette-danger-500 {background-color: $palette-danger-500;}	.color-palette-danger-500 {color: $palette-danger-500;}
.color-bg-palette-danger-600 {background-color: $palette-danger-600;}	.color-palette-danger-600 {color: $palette-danger-600;}
.color-bg-palette-danger-700 {background-color: $palette-danger-700;}	.color-palette-danger-700 {color: $palette-danger-700;}
.color-bg-palette-danger-800 {background-color: $palette-danger-800;}	.color-palette-danger-800 {color: $palette-danger-800;}
.color-bg-palette-danger-900 {background-color: $palette-danger-900;}	.color-palette-danger-900 {color: $palette-danger-900;}
.color-bg-palette-danger-A100 {background-color: $palette-danger-A100;}	.color-palette-danger-A100 {color: $palette-danger-A100;}
.color-bg-palette-danger-A200 {background-color: $palette-danger-A200;}	.color-palette-danger-A200 {color: $palette-danger-A200;}
.color-bg-palette-danger-A400 {background-color: $palette-danger-A400;}	.color-palette-danger-A400 {color: $palette-danger-A400;}
.color-bg-palette-danger-A700 {background-color: $palette-danger-A700;}	.color-palette-danger-A700 {color: $palette-danger-A700;}
.color-bg-palette-grey-50 {background-color: $palette-grey-50;}	.color-palette-grey-50 {color: $palette-grey-50;}
.color-bg-palette-grey-100 {background-color: $palette-grey-100;}	.color-palette-grey-100 {color: $palette-grey-100;}
.color-bg-palette-grey-200 {background-color: $palette-grey-200;}	.color-palette-grey-200 {color: $palette-grey-200;}
.color-bg-palette-grey-300 {background-color: $palette-grey-300;}	.color-palette-grey-300 {color: $palette-grey-300;}
.color-bg-palette-grey-400 {background-color: $palette-grey-400;}	.color-palette-grey-400 {color: $palette-grey-400;}
.color-bg-palette-grey-500 {background-color: $palette-grey-500;}	.color-palette-grey-500 {color: $palette-grey-500;}
.color-bg-palette-grey-600 {background-color: $palette-grey-600;}	.color-palette-grey-600 {color: $palette-grey-600;}
.color-bg-palette-grey-700 {background-color: $palette-grey-700;}	.color-palette-grey-700 {color: $palette-grey-700;}
.color-bg-palette-grey-800 {background-color: $palette-grey-800;}	.color-palette-grey-800 {color: $palette-grey-800;}
.color-bg-palette-grey-900 {background-color: $palette-grey-900;}	.color-palette-grey-900 {color: $palette-grey-900;}
.color-bg-palette-grey-A100 {background-color: $palette-grey-A100;}	.color-palette-grey-A100 {color: $palette-grey-A100;}
.color-bg-palette-grey-A200 {background-color: $palette-grey-A200;}	.color-palette-grey-A200 {color: $palette-grey-A200;}
.color-bg-palette-grey-A400 {background-color: $palette-grey-A400;}	.color-palette-grey-A400 {color: $palette-grey-A400;}
.color-bg-palette-grey-A700 {background-color: $palette-grey-A700;}	.color-palette-grey-A700 {color: $palette-grey-A700;}
/* stylelint-enable */
