@import 'color-exports';
@import 'typography-exports';
@import 'prototypes/assmal-ng';
@import 'prototypes/opsys';
@import 'prototypes/erfi';

#ionicons {
    li {
        float: left;
        font-size: 2.5rem;
        padding: 3px;
    }
}

:not(pre) > code[class*="language-"],
pre[class*="language-"] {
    padding: 0 0 0 1rem;
}

