.display-base-font-size::after {
    content: "#{$ux-font-size} - 1rem";
}

.display-h1::after {
    content: "#{$ux-font-size-h1-px} - #{$ux-font-size-h1}";
}

.display-h2::after {
    content: "#{$ux-font-size-h2-px} - #{$ux-font-size-h2}";
}

.display-h3::after {
    content: "#{$ux-font-size-h3-px} - #{$ux-font-size-h3}";
}

.display-h4::after {
    content: "#{$ux-font-size-h4-px} - #{$ux-font-size-h4}";
}

.display-h5::after {
    content: "#{$ux-font-size-h5-px} - #{$ux-font-size-h5}";
}

.display-h6::after {
    content: "#{$ux-font-size-h6-px} - #{$ux-font-size-h6}";
}

.display-h7::after {
    content: "#{$ux-font-size-h7-px} - #{$ux-font-size-h7}";
}

.display-h8::after {
    content: "#{$ux-font-size-h8-px} - #{$ux-font-size-h8}";
}
