.ux-tree-list-item__hover-content {
    background-color: $ux-color-primary-dark;
    height: 100%;
    left: $ux-layout-sidebar-width;
    position: fixed;
    top: $ux-layout-header-height + $ux-layout-nav-height -1;
    width: $ux-layout-sidebar-width;
}
