.ux-tree-list {
    margin-bottom: -2px;

    &--no-bullets .ux-tree-list-item-header__content::before {
        content: '';
        padding-left: 0;
    }
}

.ux-tree-list-item {
    border-top: 1px solid $ux-color-grey-lighter;
}

.ux-tree-list-item-header {
    border-left: 3px solid transparent;
    text-decoration: none;

    &:hover,
    &:focus {
        text-decoration: none;
    }

    &--primary {
        border-left: 5px solid $ux-color-primary;
    }

    &--info {
        border-left: 5px solid $ux-color-info;
    }

    &--success {
        border-left: 5px solid $ux-color-success;
    }

    &--warning {
        border-left: 5px solid $ux-color-warning;
    }

    &--danger {
        border-left: 5px solid $ux-color-danger;
    }
}

.ux-tree-list-item-header__content {
    align-items: center;
    display: flex;
    font-size: $ux-font-size-h5;
    padding: $ux-spacer-tiny;
    @include ux-font-family-bold;

    &::before {
        color: $ux-color-primary;
        content: "\f0c8";
        font-family: 'fontawesome';
        font-size: 8px;
        margin-right: $ux-spacer-small;
        padding-left: $ux-spacer-tiny;
        width: $ux-spacer-small;
    }

    &-icon {
        font-size: $ux-font-size-h5;
    }

    &-right-content {
        align-items: center;
        display: flex;
        flex: 0 0 auto;
        margin-left: auto;
        margin-right: $ux-spacer-tiny;
    }

    &-right-content-sub {
        color: $ux-color-primary;
        font-size: $ux-font-size-h6;
        margin-right: 0;
    }

    &-expand-toggle {
        color: $ux-color-font;
        cursor: pointer;
        font-size: $ux-font-size-h4;
        padding: $ux-spacer-tiny;
        text-align: center;
        width: 35px;

        &:hover {
            @include ux-box-shadow-z-depth-1;
        }
    }

    .ux-a-label {
        padding-left: 0;
    }

    .ux-a-label__label {
        color: $ux-color-primary;
        font-size: $ux-font-size-h6;
    }

    .ux-a-label__sub-label {
        font-size: $ux-font-size-h6;
        @include ux-font-family;
    }
}

.ux-tree-list-item-header__details-content {
    border-top: 1px solid $ux-color-grey-lightest;
    padding: $ux-spacer-small $ux-spacer;
}

.ux-tree-list .ux-tree-list {
    border-top: 1px solid $ux-color-grey-lightest;
    margin-bottom: $ux-spacer-tiny;
    padding-left: $ux-spacer;

    .ux-tree-list-item {
        border-top: 0;
    }

    .ux-tree-list-item-header__content {
        color: $ux-color-grey-darker;
        padding: $ux-spacer-tiny $ux-spacer-tiny $ux-spacer-tiny $ux-spacer;

        &::before {
            color: $ux-color-grey-dark;
            font-size: 8px;
            margin-right: $ux-spacer-tiny;
            margin-top: 0;
            padding-left: 0;
        }

        .ux-a-label__label {
            color: $ux-color-font;
            font-size: $ux-font-size-h6;
        }

        &-right-content-sub {
            color: $ux-color-font;
        }
    }
}

.ux-tree-list .ux-tree-list .ux-tree-list {
    padding-left: 0;

    .ux-tree-list-item-header__content {
        border-bottom: 0;
        padding: $ux-spacer-tinier $ux-spacer-tiny $ux-spacer-tinier $ux-spacer;

        &::before {
            color: $ux-color-grey;
            content: "\f0da";
            font-size: 14px;
            margin-left: $ux-spacer-tinier;
            margin-top: 1px;
            padding-left: $ux-spacer;
            padding-right: $ux-spacer-tiny;
        }

        .ux-a-label__label {
            font-size: $ux-font-size-h7;
        }

        .ux-a-label__sub-label {
            font-size: $ux-font-size-h7;
        }

        &-right-content-sub {
            color: $ux-color-grey-dark;
        }
    }
}

.ux-tree-list--no-bullets .ux-tree-list .ux-tree-list {
    .ux-tree-list-item-header__content::before {
        content: '';
    }
}

.ux-tree-list--with-items-url {
    .ux-tree-list-item-header__content .ux-a-label__label {
        color: $ux-color-primary !important;
        cursor: pointer;

        &:hover {
            text-decoration: underline;
        }
    }
}

uxtreelistitemcustomcontent {
    align-items: center;
    display: flex;
    font-size: $ux-font-size-h6;
    width: 100%;
    @include ux-font-family;
}
