.ux-fieldset {
    &__label {
        border-bottom: 1px solid $ux-color-grey-light;
        font-size: 0.9rem;
        margin-bottom: $ux-spacer-4;
        padding-bottom: $ux-spacer-small;
        text-transform: uppercase;
        @include ux-font-family-bold;
    }

    &--first {
        margin-top: $ux-spacer-small;
    }
}
