.ux-autocomplete-tag {
    position: relative;

    &__tags {
        margin-bottom: $ux-spacer-small;
        @include clearfix;
    }

    &__tags-item {
        float: left;
        margin-right: $ux-spacer-tiny;
    }

    &__tags-item-close {
        color: white;
        cursor: pointer;
        margin-left: $ux-spacer-small;
        vertical-align: middle;

        &:hover {
            color: $ux-color-accent;
        }
    }

    &__input {
        position: relative;

        &-icon {
            font-size: 17px;
            position: absolute;
            right: $ux-spacer;
            top: $ux-spacer-small;

            &:hover {
                color: $ux-color-primary;
                cursor: pointer;
            }
        }
    }

    &__dropdown-list {
        height: auto;
        margin-top: 0;
        max-height: 200px;
        overflow-x: hidden;
        width: 100%;
        @include ux-box-shadow-z-depth-2;
    }

    &__dropdown-list-item {
        border-bottom: $ux-border;
        color: $ux-color-grey-darker;
        cursor: pointer;
        margin-top: 1px;
        padding: $ux-spacer-small;

        &--selected {
            background-color: $ux-color-grey-lighter;
        }

        &--primary {
            border-left: 5px solid $ux-color-primary;
        }

        &--info {
            border-left: 5px solid $ux-color-info;
        }

        &--success {
            border-left: 5px solid $ux-color-success;
        }

        &--warning {
            border-left: 5px solid $ux-color-warning;
        }

        &--danger {
            border-left: 5px solid $ux-color-danger;
        }
    }
}
