$size: 6rem;

.ux-progress-circle-wrapper {
    position: relative;
}

.ux-progress-circle {
    background-color: #f2e9e1;
    border-radius: 100%;
    height: $size;
    line-height: $size;
    margin: $ux-spacer;
    padding: 0;
    position: relative;
    width: $size;
    @include ux-box-shadow-z-depth-1;

    &::after {
        background-color: white;
        border: none;
        border-radius: 50%;
        content: " ";
        display: block;
        height: $size*0.75;
        left: $size*0.25 / 2;
        position: absolute;
        text-align: center;
        top: $size*0.25 / 2;
        width: $size*0.75;
    }

    &__label {
        display: block;
        font-size: $size / 4.5;
        line-height: $size;
        position: absolute;
        text-align: center;
        width: $size;
        z-index: 2;
    }

    &__left-half-clipper {
        border-radius: 50%;
        clip: rect(0, $size, $size, $size/2);
        height: $size;
        position: absolute;
        width: $size;
    }

    &__value-bar {
        border: $size*0.25 / 1.9 solid $ux-color-primary;
        border-radius: 50%;
        box-sizing: border-box;
        clip: rect(0, $size/2, $size, 0);
        height: $size;
        position: absolute;
        width: $size;
    }

    &--over50 &__left-half-clipper {
        clip: rect(auto, auto, auto, auto);
    }

    &--over50 &__first50-bar {
        background-color: $ux-color-primary;
        border-radius: 50%;
        clip: rect(0, $size, $size, $size/2);
        height: $size;
        position: absolute;
        width: $size;
    }

    &:not(&--over50) &__first50-bar {
        display: none;
    }
}

.ux-progress-circle.p0 .ux-progress-circle__value-bar {
    display: none;
}
@for $i from 1 to 101 {
    $deg: $i*3.6;

    .ux-progress-circle.p#{$i} .ux-progress-circle__value-bar {
        transform: rotate(#{$deg}deg);
    }
}

.ux-progress-circle--small {
    margin: $ux-spacer-small;
    transform: scale(0.75);
}

.ux-progress-circle--large {
    margin: $ux-spacer 3rem;
    transform: scale(1.5);
}

.ux-progress-circle__icon-label {
    font-size: 26px;
    position: absolute;
    right: -10px;
    top: -7px;
}

.ux-progress-circle__icon-label--small {
    font-size: 20px;
    position: absolute;
    right: 5px;
    top: -5px;
}

.ux-progress-circle__icon-label--large {
    font-size: 32px;
    position: absolute;
    right: -15px;
    top: -10px;
}
