$size: 6rem;

.ux-progress-circle {
    &--info &__value-bar {
        border-color: $ux-color-info;
    }
}

.ux-progress-circle--info.ux-progress-circle--over50 .ux-progress-circle__first50-bar {
    background-color: $ux-color-info;
}

.ux-progress-circle {
    &--success &__value-bar {
        border-color: $ux-color-success;
    }
}

.ux-progress-circle--success.ux-progress-circle--over50 .ux-progress-circle__first50-bar {
    background-color: $ux-color-success;
}

.ux-progress-circle {
    &--warning &__value-bar {
        border-color: $ux-color-warning;
    }
}

.ux-progress-circle--warning.ux-progress-circle--over50 .ux-progress-circle__first50-bar {
    background-color: $ux-color-warning;
}

.ux-progress-circle {
    &--danger &__value-bar {
        border-color: $ux-color-danger;
    }
}

.ux-progress-circle--danger.ux-progress-circle--over50 .ux-progress-circle__first50-bar {
    background-color: $ux-color-danger;
}
