.ux-list-item {
    &:hover:not(&--hovered) {
        @include ux-hover;
    }

    &__right-content {
        align-items: center;
        display: flex;
        margin-left: auto;
    }

    &--small {
        padding: 0 $ux-spacer-tiny;
    }

    &--large {
        padding: $ux-spacer $ux-spacer-small;

        .ux-a-label__label {
            font-size: $ux-font-size-h5;
        }
    }

    &--hovered {
        background: $ux-color-grey-darkest;
        cursor: pointer;

        .ux-a-icon__icon {
            color: white;
        }
    }

    &--collapsed {
        border-bottom: 0;

        .ux-a-icon {
            padding-bottom: $ux-spacer-small;
            text-align: center;
            width: 100%;
        }

        .ux-a-label {
            display: none;
        }
    }

    &--primary {
        border-left: 5px solid $ux-color-primary;
    }

    &--info {
        border-left: 5px solid $ux-color-info;
    }

    &--success {
        border-left: 5px solid $ux-color-success;
    }

    &--warning {
        border-left: 5px solid $ux-color-warning;
    }

    &--danger {
        border-left: 5px solid $ux-color-danger;
    }

    &--muted {
        opacity: 0.4;
    }
}
