.ux-list-item-hover-content {
    background-color: $ux-color-grey-darkest;
    height: 100%;
    padding: 0 $ux-spacer-small;
    position: absolute;
    right: 100%;
    top: 0;
    width: 250px;
    z-index: 1020;

    .ux-a-label__label {
        color: white;
    }

    .ux-a-label__sub-label {
        color: $ux-color-grey-light;
    }
}
