.ux-list-item-wrapper {
    display: block;
    overflow: hidden;
    position: relative;
}

.ux-list-item {
    align-items: center;
    background-color: white;
    border-bottom: $ux-border;
    display: flex;
    padding: $ux-spacer-small $ux-spacer-small;

    &__right-content {
        align-items: center;
        display: flex;
        margin-left: auto;
    }

    .ux-a-label__label {
        font-size: 1rem;
    }
}

uxlistitemcontent {
    align-items: center;
    display: flex;
    width: 100%;

    .ux-a-tag {
        padding-right: 1rem;
    }

    .row {
        width: 100%;
    }
}
