button,
.btn {
    cursor: pointer;
    font-size: $ux-font-size;
    @include ux-box-shadow-z-depth-1;
}

.input-group-btn {
    button,
    .btn {
        border: 1px solid $ux-color-grey-lighter;
        @include ux-box-shadow-none;
    }
}

.btn-primary,
.btn-secondary,
.btn-info,
.btn-success,
.btn-warning,
.btn-danger,
.btn-accent {
    border: 0;
}

button:focus,
.btn:focus {
    @include ux-box-shadow-z-depth-2;
}

.btn-secondary,
.btn-outline-secondary {
    color: $ux-color-grey-dark;
}

.btn-outline-secondary {
    border: 1px solid $ux-color-grey-light;
}

.btn-outline-secondary:focus,
.btn-outline-secondary:hover {
    background-color: $ux-color-grey-lighter;
    color: $ux-color-grey-dark;
}

.btn-primary:focus,
.btn-primary:hover,
.btn-outline-primary:focus,
.btn-outline-primary:hover {
    background-color: $ux-color-primary-light;
    color: white;
}

.btn-info:focus,
.btn-info:hover,
.btn-outline-info:focus,
.btn-outline-info:hover {
    background-color: $ux-color-info-light;
    color: white;
}

.btn-success:focus,
.btn-success:hover,
.btn-outline-success:focus,
.btn-outline-success:hover {
    background-color: $ux-color-success-light;
    color: white;
}

.btn-warning:focus,
.btn-warning:hover,
.btn-outline-warning:focus,
.btn-outline-warning:hover {
    background-color: $ux-color-warning-light;
    color: white;
}

.btn-danger:focus,
.btn-danger:hover,
.btn-outline-danger:focus,
.btn-outline-danger:hover {
    background-color: $ux-color-danger-light;
    color: white;
}

.btn-success.active,
.btn-info.active,
.btn-warning.active,
.btn-danger.active,
.btn-primary.active,
.btn-secondary.active {
    background-color: $ux-color-accent;
    color: $ux-color;
}

.btn-accent {
    background-color: $ux-color-accent;
    color: $ux-color;
}

.btn-accent:focus,
.btn-accent:hover {
    background-color: $ux-color-accent-dark;
}

.btn-primary-dark {
    background-color: $ux-color-primary-dark;
    color: white;

    &:focus,
    &:hover {
        background-color: $ux-color-primary;
    }
}

.btn-info-dark {
    background-color: $ux-color-info-dark;
    color: white;

    &:focus,
    &:hover {
        background-color: $ux-color-info;
    }
}

.btn-success-dark {
    background-color: $ux-color-success-dark;
    color: white;

    &:focus,
    &:hover {
        background-color: $ux-color-success;
    }
}

.btn-warning-dark {
    background-color: $ux-color-warning-dark;
    color: white;

    &:focus,
    &:hover {
        background-color: $ux-color-warning;
    }
}

.btn-danger-dark {
    background-color: $ux-color-danger-dark;
    color: white;

    &:focus,
    &:hover {
        background-color: $ux-color-danger;
    }
}

