.fixed-action-btn {
    bottom: 50px;
    margin-bottom: 0;
    padding-top: 15px;
    position: fixed;
    right: 25px;
    z-index: 1043;
}

.btn-floating {
    background-color: $ux-color-accent;
    border-radius: 50%;
    color: $ux-color;
    display: inline-block;
    height: 37px;
    line-height: 37px;
    margin: 10px;
    overflow: hidden;
    padding: 0;
    position: relative;
    transition: 0.3s;
    vertical-align: middle;
    width: 37px;
    z-index: 1;
    @include ux-box-shadow-z-depth-2;

    &:hover {
        cursor: pointer;
        @include ux-box-shadow-z-depth-3;
    }

    i,
    .fa,
    .icon {
        color: $ux-color;
        display: inline-block;
        font-size: $ux-font-size-h3;
        line-height: 37px;
        text-align: center;
        width: inherit;
    }

    &::before {
        border-radius: 0;
    }

    &.btn-large {
        height: 55.5px;
        width: 55.5px;

        i,
        .fa,
        .icon {
            line-height: 58px;
        }
    }
}
