.assmal-ng {
    #main-content {
        padding: 0;
    }

    .sidebar {
        .logo-wrapper {
            background-color: transparent;
            height: 50px;

            .logo {
                background-image: url(#{$ux-assets-path}/images/showcase/assmal-ng.png);
                height: 32px;
                width: 135px;
            }
        }
    }
}

#nav-bar {
    .ux-language-selector {
        a.language-toggle {
            background-image: url(#{$ux-assets-path}/images/nexteuropa/language/bubble-lgg.png);
            margin-top: 10px;

            .language-label {
                color: #fff;
            }

            &:hover,
            &:focus {
                background-color: $ux-color-grey-lightest;
            }

            .language-code {
                color: white;
            }
        }
    }
}
