$ops-bg-gradient-from: #2eaeeb;
$ops-bg-gradient-to: #00579c;
$ops-blue: #006fb4;
$ops-blue-light: #0070b5;
$ops-blue-dark: #005d96;
$ops-blue-darker: #004773;

.opsys {
    #app-header {
        .title .opsys-logo {
            background: url(#{$ux-assets-path}/images/showcase//opsys-logo.png) no-repeat;
            background-size: cover;
            height: 44px;
            margin-left: 20px;
            margin-top: 32px;
            width: 133px;
        }
    }

    #nav-bar {
        background-color: $ops-blue-light;
        border-bottom: 1px solid $ux-color-primary-dark;
    }

    /*
    #main {
        background: $ops-bg-gradient-from;
        background: -moz-radial-gradient(center, ellipse cover, $ops-bg-gradient-from 0%, $ops-bg-gradient-to 100%);
        background: -webkit-radial-gradient(center, ellipse cover, $ops-bg-gradient-from 0%, $ops-bg-gradient-to 100%);
        background: radial-gradient(ellipse at center, $ops-bg-gradient-from 0%, $ops-bg-gradient-to 100%);
    }
    */

    .sidebar.inner-sidebar {
        background-color: $ops-blue-dark;

        .sidebar-inner {
            .sidebar-item__header {
                border-bottom: 1px solid rgba(255, 255, 255, 0.2);

                &--active,
                &:hover {
                    background-color: $ops-blue-darker;
                    color: #fff;
                    transition: 250ms ease;
                    white-space: nowrap;
                }
            }
        }
    }

    $app-footer-background: $ops-blue-light;

    #app-footer {
        .ops-footer {
            & ul li {
                background: none;
                display: inline-block;
                padding-left: 0.75rem;
                text-decoration: none;

                &::before {
                    content: '|';
                    padding-right: 0.75rem;
                }

                & a {
                    text-decoration: none;

                    &:hover {
                        border-bottom: 1px dotted $ux-color-accent;
                        color: $ux-color-accent;
                    }

                    &:active,
                    &:visited,
                    &:hover {
                        text-decoration: none;
                    }
                }
            }
        }
    }
}
@include media($ux-bkp-mobile) {
    .opsys {
        #app-header .title .opsys-logo {
            display: none;
        }

        /*
        #app-header {
            background-color: $ops-blue-light;
        }
        */

        #nav-bar {
            background-color: transparent !important;
        }

        #app-header .profile-wrapper {
            display: none;
        }
    }
}
