// BUTTONS TRANSITION FROM jSCAF / eUI

a.button-link                 { float:left; cursor:pointer; }
a.button-link.full-width      { width: 95%; margin-bottom: 3px !important;}
a.button-link:hover           { text-decoration: none !important; vertical-align:middle; }
div.button-link:hover         { text-decoration: none !important; vertical-align:middle; }

.button.disabled em                 { color: #c1c0c0; }
.button.disabled:hover              { color: #c1c0c0; }

a.button-link.full-width em               { width: 100% !important; padding: 0 !important; text-align:center; }
a.button-link.full-width b                { margin-left: 8px; margin-right: -15px;}
a.button-link.full-width .button          { width: 100%;}


.button                       { display: block; background-repeat: repeat-x; line-height: 29px; overflow: hidden; position: relative; top: 0; left: 0;  float: left; margin: 0 8px 0 0; color: #374050; padding: 0 8px;
                                background-color: #E2E2E2; border: 1px solid #ADADAD; background-image: none; border-radius: 3px;}
.button:hover                 { background-color: #D2D2D2; border: 1px solid #999;}
.button.small                 { line-height: 20px; padding: 0 4px;}
.button.big                   { line-height: 40px; padding: 0 15px;}
.button.last-right            { margin-right:0 !important; }
.button em                    { display:block; padding: 0 0 0 23px; margin: 0 !important; text-align:center !important; width: auto !important;}
.button.no-icon em            { padding: 0; }
.button.no-label em           { padding-left: 12px; }
.button.no-label .icon-button { margin-left:3px; width:20px; }
.button.no-label.big .icon-button { margin-top: 6px; margin-left:2px;}
.button.no-label.big .fa.icon-button { margin-top: 3px; margin-left:2px;}
a.button-secondary-link       { margin-top: 10px;}

.button.blue_button       { background-color: $ux-color-primary; border: 1px solid #ADADAD; background-image: none; border-radius: 3px; color: #fff;}
.button.blue_button:hover { background-color: $ux-color-primary-dark; border: 1px solid $ux-color-primary-darker;}
.button.blue_button em    { color: white;}

.button.green_button       { background-color: $ux-color-success; border: 1px solid #ADADAD; background-image: none; border-radius: 3px; color: #fff;}
.button.green_button:hover { background-color: $ux-color-success-light; border: 1px solid $ux-color-success-dark;}
.button.green_button em    { color: white;}

.button.red_button         { background-color: $ux-color-danger; border: 1px solid #ADADAD; background-image: none; border-radius: 3px; color: #fff;}
.button.red_button:hover   { background-color: $ux-color-danger-light; border: 1px solid $ux-color-danger-dark;}
.button.red_button em    { color: white;}

.button.orange_button       { background-color: $ux-color-warning; border: 1px solid #ADADAD; }
.button.orange_button:hover { background-color: $ux-color-warning-light; border: 1px solid $ux-color-warning-dark;}
.button.orange_button em    { color: white;}

.button.black_button        { background-color: #434343; border: 1px solid #ADADAD; background-image: none; border-radius: 3px; color: #fff;}
.button.black_button:hover  { background-color: #363636; border: 1px solid #999;}
.button.black_button em    { color: white;}

.icon-button                   { background-repeat: no-repeat; height: 16px; width: 16px; margin-top: 6px; float:left;}
.fa.icon-button                { font-size: 16px;}
.button.small .fa.icon-button  { font-size: 14px; margin-left: 3px;}
.button.small .icon-button     { margin-top: 3px;}
.button.big .fa.icon-button    { font-size: 20px; margin-left: -3px; margin-top: 10px;}
.button.big .icon-button       {margin-top: 11px; margin-left: -2px;}

.button.no-label { height:28px; }
.button.small.no-label { height: 21px ;}
.button.no-label em { display: none; }

.box > .header > .header-right > a.button-link                     { top: 4px; }
.box > .header > .header-right > a.button-link > .button.alternate { top: -4px; }
