.text-color-error,b.error       { color: $ux-color-danger-dark !important;   }
.text-color-blue,b.blue     { color: $ux-color-primary !important;   }
.text-color-black,b.black           { color: #333 !important;   }
.text-color-turquoise,b.turquoise       { color: #008ef0 !important;   }
.text-color-purple,b.purple          { color: #B16094  !important;   }
.text-color-red,b.red       { color: $ux-color-danger-dark !important;  }
.text-color-orange,b.orange          { color: $ux-color-warning-dark !important;  }
.text-color-green,b.green     { color: $ux-color-success-dark !important;  }
.text-color-dark-green,b.dark-green   { color: $ux-color-success-dark !important;  }
.text-color-yellow,b.yellow     { color: $ux-color-accent !important;   }
.text-color-dark-yellow,b.dark-yellow   { color: $ux-color-accent-dark  !important;   }
.text-color-white,b.white           { color: #FFFFFF !important;   }
.text-color-grey,b.grey       { color: #999999 !important;   }
.text-color-dark-grey,b.dark-grey     { color: #444 !important;   }
.text-color-light-grey,b.light-grey     { color: #666 !important;   }
.text-color-lighter-grey,b.lighter-grey     { color: #999 !important;   }

.bgcolor-red        { background-color: $ux-color-danger-lightest !important; }
.bgcolor-red-light      { background-color: $ux-color-danger-lightester !important; }
.bgcolor-orange       { background-color: $ux-color-warning-lighter !important; }
.bgcolor-orange-light   { background-color: $ux-color-warning-lightest !important; }
.bgcolor-blue       { background-color: $ux-color-primary-lighter !important; }
.bgcolor-blue-light     { background-color: $ux-color-primary-lightest !important; }
.bgcolor-blue-dark      { background-color: $ux-color-primary !important; }
.bgcolor-yellow       { background-color: $ux-color-accent-light !important; }
.bgcolor-grey-light     { background-color: #f8f8f8 !important; }
.bgcolor-grey-dark      { background-color: #d7d7d7 !important; }
.bgcolor-white        { background-color: #fff !important; }
.bgcolor-green        { background-color: $ux-color-success-lightest !important; }
.bgcolor-green-light    { background-color: $ux-color-success-lightester !important; }
