ul.dashboard-tiles {
	
	@include clearfix;

	margin: 0;
	padding: 0;

	li {
		height: 6rem;
		width: 100%;
		border: 1px solid $ux-color-grey-light;
		background-color: $ux-color-grey-lightest;
		float:left;
		margin: 1px;

		a {
			position: relative;

			i {
				display: flex;
				justify-content: center;
				flex-direction: column;			
				font-size: 4em;
				float: left;
				width: 40%;
				height: 100%;
				text-align: center;
			}

			.description {
				display: flex;
				justify-content: center;
				flex-direction: column;
				float: left;
				width: 60%;
				height: 100%;
				
				.title {
					font-size: $ux-font-size-h5;
					font-weight: bold;
				}
				.subtitle {
					font-size: $ux-font-size-h7;
					padding-top: $ux-spacer-tiny;
				}
			}

		}

		&:hover {
			background-color: $ux-color-grey-lighter;
		}


		&.success a i {
			color: $ux-color-success;
		}
		&.warning a i {
			color: $ux-color-warning;
		}
		&.danger a i {
			color: $ux-color-danger;
		}		

		&:hover a i { 
			color: $ux-color-success; 
		}



	}

}

ul.dashboard-tiles {
  .col-xs-1, .col-xs-2, .col-xs-3, .col-xs-4, .col-xs-5, .col-xs-6, .col-xs-7, .col-xs-8, .col-xs-9, .col-xs-10, .col-xs-11, .col-xs-12, .col-sm-1, .col-sm-2, .col-sm-3, .col-sm-4, .col-sm-5, .col-sm-6, .col-sm-7, .col-sm-8, .col-sm-9, .col-sm-10, .col-sm-11, .col-sm-12, .col-md-1, .col-md-2, .col-md-3, .col-md-4, .col-md-5, .col-md-6, .col-md-7, .col-md-8, .col-md-9, .col-md-10, .col-md-11, .col-md-12, .col-lg-1, .col-lg-2, .col-lg-3, .col-lg-4, .col-lg-5, .col-lg-6, .col-lg-7, .col-lg-8, .col-lg-9, .col-lg-10, .col-lg-11, .col-lg-12, .col-xl-1, .col-xl-2, .col-xl-3, .col-xl-4, .col-xl-5, .col-xl-6, .col-xl-7, .col-xl-8, .col-xl-9, .col-xl-10, .col-xl-11, .col-xl-12, .col-xxl-1, .col-xxl-2, .col-xxl-3, .col-xxl-4, .col-xxl-5, .col-xxl-6, .col-xxl-7, .col-xxl-8, .col-xxl-9, .col-xxl-10, .col-xxl-11, .col-xxl-12 {
      padding-left: 0;
      padding-right: 2px;
  }
}


@include media($ux-bkp-mobile) {
	ul.dashboard-tiles {
		li {
			width: 100%;
		}
	}
}

