// TRANSITION FROM jSCAF / eUI

ul#dashboard-buttons                { padding-top: 0; }
ul#dashboard-buttons.JS_center          { float:left !important; }
ul#dashboard-buttons.big            { padding-top: 8px; }
ul#dashboard-buttons li             { float:left; margin: 5px; border: 1px solid rgb(255, 255, 255);}
ul#dashboard-buttons li a {
  display: block;
  width: 108px;
  padding: 10px 2px 6px 8px;
  height: 110px;
  text-align: center;
  background-color: #FAFAFA;
  border: #dedede solid 1px;
  color: #333;
  text-decoration: none;
  overflow: hidden;
  font-size: $ux-font-size-h7;
  font-family:$ux-font-family; }
ul#dashboard-buttons.big li a             { width: 125px; }
ul#dashboard-buttons li a span.icon-dashboard { display:block; height: 48px; width: 48px; margin: 0 auto; margin-bottom: 10px; background-repeat:no-repeat;}
ul#dashboard-buttons.big li a span.icon-dashboard { margin-left: 30px; }
ul#dashboard-buttons li a.counter-box       { padding-top: 10px;  height: 65px; width: 120px;}
ul#dashboard-buttons li a div.item-title    { padding-top: 5px;}
ul#dashboard-buttons li a:hover         { background-color:#efefef; border-color: #d0d0d0;  color: #000; }
.bw ul#dashboard-buttons li a:hover         { border-color: #000; color: #000; }
ul#dashboard-buttons li a i.icon      { color: #8B8B8B; font-size: 44px !important; }
ul#dashboard-buttons li a:hover i.icon      { color: #004494 !important; }
ul#dashboard-buttons li a:active        { border: #004494 1px solid;  }
.bw ul#dashboard-buttons li a:active        { border-color: #333;}

ul#dashboard-buttons li .button-notification             { border: 0 none; position: absolute;  width: 37px;  height: 37px; display: block; text-align: center; margin-top: -16px;  margin-left: 75px;  padding-top: 10px; }
ul#dashboard-buttons.big li .button-notification         { margin-left: 100px; }
ul#dashboard-buttons li .button-notification.with-items      { color: #ffffff; background: transparent url('#{$ux-assets-path}/images/integration/bg_notification.png') no-repeat center; }
ul#dashboard-buttons li .button-notification.with-items-info { color: #ffffff; background: transparent url('#{$ux-assets-path}/images/integration/bg_notification_blue.png') no-repeat center !important; }
ul#dashboard-buttons li .button-notification.without-items   { color: #ffffff; background: transparent url('#{$ux-assets-path}/images/integration/bg_notification_grey.png') no-repeat center !important; }

ul#dashboard-buttons li.red a                 { border: #FF7979 solid 1px; background-color:#FFE3E3; }
ul#dashboard-buttons li.red a:hover           { border:#FF0000 solid 1px; background-color:#FFBBBB; color: #ff0000; }
ul#dashboard-buttons li.red a i.icon          { color: #FC6B6B; }
ul#dashboard-buttons li.red a:hover i.icon    { color: #ff0000!important; }

ul#dashboard-buttons li.red a div.item-counter  { color: #ff4040;}
ul#dashboard-buttons li.red a:hover div.item-counter  { color: #ff0000;}

ul#dashboard-buttons li.green a       { border: #78E995  solid 1px; background-color: #e3ffea; }
ul#dashboard-buttons li.green a:hover   { background-color: #baffcc; }

ul#dashboard-buttons li.blue a       { border: #8BCFFF  solid 1px; background-color: #C8EBFF; }
ul#dashboard-buttons li.blue a:hover   { background-color: rgba(67, 170, 231, 0.44); }

ul#dashboard-buttons li.yellow a       { border: #DFE1A2   solid 1px; background-color: #F8F9E8; }
ul#dashboard-buttons li.yellow a:hover   { background-color: #E6E8C1; }

ul#dashboard-buttons li.orange a        {border: #FFD7AF solid 1px;background-color: #FFF5EA;}
ul#dashboard-buttons li.orange a:hover   {background-color: #FFD9B1;}

ul#dashboard-buttons li a span.icon-dashboard { font-size: 48px; display:block; height: 48px; width: 48px; margin: 0 auto; margin-bottom: 10px; background-repeat:no-repeat;}
ul#dashboard-buttons li a span.icon-dashboard.fa { margin-left: 20px; margin-top: 5px; color: #555;}
ul#dashboard-buttons li:hover a span.icon-dashboard.fa { color: #333;}

ul#dashboard-buttons li a.disabled { opacity: 0.5; background-color: #f2f2f2; border: #fff solid 1px; color: #999; cursor: default;}
ul#dashboard-buttons li a.disabled:hover { background-color: #f2f2f2}

