#fixed-top-banner {
    position: fixed; z-index:20000; width: 100%;

    .message {
        color: #fff; padding: 10px; border-bottom: 2px solid;
    }
    .message.info        {
        background-color: $ux-color-info; border-color: $ux-color-info-dark;
    }
    .message.danger,
    .message.error  {
        background-color: $ux-color-danger; border-color: $ux-color-danger-dark;
    }
    .message.warning     {
        background-color: $ux-color-warning; border-color: $ux-color-warning-dark;
    }
    .message.success     {
        background-color: $ux-color-success; border-color: $ux-color-success-dark;
    }
    .message h3          { color: #fff; margin: 0 0 5px 0; font-size: $ux-font-size-h6; }
    .message p           { margin-bottom: 10px; }
    .message li          { margin-left: 10px; margin-bottom:2px; background-color: $ux-color-danger; padding:3px;}
    .message li:hover    { color: #ffff00; background-color: $ux-color-danger-dark;}
    .close-message       { background: url(#{$ux-assets-path}/images/integration/close.png) no-repeat; float:right; height:30px; width: 30px; cursor: pointer; margin-right: 5px; margin-top: 3px;}
    .close-message:hover { background: url(#{$ux-assets-path}/images/integration/close-hover.png);}
}
