.no-margin-top {
	margin-top: 0 !important;
}

.no-padding {
	padding: 0 !important;
}

.center {
	text-align: center;
}


.cl                         { clear: both; }
.clear:before, .clear:after { content: ""; display: table; }
.clear:after                { clear: both; }

.clearfix {
    @include clearfix;
}



.fl                         { float: left !important}
.fr                         { float: right !important}
.fl-space                   { float: left; margin-right: 5px; }
.fr-space                   { float: right; margin-left: 5px; }
.fl-space2                  { float: left; margin-right: 10px; }
.fr-space2                  { float: right; margin-left: 10px; }
.no-fl                      { float: none !important; }

.center                     { text-align: center !important; margin: auto !important; }
.right                      { text-align: right !important; }
.left                       { text-align: left !important; }
.middle                     { vertical-align: middle !important; }
.top                        { vertical-align: top !important; }
.bottom                     { vertical-align: bottom !important; }
.pos-fixed                  { position: fixed !important;}
.auto-width                 { width: auto !important; padding-left: 2px !important; padding-right: 2px !important; }

.no-margin                  { margin: 0 !important; }
.no-border                  { border: 0 none !important; }
.no-ml                      { margin-left: 0 !important; }
.no-mr                      { margin-right: 0 !important; }
.no-mt                      { margin-top: 0 !important; }
.no-mb                      { margin-bottom: 0 !important; }

.mr                         { margin-right: 15px !important;}
.ml                         { margin-left: 15px !important;}
.mt                         { margin-top: 10px !important;}
.mb                         { margin-bottom: 10px !important;}


small                       { line-height: 14px; display: block; }

.rule                       { padding-top: 12px  ; padding-bottom: 0; background: url(data:image/gif;base64,R0lGODlhHgACAJEAAAAAAP///8TExAAAACwAAAAAHgACAAACCpSPqWvhD6OcrgAAOw==) 0 10px repeat-x; width: 90%; margin: 8px auto; }
.hr,hr                      { clear: both; padding: 0; margin-bottom: 5px !important; margin-top: 3px !important; height: 5px; background: transparent url(data:image/gif;base64,R0lGODlhBQAFAJECANbX2P3+/v///wAAACH5BAEAAAIALAAAAAAFAAUAAAIHlA2Zwe1nCgA7) repeat-x 0 0; }
.hr.no-margin               { margin:0 !important; }

.cr-help                    { cursor: help; }
.cr-pointer                 { cursor: pointer !important; }
.cr-default                 { cursor: default !important; }


.section-title-bullet .button           { margin-top: -6px; margin-right: 0; margin-left: 5px;}

br                              { clear: both; }

.page p                         { margin: 0; padding-bottom: 5px; line-height: 16px; }
.page p.description             { margin: 0; padding-bottom: 5px; padding-top: 0; line-height: 14px; }

.code                           { background-color: #FAFAFA; color: #004494; font-family: "Courier New",Courier,monospace,sans-serif;  padding: 2px 5px 3px 5px; margin-bottom: 5px; border-left: 3px solid #dedede; margin-top: 6px;}
.code .highlight                { color: #ff001c; }

pre                             { border: 0 none; background: transparent;}

ul.standard                     { list-style-type: square; padding: 10px 0 10px 16px; }
ul.standard ul                  { list-style-type: square; padding: 5px 0 5px 16px; }

.text-align-right               { text-align: right !important; }
.text-align-left                { text-align: left !important; }
.text-align-center              { text-align: center !important; }

h1,h2,h3,h4,h5,h6,
.h1,.h2,.h3,.h4,.h5,.h6 {
    margin-top: 0;
    margin-bottom: 0;
}

.alert p {
    margin-top: 0;
}

