
.columns            { width: 100%; }
.columns .box-wrapper, .columns .box { margin-right: 15px; }
.col-20                         { width: 19.7%; float: left; margin-right: 0; }
.col-25             { width: 24.7%; float: left; margin-right: 0; }
.col-33             { width: 32.9%; float: left; margin-right: 0; }
.col-50                         { width: 49.4%; float: left; margin-right: 0; }
.col-66                         { width: 66.4%; float: left; margin-right: 0; }
.col-75             { width: 74.3%; float: left; margin-right: 0; }
.col-80                         { width: 79.2%; float: left; margin-right: 0; }

.col1-5             { width: 19.7%; float: left; margin-right: 0; }
.col1-4             { width: 24.7%; float: left; margin-right: 0; }
.col1-3             { width: 32.9%; float: left; margin-right: 0; }
.col1-2                         { width: 49.4%; float: left; margin-right: 0; }
.col3-4             { width: 74.3%; float: left; margin-right: 0; }
.col4-5                         { width: 78.5%; float: left; margin-right: 0; }
.lastcol            { margin-right: 0; }


.col-20.lastcol .box-wrapper    { margin-right: 0 !important;}
.col-25.lastcol .box-wrapper    { margin-right: 0 !important;}
.col-33.lastcol .box-wrapper    { margin-right: 0 !important;}
.col-50.lastcol .box-wrapper    { margin-right: 0 !important;}
.col-66.lastcol .box-wrapper    { margin-right: 0 !important;}
.col-75.lastcol .box-wrapper    { margin-right: 0 !important;}
.col-80.lastcol .box-wrapper    { margin-right: 0 !important;}

.col1-5.lastcol .box-wrapper    { margin-right: 0 !important;}
.col1-4.lastcol .box-wrapper    { margin-right: 0 !important;}
.col1-3.lastcol .box-wrapper    { margin-right: 0 !important;}
.col1-2.lastcol .box-wrapper    { margin-right: 0 !important;}
.col3-4.lastcol .box-wrapper    { margin-right: 0 !important;}
.col4-5.lastcol .box-wrapper    { margin-right: 0 !important;}



@include media($ux-bkp-mobile) {
   .col-20               { width: 100%; float: left; margin-right:5px; }
   .col-25       { width: 100%; float: left; margin-right:5px; }
   .col-33       { width: 100%; float: left; margin-right:5px; }
   .col-50               { width: 100%; float: left; margin-right:5px; }
   .col-75       { width: 100% !important; float: left; margin-right:5px; }
   .col-80               { width: 100% !important; float: left; margin-right:5px; }

   .col1-5       { width: 100%; float: left; margin-right:5px; }
   .col1-4       { width: 100%; float: left; margin-right:5px; }
   .col1-3         { width: 100%; float: left; margin-right:5px; }
   .col1-2       { width: 100%; float: left; margin-right:5px; }
   .col3-4       { width: 100%; float: left; margin-right:5px; }
   .col4-5         { width: 100%; float: left; margin-right:5px; }


   .col-20.lastcol .box-wrapper    { margin-right: 5px !important;}
   .col-25.lastcol .box-wrapper    { margin-right: 5px !important;}
   .col-33.lastcol .box-wrapper    { margin-right: 5px !important;}
   .col-50.lastcol .box-wrapper    { margin-right: 5px !important;}
   .col-66.lastcol .box-wrapper    { margin-right: 5px !important;}
   .col-75.lastcol .box-wrapper    { margin-right: 5px !important;}
   .col-80.lastcol .box-wrapper    { margin-right: 5px !important;}

   .col1-5.lastcol .box-wrapper    { margin-right: 5px !important;}
   .col1-4.lastcol .box-wrapper    { margin-right: 5px !important;}
   .col1-3.lastcol .box-wrapper    { margin-right: 5px !important;}
   .col1-2.lastcol .box-wrapper    { margin-right: 5px !important;}
   .col3-4.lastcol .box-wrapper    { margin-right: 5px !important;}
   .col4-5.lastcol .box-wrapper    { margin-right: 5px !important;}
}




