.action-box:not(.box), .inner-box {
  @include clearfix;

  margin: $ux-spacer 0;
  background-color: $ux-color-grey-lightest;
  padding: $ux-spacer;
  border: 1px solid $ux-color-grey-light;

  &.fixed {
    position: fixed;
    width: 100%;
  }

  &.mlr {
    margin: 0 2rem;
  }

  &.auto-width {
    display: inline-block;
    padding: $ux-spacer-small;
  }

  &.blue, &.primary {
    background-color: $ux-color-info-lightester-2;
    border: 1px solid $ux-color-info-lightest;
  }
  &.red, &.danger {
    background-color: $ux-color-danger-lightester-2;
    border: 1px solid $ux-color-danger-lightest;
  }
  &.green, &.success {
    background-color: $ux-color-success-lightester-2;
    border: 1px solid $ux-color-success-lightest;
  }
  &.orange, &.warning {
    background-color: $ux-color-warning-lightester;
    border: 1px solid $ux-color-warning-lightest;
  }


  &.invalid, &.error {
    border: 1px solid $ux-color-danger;
  }


  h1 {
    margin-bottom: $ux-spacer;
    padding-bottom: $ux-spacer-small;
    border-bottom: 1px dotted $ux-color-grey;
    font-size: $ux-font-size-h4;
  }

  h2 {
    margin-bottom: $ux-spacer-small;
    padding-bottom: $ux-spacer-tiny;
    border-bottom: 1px dotted $ux-color-grey;
    font-size: $ux-font-size-h6;
  }
}


@include media($ux-bkp-desktop-up) {
  .action-box.fixed, .inner-box.fixed {
    width: $ux-layout-largedesktop-body-width;
  }
}



.inner-box h1.hr-border {
  border: 0 !important;
  padding-bottom: 0 !important;
}




/* STATUS BOX */

.status-box {
  background: #39C;
  padding: 2px 5px 2px 3px !important;
  color: white;
  text-transform: uppercase;
  white-space: nowrap;
}

.status-box.full-width {
  display: block;
}

.status-box > a {
  color: #fff !important;
  padding-left: 5px;
  cursor: default;
  text-decoration: none;
}

/* colors by color name */

.status-box.blue {
  background: $ux-color-info;
  border: 1px solid $ux-color-info-dark;
}

.status-box.grey {
  background: $ux-color-grey-light;
  border: 1px solid $ux-color-grey-dark;
}

.status-box.green {
  background: $ux-color-success;
  border: 1px solid $ux-color-success-dark;
}

.status-box.red {
  background: $ux-color-danger;
  border: 1px solid $ux-color-danger-dark;
}

.status-box.orange {
  background: $ux-color-warning;
  border: 1px solid $ux-color-warning-dark;
}

.status-box.yellow {
  background: $ux-color-accent-light;
  border: 1px solid $ux-color-accent;

  > a {
      color: #333;
  }
}


.status-box.white {
  background: #fff;
  border: 1px solid $ux-color-grey;

  > a {
      color: #333;
  }
}

