.col-lg-3 {
    .ux-sticky,
    .ux-sticky-end {
        width: 22.5% !important;
    }
}
@include media($ux-bkp-mobile) {
    .ux-sticky,
    .ux-sticky-end {
        position: static !important;
    }
}
@include media($ux-bkp-tablet) {
    .ux-sticky,
    .ux-sticky-end {
        position: static !important;
    }
}
