.ux-language-selector {
    display: inline;
    line-height: 20px !important;
    @include clearfix;

    a.language-toggle {
        background: url(#{$ux-assets-path}/images/nexteuropa/language/bubble-lgg.png) 100% 4px no-repeat;
        float: right;
        padding: 5px !important;

        &:hover,
        &:focus {
            background-color: $ux-color-grey-lighter;
            color: $ux-color-primary;
        }

        .language-label {
            float: left;
            font-size: 14px;
            margin-right: 10px !important;
            margin-top: -2px;
            @include ux-font-family-bold;
        }

        .language-code {
            background-color: transparent !important;
            color: #fff;
            float: left;
            font-size: 14px;
            margin-right: -3px;
            margin-top: -4px;
            padding: 0.15rem;
        }
    }

    .dropdown-menu {
        left: -2rem;
    }
}

#nav-bar {
    .ux-language-selector {
        display: block;
        height: 50px;

        a.language-toggle {
            background-image: url(#{$ux-assets-path}/images/nexteuropa/language/bubble-lgg-inverse.png);
            margin-top: 10px;

            .language-label {
                color: #fff;
            }

            &:hover,
            &:focus {
                background-color: $ux-color-primary-dark;
                color: $ux-color-accent;
            }

            .language-code {
                color: $ux-color-primary;
            }
        }
    }
}

.ux-language-selector {
    display: inline;
    line-height: 2rem;

    a.language-toggle {
        .language-label {
            margin-right: $ux-spacer-tiny;
        }

        .language-code {
            background-color: #dedede;
            padding: 0.15rem;
        }
    }
}

.ux-language-selector-modal {
    .modal-dialog {
        .row {
            .col-md-3 {
                padding: 10px;
                text-align: center;

                button.btn {
                    padding: 6px;
                    //width: 8.5rem;
                    width: 100%;

                    label {
                        margin: 0;
                    }
                }
            }
        }
    }
}

.dropdown-menu {
    margin-top: 0;
}

