.ux-a-marker {
    margin: 0 $ux-spacer-tiny;

    &__icon {
        color: $ux-color-grey-dark;
        font-size: $ux-font-size;
    }

    &--large {
        padding: $ux-spacer-tiny;
    }

    &--large {
        padding: $ux-spacer;
    }

    &--primary &__icon {
        color: $ux-color-primary;
    }

    &--info &__icon {
        color: $ux-color-info;
    }

    &--success &__icon {
        color: $ux-color-success;
    }

    &--warning &__icon {
        color: $ux-color-warning;
    }

    &--danger &__icon {
        color: $ux-color-danger;
    }
}
