.ux-a-toolbar-filter {
    background-color: $ux-color-grey-lightester;
    border-bottom: 1px solid $ux-color-grey-lighter;
    padding: $ux-spacer-small;

    &-content {
        align-items: center;
        display: flex;
    }

    &-trigger-wrapper {
        margin-left: $ux-spacer;
    }

    &-trigger {
        margin-right: $ux-spacer-tiny;
    }

    &-filter {
        position: relative;
        width: 100%;
    }

    &-filter-input {
        width: 100%;
    }

    &-filter-input-search-icon {
        position: absolute;
        right: $ux-spacer-small;
        top: $ux-spacer-small;
    }
}
