.ux-a-icon {
    margin: 0 $ux-spacer-tiny;
    padding: $ux-spacer-small;
    text-align: center;

    &__icon {
        font-size: $ux-font-size-h4;
    }

    &__label-wrapper {
        color: $ux-color-font;
        margin-top: $ux-spacer;
    }

    &--tiny {
        padding: $ux-spacer-tiny;
    }

    &--large {
        padding: $ux-spacer;
    }

    &--large &__icon {
        font-size: $ux-font-size-h2;
    }

    &--rounded {
        @include ux-bg-rounded(true);
    }

    &--rounded &__icon {
        margin-top: 0.25rem;
    }

    &--rounded-large {
        @include ux-bg-rounded(false);
    }

    &--rounded-large &__icon {
        font-size: $ux-font-size-h2;
        margin: $ux-spacer-small 0.6rem;
    }

    &--primary &__icon {
        color: $ux-color-primary;
    }

    &--info &__icon {
        color: $ux-color-info-darker;
    }

    &--success &__icon {
        color: $ux-color-success;
    }

    &--warning &__icon {
        color: $ux-color-warning-darker;
    }

    &--danger &__icon {
        color: $ux-color-danger;
    }
}

.ux-a-icon--rounded.ux-a-icon--primary {
    @include ux-bg-rounded(true, 'primary');
}

.ux-a-icon--rounded.ux-a-icon--info {
    @include ux-bg-rounded(true, 'info');
}

.ux-a-icon--rounded.ux-a-icon--success {
    @include ux-bg-rounded(true, 'success');
}

.ux-a-icon--rounded.ux-a-icon--warning {
    @include ux-bg-rounded(true, 'warning');
}

.ux-a-icon--rounded.ux-a-icon--danger {
    @include ux-bg-rounded(true, 'danger');
}

.ux-a-icon--rounded-large.ux-a-icon--primary {
    @include ux-bg-rounded(false, 'primary');
}

.ux-a-icon--rounded-large.ux-a-icon--info {
    @include ux-bg-rounded(false, 'info');
}

.ux-a-icon--rounded-large.ux-a-icon--success {
    @include ux-bg-rounded(false, 'success');
}

.ux-a-icon--rounded-large.ux-a-icon--warning {
    @include ux-bg-rounded(false, 'warning');
}

.ux-a-icon--rounded-large.ux-a-icon--danger {
    @include ux-bg-rounded(false, 'danger');
}
