.ux-a-date-tag {
    background-color: white;
    margin-bottom: $ux-spacer-tiny;
    padding: $ux-spacer-small;
    text-align: center;
    width: 100px;
    @include ux-box-shadow-z-depth-1;
    @include ux-font-family-bold;

    &__sub-label {
        font-size: $ux-font-size-h8;
        font-style: italic;
        text-align: center;
    }

    &--vertical {
        background: $ux-color-grey-lighter;
        border-bottom: 4px solid $ux-color-accent-dark;
    }

    &--vertical &__d {
        font-size: $ux-font-size-h5;
        font-weight: normal;
    }

    &--vertical &__m {
        font-size: $ux-font-size-h6;
        text-transform: uppercase;
        @include ux-font-family-bold;
    }

    &--vertical &__y {
        font-size: $ux-font-size-h7;
    }

    &--tiny {
        padding: $ux-spacer-tiny;
    }

    &--big {
        padding: $ux-spacer;
    }

    &--primary {
        color: $ux-color-primary-dark;
    }

    &--info {
        color: $ux-color-info-dark;
    }

    &--success {
        color: $ux-color-success-dark;
    }

    &--warning {
        color: $ux-color-warning-darker;
    }

    &--danger {
        color: $ux-color-danger-dark;
    }

    &--vertical--primary {
        background: $ux-color-primary-dark;
        border-bottom-color: $ux-color-primary-darkester;
        color: #fff;
    }

    &--vertical--info {
        background: $ux-color-info-dark;
        border-bottom-color: $ux-color-info-darkester;
        color: #fff;
    }

    &--vertical--success {
        background: $ux-color-success-dark;
        border-bottom-color: $ux-color-success-darkester;
        color: #fff;
    }

    &--vertical--warning {
        background: $ux-color-warning-dark;
        border-bottom-color: $ux-color-warning-darkester;
        color: #fff;
    }

    &--vertical--danger {
        background: $ux-color-danger-dark;
        border-bottom-color: $ux-color-danger-darkester;
        color: #fff;
    }

    &--muted {
        margin-bottom: 0;
        @include ux-box-shadow-none;
        @include ux-font-family;
    }
}
