.ux-a-tag {
    color: white;
    display: flex;
    margin: 0 $ux-spacer;
    padding: 0;
    width: 100%;

    &__label {
        @include ux-box-shadow-z-depth-1;

        background-color: $ux-color-grey;
        padding: $ux-spacer-small $ux-spacer;
    }

    &__sub-label {
        @include ux-box-shadow-z-depth-1;

        background-color: $ux-color-grey-dark;
        padding: $ux-spacer-small $ux-spacer;
    }

    &--small {
        margin: 0 $ux-spacer-tiny;
    }

    &--large {
        margin: 0 $ux-spacer;
    }

    &--small &__label {
        padding: $ux-spacer-tiny $ux-spacer-small;
    }

    &--small &__sub-label {
        padding: $ux-spacer-tiny $ux-spacer-small;
    }

    &--large &__label {
        padding: $ux-spacer $ux-spacer-large;
    }

    &--large &__sub-label {
        padding: $ux-spacer $ux-spacer-large;
    }

    &--pull-right {
        margin-left: auto;
    }

    &--primary &__label {
        background-color: $ux-color-primary;
    }

    &--info &__label {
        background-color: $ux-color-info;
    }

    &--success &__label {
        background-color: $ux-color-success;
    }

    &--warning &__label {
        background-color: $ux-color-warning;
    }

    &--danger &__label {
        background-color: $ux-color-danger;
    }

    &--primary &__sub-label {
        background-color: $ux-color-primary-dark;
    }

    &--info &__sub-label {
        background-color: $ux-color-info-dark;
    }

    &--success &__sub-label {
        background-color: $ux-color-success-dark;
    }

    &--warning &__sub-label {
        background-color: $ux-color-warning-dark;
    }

    &--danger &__sub-label {
        background-color: $ux-color-danger-dark;
    }

    &--rounded &__label {
        border-radius: 10rem;
    }
}
