.ux-a-icon-box {
    @include ux-box-shadow-z-depth-1;

    background-color: $ux-color-primary;
    color: white;
    flex: 0 0 8rem;
    height: 9rem;
    margin-right: $ux-spacer;
    padding: $ux-spacer-small;
    text-align: center;

    &__icon {
        font-size: 4rem;
    }

    &__label {
        @include ux-font-family-bold;

        text-transform: uppercase;
    }
}
