.ux-a-label {
    align-items: center;
    display: flex;
    margin: 0 $ux-spacer-tiny;
    padding: $ux-spacer-small;

    &__content {
        margin-right: $ux-spacer;
    }

    &--tiny {
        padding: $ux-spacer-tiny;
    }

    &--large {
        padding: $ux-spacer;
    }

    &__marker {
        margin-left: 0;
        margin-right: $ux-spacer-small;
        padding-left: 0;
    }

    &__label {
        color: $ux-color-grey-darker;
        font-size: $ux-font-size-h5;
        @include ux-font-family-bold;

        &--clickable {
            &:hover {
                color: $ux-color-primary;
                text-decoration: underline;
            }
        }
    }

    &__label-icon {
        cursor: pointer;

        &:hover {
            color: $ux-color-primary;
        }
    }

    &__label-infos {
        margin-left: $ux-spacer-small;
    }

    &__sub-label {
        color: $ux-color-grey-dark;
        margin-top: $ux-spacer-tiny;
    }
}

ux-a-label {
    display: flex;
}
