.sidebar.sidebar--t-light {
    background: $ux-color-grey-darkest;
    border-right: 1px solid $ux-color-grey-lighter;

    .sidebar-toggle {
        background-color: $ux-color-grey-darkest;
        color: #fff;

        a {
            color: #fff;
        }

        &:hover {
            background-color: $ux-color-grey-darkester;
        }
    }

    .logo-wrapper {
        background-color: white;
    }

    .header {
        color: #fff;

        .profile {
            .picture {
                background-color: $ux-color-grey-darker;
            }

            .infos {
                .profile-subtitle {
                    color: $ux-color-grey;
                }
            }
        }
    }

    .footer {
        a {
            color: #fff;
        }
    }
}

.sidebar-inner {
    .title {
        border-bottom: 1px solid $ux-color-grey-light;
        color: $ux-color-grey-lighter;
    }

    .filter {
        input {
            background-color: $ux-color-grey-darker;
            border: 1px solid $ux-color-grey-darker;
            color: #fff !important;

            &:focus {
                border: 1px solid $ux-color-grey;
            }
        }

        .fa {
            color: $ux-color-grey;
        }
    }
}
