.sidebar.sidebar--t-light {
    .sidebar-item {
        .sidebar-item {
            background-color: $ux-color-grey-lightester;

            .sidebar-item {
                background-color: $ux-color-grey-lightester-2;

                .sidebar-item__header:hover {
                    background-color: $ux-color-grey-lightest;
                }
            }
        }
    }

    .sidebar-item__header {
        color: $ux-color-primary;

        &:hover {
            background-color: $ux-color-grey-lightest;
        }

        &:focus {
            border-left: 3px solid $ux-color-info;
        }

        &--active {
            background-color: $ux-color-primary-light;
            color: white;

            &:focus {
                color: white;
            }

            &:hover {
                background-color: $ux-color-primary-lighter;
            }
        }

        &--title &-label-wrapper {
            border-bottom: 1px solid $ux-color-grey-darker;
            color: $ux-color-grey-light;
        }

        &-label-wrapper-sub-label {
            color: $ux-color-grey;
        }
    }
}
