.ux-notification-item {
    align-items: center;
    display: flex;
    width: 100%;

    &__right-content {
        margin-left: auto;

        &-inner {
            flex-direction: column;
        }
    }

    &__read-toggle {
        text-align: center;
        width: 100%;
    }
}
