.ux-notifications-panel {
    display: flex;
    flex-direction: column;
    height: 100%;
    width: 100%;

    &__header {
        align-items: center;
        background-color: $ux-color-grey-lightester;
        border-bottom: 1px solid $ux-color-grey-lighter;
        display: flex;
        flex: 0 0 auto;
        padding: $ux-spacer;

        &-title-label {
            font-size: $ux-font-size-h5;
            @include ux-font-family-bold;
        }

        &-title-subLabel {
            font-size: $ux-font-size-h7;
            margin-top: $ux-spacer-tiny;
            @include ux-font-family;
        }

        &-actions {
            margin-left: auto;
        }
    }

    &__content {
        flex: 1 1 auto;
        overflow-y: auto;
        position: relative;/* need this to position inner content */
    }

    &__section-title {
        align-items: center;
        border-bottom: 1px solid $ux-color-grey-light;
        display: flex;
        margin-top: $ux-spacer;
        padding: $ux-spacer;
        text-transform: uppercase;
        @include ux-font-family-bold;
    }

    &__footer {
        background-color: $ux-color-grey-lightester;
        border-top: 1px solid $ux-color-grey-lighter;
        flex: 0 0 auto;
        padding: $ux-spacer;
        text-align: center;
    }
}
