@mixin ux-box-shadow-z-depth-light() {
    box-shadow: 0 1px 0 rgba(0, 0, 0, 0.08), 0 1px 1px rgba(0, 0, 0, 0.08);
}
@mixin ux-box-shadow-z-depth-1() {
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
}
@mixin ux-box-shadow-z-depth-2() {
    box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);
}
@mixin ux-box-shadow-z-depth-3() {
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.19), 0 6px 6px rgba(0, 0, 0, 0.23);
}
@mixin ux-box-shadow-z-depth-4() {
    box-shadow: 0 14px 28px rgba(0, 0, 0, 0.25), 0 10px 10px rgba(0, 0, 0, 0.22);
}
@mixin ux-box-shadow-z-depth-5() {
    box-shadow: 0 19px 38px rgba(0, 0, 0, 0.3), 0 15px 12px rgba(0, 0, 0, 0.22);
}
@mixin ux-box-shadow() {
    @include ux-box-shadow-z-depth-1;
}
@mixin ux-box-shadow-hover() {
    cursor: pointer;
    @include ux-box-shadow-z-depth-2();
}
@mixin ux-box-shadow-none() {
    box-shadow: none;
}
