@mixin ux-font-family-light() {
    font-family: $ux-font-family-light;
}
@mixin ux-font-family-bold() {
    font-family: $ux-font-family-bold;
    font-weight: normal;
}
@mixin ux-font-family() {
    font-family: $ux-font-family;
    font-weight: normal;
}
