@mixin ux-bg-rounded($small: true, $colorType: '') {
    border-radius: 100%;
    color: white;
    @include ux-box-shadow-z-depth-1;
    @if $small {
        height: 38px;
        width: 38px;
    }
    @else {
        height: 55px;
        width: 55px;
    }
    @if $colorType == '' {
        background-color: $ux-color-grey-dark;
    }
    @if $colorType == 'primary' {
        background-color: $ux-color-primary-lightester-2;
    }
    @if $colorType == 'info' {
        background-color: $ux-color-info-lightester;
    }
    @if $colorType == 'success' {
        background-color: $ux-color-success-lightester;
    }
    @if $colorType == 'warning' {
        background-color: $ux-color-warning-lightest;
    }
    @if $colorType == 'danger' {
        background-color: $ux-color-danger-lightester;
    }
}
