.ux-modal {
    &__content {
        width: 100%;
        @include ux-box-shadow-z-depth-5;
    }

    &__dialog {
        display: flex;
        flex-direction: column;
        height: 100vh;
        justify-content: center;
        margin-bottom: 0;
        margin-top: 0;
        max-width: 50%;
    }

    &__header-title {
        font-size: $ux-font-size-h5;
        line-height: 2;
        @include ux-font-family-bold;
    }

    &__body {
        padding: $ux-spacer-3;
    }

    &__footer {
        padding: $ux-spacer-3;
        @include clearfix;

        &--custom-alignment {
            display: block;
        }
    }

    &__header-close {
        box-shadow: none;
        font-size: 2rem;
        @include ux-font-family-light;

        &:focus {
            outline: 0;
            @include ux-box-shadow-none;
        }
    }
}
