@include media($ux-bkp-desktop-down) {
    .ux-modal {
        &__dialog,
        &__dialog[style],
        &--small &__dialog,
        &--big &__dialog,
        &--full-screen &__dialog {
            margin-left: 1.5%;
            max-width: 100% !important;
            width: 97% !important;
        }
    }
}
