.ux-modal {
    &--small &__dialog {
        max-width: 33%;
    }

    &--large &__dialog {
        max-width: 75%;
    }

    &--full-screen &__content {
        height: 98%;
        margin: 1.5%;
        width: 97%;
    }

    &--full-screen &__dialog {
        height: 95%;
        max-width: 100%;
        width: 100%;
    }

    &--full-height {
        max-height: 100%;
    }

    &--full-height &__dialog {
        height: 100%;
    }

    &--full-height &__content {
        height: 95%;
    }

    &--full-height &__body {
        overflow-x: hidden;
        overflow-y: scroll;
    }

    &--medium-height {
        max-height: 100%;
    }

    &--medium-height &__dialog {
        height: 100%;
    }

    &--medium-height &__content {
        height: 50%;
    }

    &--medium-height &__body {
        overflow-x: hidden;
        overflow-y: scroll;
    }
}
