.ux-tab-item {
    &--active,
    &:hover {
        border-bottom: 3px solid $ux-color-primary-accent-dark;
    }
}

.ux-tab-item--sub-tabs {
    padding: $ux-spacer-small $ux-spacer;
}

.ux-tab-item--sub-tabs.ux-tab-item--active {
    border-color: $ux-color-success-dark;
}
