.ux-tab-item {
    align-items: center;
    background-color: inherit;
    border: none;
    cursor: pointer;
    display: inline-flex;
    padding: $ux-spacer $ux-spacer-large;
    position: relative;

    &::after {
        border-right: 1px solid lighten($ux-color-grey-lighter, 2%);
        bottom: 10px;
        content: "";
        height: 25px;
        position: absolute;
        right: 0;
    }

    &__icon {
        margin-left: 0;
        margin-right: $ux-spacer-small;
        padding: 0;
    }

    &__label {
        padding: 0;

        .ux-a-label__content {
            margin-right: 0;
        }
    }

    &__marker {
        margin-left: $ux-spacer;
        margin-right: -$ux-spacer;
    }

    &__tag {
        margin-left: $ux-spacer;
        margin-right: -$ux-spacer-small;
    }

    &__close-toggle {
        color: $ux-color-grey-dark;
        margin-left: $ux-spacer;
        margin-right: -$ux-spacer-small;
        margin-top: -$ux-spacer;

        &:hover {
            color: $ux-color-grey-darkest;
        }
    }
}
