.ux-tabs {
    background-color: $ux-color-grey-lightester;
    border-bottom: 1px solid $ux-color-grey-lighter;
    display: flex;
    position: relative;
    width: 100%;

    &--main-navigation {
        margin-top: -22px;

        .ux-tab-item {
            border-bottom: 3px solid transparent;
            justify-content: center;

            &:last-child {
                margin-right: -$ux-spacer;

                &::after {
                    border-right: 0;
                }
            }

            &:hover {
                background-color: $ux-color-grey-lighter;
                border-bottom-color: $ux-color-grey-light;
            }

            .ux-tab-item__label {
                .ux-a-label__label {
                    color: $ux-color-grey-darker;
                    font-size: $ux-font-size-h5;
                    @include ux-font-family-bold;
                }
            }

            &--active {
                background-color: $ux-color-primary-lightest;
                border-bottom: 3px solid $ux-color-primary;

                .ux-tab-item__label {
                    .ux-a-label__label {
                        color: white;
                    }
                }
            }

            &::after {
                border-right-color: $ux-color-grey-light;
                margin-top: 5px;
            }
        }
    }
}

