@include media($ux-bkp-desktop-down) {
    .ux-field {
        &__label {
            margin-right: $ux-spacer-tiny;
        }

        &__required-indicator {
            position: relative;
            right: auto;
        }
    }
}
