.ux-field {
    margin-bottom: $ux-spacer-3;

    &__label-wrapper {
        position: relative;
    }

    &__label {
        font-size: $ux-font-size;
        margin-right: $ux-spacer-small;
    }

    &__required-indicator {
        position: absolute;
        right: -2px;
    }

    &__read-only {
        color: $ux-color-grey-darker;
        font-weight: bold;
        padding: 0.35rem 0.75rem 0.8rem 0;
    }

    &--vertical &__required-indicator {
        top: 0;
    }
}
