.ux-tree {
    position: relative;

    &__nodes {
        padding: 0 $ux-spacer-large;
        position: relative;
    }

    &__node {
        align-items: center;
        color: $ux-color-font;
        display: flex;
        position: relative;

        &:focus,
        &:hover {
            color: $ux-color-primary;
            text-decoration: none;
        }

        &:focus .ux-tree__node-item-label {
            text-decoration: underline;
        }

        &:focus .ux-tree__node-item-label-wrapped {
            text-decoration: underline;
        }
    }

    &__node-toggle-icon {
        color: $ux-color-primary;
    }

    &__node-parent {
        margin: $ux-spacer 0 $ux-spacer-small 0;

        &::before {
            border-bottom: 1px solid $ux-color-grey-light;
            content: "";
            left: -12px;
            position: absolute;
            top: 10px;
            width: 10px;
        }
    }

    &__node-child {
        padding-left: $ux-spacer;
        padding-top: 5px;

        &::before {
            border-bottom: 1px solid $ux-color-grey-light;
            content: "";
            left: -14px;
            position: absolute;
            top: 15px;
            width: 20px;
        }
    }

    &__node-child-root {
        padding-left: $ux-spacer;
        padding-top: 5px;
    }

    &__node-child-icon {
        color: $ux-color-grey-dark;
        font-size: 5px;
        margin-left: -8px;
        position: absolute;
        top: 13px;
    }

    &__node-sub-node {
        margin-bottom: 6px;
        position: relative;

        &::before {
            background-color: $ux-color-grey-light;
            bottom: -8px;
            content: "";
            display: block;
            left: -14px;
            position: absolute;
            top: -8px;
            width: 1px;
            z-index: 1;
        }
    }

    &__node-sub-node:last-child {
        &::before {
            bottom: 6px;
        }
    }

    &__node-sub-node.with-type:last-child {
        &::before {
            bottom: 12px;
        }
    }

    &__node-item-wrapper {
        align-items: center;
        display: flex;
        overflow: hidden;
        text-overflow: ellipsis;
        white-space: nowrap;
    }

    &__node-item-type {
        background-color: $ux-color-grey-dark;
        color: white;
        font-size: $ux-font-size-h7;
        margin-left: $ux-spacer-small;
        padding: 3px $ux-spacer-small;
        text-decoration: none;
    }

    &__node-item-icon {
        background-color: $ux-color-grey-lighter;
        border-left: 1px solid white;
        color: $ux-color-font;
        padding: 2px $ux-spacer-small 1px;
    }

    &__node-item-type--primary {
        background-color: $ux-color-primary;
    }

    &__node-item-type--info {
        background-color: $ux-color-info;
    }

    &__node-item-type--success {
        background-color: $ux-color-success;
    }

    &__node-item-type--warning {
        background-color: $ux-color-warning;
    }

    &__node-item-type--danger {
        background-color: $ux-color-danger;
    }

    &__node-item-label {
        margin-left: 8px;
        overflow: hidden;
        text-overflow: ellipsis;
        vertical-align: middle;
        white-space: nowrap;
    }

    &__node-item-label-wrapped {
        margin-left: $ux-spacer-small;
        overflow: hidden;
        text-overflow: ellipsis;
        white-space: nowrap;
    }

    &__node-toggle-icon {
        font-size: $ux-font-size-h4;
    }

    &__node-metacontent-toggle {
        font-size: 17px;
        margin-left: $ux-spacer-small;
        padding: 0 $ux-spacer-small;
        @include ux-box-shadow-z-depth-1;
    }

    &__node-metacontent {
        background-color: $ux-color-grey-lightest;
        margin-left: $ux-spacer-large;
        padding: $ux-spacer;
    }
}

.ux-tree__toolbar {
    margin-bottom: $ux-spacer;
    @include clearfix;

    &-trigger {
        float: left;
        margin-right: $ux-spacer-tiny;
    }

    &-filter {
        float: left;
        position: relative;
    }

    &-filter-input {
        min-width: 100px;
    }

    &-filter-input-search-icon {
        position: absolute;
        right: $ux-spacer-small;
        top: $ux-spacer-small;
    }
}
