.ux-dashboard-card {
    background-color: white;
    border-radius: $ux-border-radius;
    margin-bottom: $ux-spacer;
    padding: $ux-spacer;
    width: 100%;
    @include ux-box-shadow;

    &__image-wrapper {
        height: 6rem;
        margin: $ux-spacer auto $ux-spacer auto;
        padding: $ux-spacer;
        width: 6rem;
    }

    &__icon-wrapper {
        background-color: $ux-color-grey-lighter;
        border: 1px solid $ux-color-grey-light;
        border-radius: 4rem;
        height: 8rem;
        margin: $ux-spacer auto $ux-spacer auto;
        padding: $ux-spacer;
        width: 8rem;
    }

    &__icon-wrapper-icon {
        font-size: 4rem;
        margin: $ux-spacer auto;
        width: 100%;
    }

    &__content-wrapper {
        align-items: center;
        display: flex;
    }

    &__content {
        text-align: center;
        width: 100%;
    }

    &__content-label {
        font-size: $ux-font-size-h4;
        margin-bottom: $ux-spacer-small;
    }

    &__content-sub-label {
        color: $ux-color-grey-dark;
        margin-bottom: $ux-spacer-small;
    }

    &__content-link {
        margin-top: $ux-spacer;
    }

    &--horizontal &__content {
        border-left: 2px solid $ux-color-grey-lightest;
        margin-left: $ux-spacer;
        padding-left: $ux-spacer;
    }

    &--horizontal &__icon-wrapper {
        margin: $ux-spacer auto $ux-spacer auto;
    }

    &--horizontal--icon-compact &__icon-wrapper {
        margin: $ux-spacer auto $ux-spacer auto;
    }

    &--icon-compact &__icon-wrapper {
        height: 5rem;
        padding: $ux-spacer-small;
        width: 5rem;
    }

    &--icon-compact &__icon-wrapper-icon {
        font-size: 2.5rem;
        margin: $ux-spacer-small auto;
    }

    &--clickable {
        cursor: pointer;

        &:focus,
        &:hover {
            outline: 0;
            @include ux-box-shadow-hover;
        }
    }

    &--primary {
        border-left: $ux-spacer-small solid $ux-color-primary;
        margin-left: $ux-spacer-tiny;
    }

    &--info {
        border-left: $ux-spacer-small solid $ux-color-info;
        margin-left: $ux-spacer-tiny;
    }

    &--warning {
        border-left: $ux-spacer-small solid $ux-color-warning;
        margin-left: $ux-spacer-tiny;
    }

    &--success {
        border-left: $ux-spacer-small solid $ux-color-success;
        margin-left: $ux-spacer-tiny;
    }

    &--danger {
        border-left: $ux-spacer-small solid $ux-color-danger;
        margin-left: $ux-spacer-tiny;
    }
}
