/**
 * Gets color from globally defined set of color definitions
 *
 * 1. Retrieves color palette from settings with color names and color values
 *    Merges default colors with extended colors defined by users
 * 2. Retrieves color palette names from settings
 * 3. Checks if color exists in settings palette
 * 4. Retrieves color from global colors definition or fails
 */
@function ux-get-colors() {
    @return map-merge($ux-colors, $ux-colors-extended); /* [1] */
}
@function ux-get-color-names() {
    @return map-keys(ux-get-colors()); /* [2] */
}
@function ux-has-color($name) { /* [3] */
    @if map-has-key(ux-get-colors(), $name) {
        @return true;
    }
    @else {
        @return false;
    }
}
@function ux-get-color($name) { /* [4] */
    @if ux-has-color($name) {
        @return map-get(ux-get-colors(), $name);
    }
}
