@function new-breakpoint($query: $feature $value) {
    @if length($query) == 1 {
        $query: $default-feature nth($query, 1);
    }
    @else if is-even(length($query)) {
        $query: append($query, 12);
    }
    @return $query;
}
