.ux-dashboard-buttons {
    margin: 0;
    padding: 0;
    @include clearfix;
}

.ux-dashboard-button {
    background-color: $ux-color-grey-lightester;
    border: $ux-border;
    cursor: pointer;
    float: left;
    margin-right: $ux-spacer;
    width: 7rem;

    &:hover,
    &:focus {
        background-color: $ux-color-grey-lightest;
        outline: 0;
        @include ux-box-shadow-z-depth-1;
    }

    &__content-main-label,
    &__content-main-icon {
        display: block;
        font-size: 4rem;
        height: 100%;
        padding-top: $ux-spacer;
        text-align: center;
        width: 100%;
        @include ux-box-shadow-z-depth-1;
    }

    &__content-main-icon-dashboard {
        background-repeat: no-repeat;
        display: block;
        height: 48px;
        margin: 0 auto;
        margin-bottom: $ux-spacer-tiny;
        margin-top: 1.25rem;
        width: 48px;
    }

    &__content-title {
        margin: 0;
        padding-top: 0.75rem;
        text-align: center;
    }

    &__content-sub-title {
        color: $ux-color-grey-dark;
        font-size: $ux-font-size-h7;
        margin-top: $ux-spacer-small;
        text-align: center;
    }
}

.ux-dropdown-button__menu-item {
    &:focus {
        color: $ux-color-font;
    }
}
