.ux-dashboard-button {

    // ROUNDED
    // -------

    &--rounded {
        background-color: transparent;
        border: 0;
        padding: $ux-spacer-small 0;
    }

    &--rounded &__content-main-label,
    &--rounded &__content-main-icon {
        background-color: $ux-color-grey-light;
        border-radius: 100%;
        color: #fff;
        font-size: $ux-font-size-h1;
        height: 5rem;
        margin: 0 auto;
        padding-top: $ux-spacer;
        width: 5rem;
    }

    &--rounded &__content-sub-title {
        color: $ux-color-grey-dark;
        font-size: $ux-font-size-h7;
        margin-top: $ux-spacer-small;
        text-align: center;
    }

    // BIG
    // -------

    &--large {
        width: 10rem;
    }

    &--large &__content-main-icon,
    &--large &__content-main-label {
        font-size: 4rem;
        height: 8rem;
        margin: 0 auto;
        padding-top: 1.25rem;
        text-align: center;
        width: 8rem;
    }

    &--large &__content-title {
        font-size: $ux-font-size-h5;
    }

    &--large &__contet-sub-title {
        font-size: $ux-font-size-h6;
    }

    // FULL-WIDTH
    // ------------

    &--full-width {
        width: 100%;
    }

    // COLOR STATES
    // ------------

    &--primary &__content-main-label,
    &--primary &__content-main-icon {
        background-color: $ux-color-primary;
    }

    &--info &__content-main-label,
    &--info &__content-main-icon {
        background-color: $ux-color-info;
    }

    &--success &__content-main-label,
    &--success &__content-main-icon {
        background-color: $ux-color-success;
    }

    &--warning &__content-main-label,
    &--warning &__content-main-icon {
        background-color: $ux-color-warning;
    }

    &--danger &__content-main-label,
    &--danger &__content-main-icon {
        background-color: $ux-color-danger;
    }
}

