.sidebar {
    background: $ux-color-grey-darkest;
    height: 100%;
    overflow-x: hidden;
    overflow-y: auto;
    position: fixed;
    top: 0;
    z-index: 1041;

    .sidebar-toggle {
        background-color: $ux-color-grey-darkest;
        color: #fff;
        position: fixed;

        a {
            color: #fff;
            line-height: 2rem;
            padding: $ux-spacer-tiny;
            transition: padding 0.1s ease-in-out;

            span.fa {
                font-size: $ux-font-size-h6;
            }
        }

        &:hover {
            background-color: $ux-color-grey-darkester;
        }
    }

    .logo-wrapper {
        background-color: white;
        height: 89px;
        margin-bottom: 4px;
        padding-left: 1.5rem;

        .logo {
            background-image: url(#{$ux-assets-path}/images/ec-europa/logos/logo-ec-tablet.png);
            background-size: cover;
            cursor: pointer;
            height: 60px;
            left: 65px;
            position: absolute;
            top: 12px;
            width: 130px;
            z-index: 1000;
        }
    }

    .header {
        @include clearfix;

        color: #fff;
        padding: $ux-spacer-small $ux-spacer 1.5rem $ux-spacer;
        text-align: center;

        input {
            height: 100%;
            padding: $ux-spacer-small;
            width: 100%;
        }

        .profile {
            @include clearfix;

            .picture {
                background-color: $ux-color-grey-darker;
                border-radius: 100%;
                float: left;
                font-size: 40px;
                height: 60px;
                margin: 0 auto;
                margin-top: $ux-spacer-small;
                padding: $ux-spacer-small;
                width: 60px;
            }

            .infos {
                float: left;
                margin-top: 1.5rem;
                padding-left: $ux-spacer;

                .profile-subtitle {
                    color: $ux-color-grey;
                    padding-top: $ux-spacer-tiny;
                    text-align: left;

                    .fa {
                        font-size: $ux-font-size-h7;
                        margin-right: $ux-spacer-tiny;
                    }
                }
            }
        }
    }

    .footer {
        height: auto;
        padding: $ux-spacer;
        text-align: center;

        a {
            color: #fff;
        }
    }

    &--large-items {
        .sidebar-item__header-label-wrapper {
            padding: $ux-spacer $ux-spacer-small;
        }

        .sidebar-item__header-icon-wrapper {
            margin-left: $ux-spacer-small;
        }

        .sidebar-item__header-icon-wrapper-icon {
            font-size: 22px;
        }
    }
}

.sidebar-inner {
    .title {
        border-bottom: 1px solid $ux-color-grey-light;
        color: $ux-color-grey-lighter;
        font-size: $ux-font-size-h4;
        margin-bottom: 1.5rem;
        padding: $ux-spacer 0;
        text-align: center;
    }

    .filter {
        @include clearfix;

        padding: $ux-spacer;

        input {
            background-color: $ux-color-grey-darker;
            border: 1px solid $ux-color-grey-darker;
            color: #fff !important;
            float: left;
            width: 100%;

            &:focus {
                border: 1px solid $ux-color-grey;
            }
        }

        .fa {
            color: $ux-color-grey;
            font-size: 18px;
            margin-left: -2rem;
            margin-top: 8px;
            position: absolute;
        }
    }
}
