.sidebar.inner-sidebar {
    background-color: $ux-color-primary-dark;
    height: 100%;
    left: 0;
    top: $ux-layout-header-height + $ux-layout-nav-height;

    .sidebar-item__header {
        &--large {
            border-bottom: 1px solid $ux-color-primary;
        }
    }
}

.sidebar.state-open {
    width: $ux-layout-sidebar-width;

    .sidebar-toggle {
        left: $ux-layout-sidebar-width;
        margin-left: -20px;

        a {
            padding: 0.75rem;
        }
    }

    .sidebar-inner {
        display: block;
    }
}

.sidebar.state-close {
    width: $ux-spacer-small;

    .sidebar-toggle {
        &:hover {
            a {
                padding: 1.5rem;
            }
        }
    }

    .sidebar-inner {
        display: none;
    }

    &.state-close-with-icons {
        width: 4.75rem;

        .sidebar-toggle {
            left: 5rem;
        }

        .header,
        .filter {
            display: none;
        }

        .sidebar-inner {
            display: block;

            .sidebar-item__header-label-wrapper {
                display: none;
            }
        }
    }
}
