.sidebar-items {
    &--inner-navigation-sidebar {
        .sidebar-item__header {
            border-bottom: 1px solid $ux-color-grey-lighter;
            color: $ux-color-primary;

            &:hover {
                background-color: $ux-color-grey-lightest;
            }

            &:focus {
                border-left: 3px solid $ux-color-info;
            }

            &-label-wrapper-label {
                color: $ux-color-grey-dark;
            }

            &--active {
                background-color: transparent;
                border-bottom: 2px solid $ux-color-primary;

                .sidebar-item__header-label-wrapper-label {
                    color: $ux-color-primary;
                    @include ux-font-family-bold;
                }
            }
        }
    }
}

.sidebar-item {
    .sidebar-item {
        background-color: $ux-color-grey-darkester;
        padding-left: $ux-spacer-small;

        .sidebar-item__header-label-wrapper {
            margin: 0;
        }

        .sidebar-item__header--title .sidebar-item__header-label-wrapper {
            border-bottom: transparent;
        }

        .sidebar-item {
            background-color: $ux-color-grey-darkester-2;
            margin-left: -$ux-spacer-small;
            padding-left: 0;

            .sidebar-item__header:hover {
                background-color: $ux-color-grey-darkest;
            }
        }
    }
}

.sidebar-item__header {
    align-items: center;
    border-left: 3px solid transparent;
    color: #fff;
    display: flex;

    &:hover {
        background-color: $ux-color-grey-dark;
        cursor: pointer;
    }

    &:focus {
        border-left: 3px solid $ux-color-accent;
    }

    &--active {
        background-color: $ux-color-accent;
        color: $ux-color-font;

        &:focus {
            color: $ux-color-font;
        }
    }

    &--title &-label-wrapper {
        border-bottom: 1px solid $ux-color-grey-darker;
        color: $ux-color-grey-light;
        margin-bottom: $ux-spacer-tiny;
        margin-top: $ux-spacer;
        text-transform: uppercase;
    }

    &--title {
        &:hover {
            background-color: transparent;
            cursor: default;
        }

        &:focus {
            border-left: 3px solid transparent;
        }
    }

    &--large {
        border-bottom: none;
    }

    &--large &-label-wrapper {
        padding: $ux-spacer $ux-spacer-small;
    }

    &--large &-icon-wrapper {
        margin-left: $ux-spacer-small;
        padding: $ux-spacer $ux-spacer-small;
    }

    &--large &-icon-wrapper-icon {
        font-size: 22px;
    }

    &-icon-wrapper {
        margin-left: $ux-spacer-tiny;
        padding: $ux-spacer-tiny;
    }

    &-icon-wrapper-icon {
        font-size: 16px;
    }

    &-label-wrapper {
        flex: 1;
        padding: $ux-spacer-tiny;
    }

    &-label-wrapper-sub-label {
        color: $ux-color-grey;
    }

    &-expand-toggle {
        cursor: pointer;
        font-size: $ux-font-size-h4;
        padding: $ux-spacer-tiny;
        text-align: center;
        width: 35px;

        &:hover {
            @include ux-box-shadow-z-depth-1;
        }
    }
}
