@include media($ux-bkp-mobile) {
    .sidebar {
        display: none;
    }
}
@include media($ux-bkp-tablet) {
    .sidebar.state-open {
        width: $ux-layout-sidebar-tablet-width;

        .sidebar-toggle {
            left: $ux-layout-sidebar-tablet-width;
        }
    }

    .sidebar.state-close {
        width: $ux-spacer-tiny;

        .sidebar-toggle {
            left: 0;
        }
    }
}
