@include media($ux-bkp-mobile) {
    .sidebar {
        display: none;
    }

    .sidebar.inner-sidebar {
        display: none;
    }

    .sidebar.state-open.mobile-visible {
        display: block;
        width: $ux-layout-sidebar-mobile-width;
    }
}
@include media($ux-bkp-tablet) {
    .sidebar {
        width: $ux-layout-sidebar-tablet-width;
    }
}
