$ellipsis-dot-size: $ux-spacer-small;
$ellipsis-dot-margin: $ux-spacer-tiny;

.ux-loading-indicator {
    display: inline-block;
    vertical-align: middle;

    > div {
        animation: ux-loading-indicator-bouncedelay 1s infinite ease-in-out both;
        background-color: black;
        border-radius: 100%;
        display: inline-block;
        height: $ellipsis-dot-size;
        margin: $ellipsis-dot-margin;
        width: $ellipsis-dot-size;

        &:nth-child(1) {
            animation-delay: -0.4s;
        }

        &:nth-child(2) {
            animation-delay: -0.2s;
        }
    }
}
@keyframes ux-loading-indicator-bouncedelay {
    0%,
    80%,
    100% {
        opacity: 0;
        transform: scale(0) rotate(0.02deg); // The rotate(0.02deg) fixes stuttering animation bugs in Firefox.
    }

    40% {
        opacity: 1;
        transform: scale(1) rotate(0.02deg); // The rotate(0.02deg) fixes stuttering animation bugs in Firefox.
    }
}
