#loader-wrapper {
    height: 100%;
    left: 0;
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 1000;

    #loader {
        -webkit-animation: spin 2s linear infinite; /* Chrome, Opera 15+, Safari 5+ */
        animation: spin 2s linear infinite; /* Chrome, Firefox 16+, IE 10+, Opera */
        border: 10px solid transparent;
        border-radius: 50%;
        border-top-color: $ux-color-warning-light;
        display: block;
        height: 200px;
        left: 50%;
        margin: -100px 0 0 -100px;
        position: relative;
        top: 50%;
        width: 200px;

        &::before {
            -webkit-animation: spin 2s linear infinite; /* Chrome, Opera 15+, Safari 5+ */
            animation: spin 2s linear infinite; /* Chrome, Firefox 16+, IE 10+, Opera */
            border: 10px solid transparent;
            border-radius: 50%;
            border-top-color: $ux-color-danger-light;
            bottom: 5px;
            content: "";
            left: 5px;
            position: absolute;
            right: 5px;
            top: 5px;
        }

        &::after {
            -webkit-animation: spin 1s linear infinite; /* Chrome, Opera 15+, Safari 5+ */
            animation: spin 1s linear infinite; /* Chrome, Firefox 16+, IE 10+, Opera */
            border: 10px solid transparent;
            border-radius: 50%;
            border-top-color: $ux-color-primary-light;
            bottom: 15px;
            content: "";
            left: 15px;
            position: absolute;
            right: 15px;
            top: 15px;
        }
    }
}
