.section-title {
    @include clearfix;
}

h1.section-title,
.section-title.big {
    border-bottom: 1px solid $ux-color-grey-light;
    color: $ux-color-primary;
    font-family: $ux-font-family;
    font-size: $ux-font-size-h1;
    margin: 3rem 0 2rem;
    padding-bottom: $ux-spacer;
    text-align: center;
    width: 100%;

    &.first {
        margin-top: $ux-spacer;
    }
}

h4.section-title,
h5.section-title,
.section-title {
    border-bottom: 1px solid $ux-color-grey-lighter;
    color: $ux-color-primary;
    font-family: $ux-font-family;
    font-size: $ux-font-size-h3;
    margin: 4rem 0 1.5rem;
    padding-bottom: $ux-spacer;
    width: 100%;
    @include clearfix;

    &.first {
        margin-top: 1.5rem;
    }
}

h6.section-title,
.section-title.small {
    font-size: $ux-font-size-h5;
    margin: 1.5rem 0 $ux-spacer;
    padding-bottom: $ux-spacer-small;

    &.first {
        margin-top: $ux-spacer;
    }
}

h6.section-title-inline,
.section-title-inline.small {
    border-bottom: 1px solid $ux-color-grey-light;
    color: $ux-color-grey-darkester;
    display: inline-block;
    font-size: $ux-font-size-h5;
    margin: 2rem 0 $ux-spacer-large;
    padding-bottom: $ux-spacer-small;
    width: auto;

    &.first {
        margin-top: $ux-spacer;
    }
}
