.loading {
    bottom: 0;
    left: 0;
    margin: auto;
    overflow: show;
    position: fixed;
    right: 0;
    top: 0;
    z-index: 9999;
}

.loading::before {
    background-color: rgba(0, 0, 0, 0.4);
    content: '';
    display: block;
    height: 100%;
    left: 0;
    position: fixed;
    top: 0;
    width: 100%;
}

.loading:not(:required) {
    background-color: transparent;
    border: 0;
    color: transparent;
    font: 0/0 a;
    text-shadow: none;
}

.loading:not(:required)::after {
    -webkit-animation: spin 1s linear infinite;
    animation: spin 1s linear infinite;
    border: 10px solid transparent;
    border-radius: 50%;
    border-top-color: $ux-color-primary-light;
    bottom: 15px;
    content: "";
    display: block;
    height: 150px;
    left: 50%;
    margin: -100px 0 0 -100px;
    position: relative;
    right: 15px;
    top: 50%;
    width: 150px;
}
