.inner-title {
    color: $ux-color-grey-darkest;
    font-size: $ux-font-size-h4;
    padding: $ux-spacer-xlarge 0 $ux-spacer-large 0;
    @include ux-font-family-light;

    &.first {
        padding-top: $ux-spacer-small;
    }
}
