.ux-badge-group {
    display: flex;

    &__badge-left {
        border-bottom-right-radius: 0;
        border-top-right-radius: 0;
        margin-right: 0;
        padding-left: 10px;
    }

    &__badge-right {
        border-bottom-left-radius: 0;
        border-color: $ux-color-grey;
        border-top-left-radius: 0;
        margin-left: 0;

        &--primary {
            border-color: $ux-color-primary;
            color: $ux-color-primary-dark;
        }

        &--info {
            border-color: $ux-color-info;
            color: $ux-color-info-darker;
        }

        &--success {
            border-color: $ux-color-success;
            color: $ux-color-success-darker;
        }

        &--warning {
            border-color: $ux-color-warning;
            color: $ux-color-warning-darker;
        }

        &--danger {
            border-color: $ux-color-danger;
            color: $ux-color-danger-darker;
        }
    }
}
