.ui-calendar {
    display: flex;

    .ui-datepicker-trigger {
        border-left-style: none !important;
        box-shadow: none;
    }
}

.ui-calendar input {
    width: 110px !important;
}

.ui-calendar input.datetime {
    width: 150px !important;
}

.ui-calendar button {
    background-color: $ux-color-grey-lightest !important;
    border-color: $ux-color-grey-lighter !important;
    height: auto;
    position: relative;

    .fa {
        color: $ux-color-grey !important;

        &:hover {
            color: $ux-color-grey-darker !important;
        }
    }
}

.ui-datepicker-prev,
.ui-datepicker-next {
    top: 50% !important;
    transform: translateY(-50%) !important;
}

select.ui-datepicker-year,
select.ui-datepicker-month {
    font-size: 0.9rem !important;
    padding: 0.2rem !important;
}
