$chart-size: 100%;

p-chart {
    width: $chart-size;

    div {
        height: 100%;
        margin: 0 auto;
        width: $chart-size;

        canvas {
            height: $chart-size !important;
            width: $chart-size !important;
        }
    }
}

.inner-chart {
    p-chart {
        width: $chart-size / 1.35;

        div {
            width: $chart-size / 1.35;

            canvas {
                height: $chart-size / 1.35 !important;
                position: absolute;
                top: $chart-size / 1.35 / 5.7;
                width: $chart-size / 1.35 !important;
            }
        }
    }
}

.chart-title {
    border-bottom: 1px solid $ux-color-grey-lighter;
    color: $ux-color-primary;
    font-size: $ux-font-size-h4;
    margin-bottom: $ux-spacer;
    margin-top: $ux-spacer;
    padding-bottom: $ux-spacer-small;
    text-align: center;
    @include ux-ellipsis;
}

.chart-container {
    position: relative;

    .chart-inner-labels {
        font-size: $ux-font-size-h3;
        position: absolute;
        text-align: center;
        text-shadow: 1px 1px white;
        top: 44%;
        width: 98%;

        &.small {
            font-size: $ux-font-size-h5;
        }
    }
}

.chart-legend {
    background-color: $ux-color-grey-lightest;
    font-size: $ux-font-size-h7;
    margin: $ux-spacer-large 2% 0 2%;
    padding: $ux-spacer-tiny;
    @include ux-box-shadow-z-depth-1;

    .chart-legend-item {
        align-items: center;
        border-bottom: 1px solid $ux-color-grey-light;
        display: flex;
        padding: $ux-spacer-small;

        .chart-legend-item-label {
            @include ux-ellipsis;
        }

        &:last-child {
            border-bottom: none;
        }

        .chart-legend-item-marker {
            flex: none;
            margin-right: $ux-spacer-tiny;
        }

        .chart-legend-item-counter {
            flex: none;
            margin-left: auto;
            padding-left: $ux-spacer-tiny;
        }
    }
}
