.ui-datatable table {
    width: 100%;
    max-width: 100%;
    margin-bottom: $spacer;
}

.ui-datatable .ui-datatable-thead > tr > th, 
.ui-datatable .ui-datatable-tfoot > tr > td, 
.ui-datatable .ui-datatable-data > tr > td {
      padding: 0.75rem;
      vertical-align: top;
      border: 0;
}

.ui-datatable .ui-datatable-thead > tr > th {
      vertical-align: bottom;
      border-bottom: 2px solid $ux-color-grey !important;
      text-align: left;
      @include ux-font-family-bold;

      &.ui-state-default {
        background-color: transparent;
      }

      &.ui-state-active {
        background-color: $ux-color-grey-lighter;
        color: $ux-color-primary;
      }


      // TEMPORARY ADD cause bug in primeNG datatable when specifying a style="width:x"
      &.smallColumn {
        width: 4rem;
      }

      &.actionsColumn {
        width: 15rem;
        text-align: center;
      }
}


.ui-datatable tbody > tr.ui-widget-content {
      border: 0;

      border: 0;
      border-bottom: 1px solid $ux-color-grey-light;
}

.actionsColumn {
  text-align: center;
}

.ui-datatable-odd {
    background-color: $ux-color-grey-lightest;
}

.ui-datatable {
  table {
    margin-bottom: 0;
  }

  th.ui-sortable-column:hover:not(.ui-state-active) {
    background-color: $ux-color-grey-lightest;
  }

  thead tr {
    background: $ux-color-grey-lightester;
  }

  tbody > tr.ui-widget-content {
    border-bottom: $border-width solid $ux-color-grey-lighter;
  }

  tbody > tr.ui-widget-content:hover:not(.ui-state-highlight) {
    background-color: $ux-color-grey-lightest;
  }

  .ui-datatable-thead > tr > th {
    border-top: 1px solid $ux-color-grey-lighter !important;
    border-bottom: 1px solid $ux-color-grey-lighter !important;
    padding-top: $ux-spacer;
    padding-bottom: $ux-spacer;
  }

  .ui-datatable-thead > tr > th.ui-state-active {
    background-color: $ux-color-grey-lightest;
    color: $ux-color-grey-darker;
  }

  .ui-sortable-column:hover:not(.ui-state-active) {
    color: $ux-color-grey-darker;
  }

  .ui-column-title {
    color: $ux-color-grey-darker;
  }

  .ui-datatable-data > tr > td {
    vertical-align: middle;
  }

  .ui-datatable-data tr.ui-state-highlight {
      border-color: $ux-color-primary-lighter;
  }

  .ux-panel-content--no-padding & {
    .ui-datatable-data.ui-widget-content {
      border: 0;
    }
  }

  &--no-borders {
    .ui-datatable-thead > tr > th {
      border-top: 0 solid transparent !important;
    }

    .ui-datatable-data.ui-widget-content {
      border: 0;
    }
  }
}







