.ui-inputtext {
  &:disabled,
  &[readonly] {
    background-color: $ux-color-grey-lightester !important;
  }
}

.ui-inputtext.ui-state-focus,
.ui-inputtext:focus {
	-moz-box-shadow: none;
	-webkit-box-shadow: none;
	box-shadow: none;
  border: 1px solid $ux-color-grey-dark;
}

.ui-calendar.ui-calendar-w-btn {
	.ui-inputtext {
		border-top-left-radius: $ux-border-radius;
		border-bottom-left-radius: $ux-border-radius;
	}

	.ui-datepicker-trigger.ui-button {
		border-top-right-radius: $ux-border-radius;
		border-bottom-right-radius: $ux-border-radius;
	}

	.ui-datepicker-trigger.ui-state-disabled {
		opacity: 0.7;

        .ui-calendar button.fa:hover {
            color: #9e9e9e !important;
        }
	}
}
