.ui-datatable .ui-paginator {
  padding: 0.75rem;
  background: transparent;

  .ui-paginator-page:not(.ui-state-active),
  .ui-paginator-prev, 
  .ui-paginator-first, 
  .ui-paginator-next, 
  .ui-paginator-last {
    border: none;
    background-color: transparent;
  }

  a:hover:not(.ui-state-disabled):not(.ui-state-active) {
    background: none;
  }

  .ui-state-active {
    background: $ux-color-primary;
    border-color: $ux-color-primary;
  }

  .ui-paginator-pages {
    padding: 0 !important;
  }

  .ui-paginator-page.ui-state-active {
    border-radius: $border-radius;
  }

  .ui-paginator-page {
    padding: 0.4rem 0.75rem;
  }

  .ui-paginator-rpp-options {
    padding: 0.35rem;
  }
}