
/* THEME.CSS OVERRIDES */


.ui-widget { font-family: $ux-font-family; font-size: $ux-font-size; }
.ui-widget .ui-widget { font-size: $ux-font-size; }
.ui-widget input, .ui-widget select, .ui-widget textarea, .ui-widget button {
  font-family: $ux-font-family; font-size: $ux-font-size;
}




/*ADDITIONAL CLASSES */

.ui-inputtext,
.ui-autocomplete-input {
  display: block;
  width: 100%;
  padding: $ux-spacer-small 0.75rem;
  line-height: 1.25;
  color: #333;
  background-color: #fff;
  background-image: none;
  border: 1px solid #ccc;


  }
  .ui-inputtext::-ms-expand {
    background-color: transparent;
    border: 0; }
  .ui-inputtext:focus {
    border-color: #66afe9;
    outline: none; }
  .ui-inputtext::placeholder {
    color: #999;
    opacity: 1; }
  .ui-inputtext:disabled, .form-control[readonly] {
    background-color: #eceeef;
    opacity: 1; }
  .ui-inputtext:disabled {
    cursor: not-allowed; }


.ui-inputtext.ui-state-focus, .ui-widget-content .ui-inputtext.ui-state-focus, .ui-widget-header .ui-inputtext.ui-state-focus {
    -moz-box-shadow: none;
    -webkit-box-shadow: none;
    box-shadow: none;
}

.ui-autocomplete-input {
  width: 100% !important;
}



.ui-chkbox .ui-chkbox-box, .ui-radiobutton .ui-radiobutton-box {
  width: 18px;
  height: 18px;
}

p-checkbox, p-radiobutton {
  label {
    margin-bottom: 0;
  }
}


.ui-widget-header {
  border: 0;
}

.ui-widget-content.ui-tabview {
  background-color: transparent;
}

.ui-tabview {
  padding: 0;
}

.ui-tabview .ui-tabview-nav li .ui-tabview-close {
  border: 1px solid $ux-color-grey-light;
  padding: 2px;
  color: $ux-color-danger;
}

.ui-splitbutton .ui-button.ui-splitbutton-menubutton {
  right: -1px;
}

.ui-widget button:focus {
  background-color: $ux-color-primary-dark !important;
}

.ui-menu {
  width: 18em;
}

.ui-menuitem-icon {
  margin-right: 5px;
}




/* BUTTON */

.ui-button {
    -webkit-transition: background-color .2s;
    -moz-transition: background-color .2s;
    -o-transition: background-color .2s;
    transition: background-color .2s;
}
.ui-button, button.ui-button.ui-state-default, .ui-button.ui-state-default {
	border: 1px solid $ux-color-primary;
	color: #FFFFFF;
	background: $ux-color-primary;
}
.ui-button, .ui-button span, button.ui-button.ui-state-default span, .ui-button.ui-state-default span {
	font-weight: normal;
}
button.ui-button.ui-state-hover, .ui-button.ui-state-hover,
button.ui-button.ui-state-focus, .ui-button.ui-state-focus {
	border: 1px solid $ux-color-primary;
	background: $ux-color-primary-dark;
	outline: 0 none;
}

button.ui-button.ui-state-active, .ui-button.ui-state-active {
	border: 1px solid $ux-color-primary;
	background: $ux-color-primary;
}





.ui-button-icon-only .fa {
  margin-left: -9px;
}

button.ui-button {
  &.btn-danger {
    background-color: $ux-color-danger;
    border:1px solid $ux-color-danger-dark;

    &:hover {
      background-color: $ux-color-danger-dark;
    }
  }

  &.btn-success {
    background-color: $ux-color-success;
    border:1px solid $ux-color-success-dark;

    &:hover {
      background-color: $ux-color-success-dark;
    }
  }

  &.btn-warning {
    background-color: $ux-color-warning;
    border:1px solid $ux-color-warning-dark;

    &:hover {
      background-color: $ux-color-warning-dark;
    }
  }

  &.btn-info {
    background-color: $ux-color-info;
    border:1px solid $ux-color-info-dark;

    &:hover {
      background-color: $ux-color-info-dark;
    }
  }

  &.btn-default {
    background-color: #ffffff;
    border:1px solid #000000;
    color: #000000;

    &:hover {
      background-color: $ux-color-danger-dark;
    }
  }

}


/* TOGGLE BUTTON & SELECT BUTTON */

.ui-togglebutton.ui-button.ui-state-active,
.ui-selectbutton .ui-button.ui-state-active {
   border: 1px solid $ux-color-primary; background: $ux-color-primary; color: #FFFFFF;
}

.ui-togglebutton.ui-button.ui-state-hover,.ui-togglebutton.ui-button.ui-state-focus,
.ui-selectbutton .ui-button.ui-state-hover,.ui-selectbutton .ui-button.ui-state-focus {
   border: 1px solid $ux-color-primary; background: $ux-color-primary-dark; font-weight: normal; color: #fff;
}







/* DATATABLE */






/* Drop down */

p-dropdown.form-control, p-multiselect.form-control {
  border: 0;
  padding-left: 0;
}

p-dropdown.form-control {
  .ui-dropdown {
    width: 100% !important;
  }
}

p-multiselect.form-control {
  .ui-multiselect {
    width: 100% !important;
  }
}

.form-group p-dropdown.form-control, .form-group p-multiselect.form-control {
  padding-top: 0;
}

.ui-dropdown .ui-dropdown-trigger {
  padding-top: 3px;
}

.ui-dropdown .ui-dropdown-label {
  padding-right: 2em;
}

.ui-multiselect .ui-multiselect-trigger {
  padding-top: 3px;
  width: 22px;
}

.ui-multiselect:not(.ui-state-disabled):hover {
  background: transparent;
}


.ui-multiselect .ui-multiselect-label {
  margin-top: 3px;
  padding-left: 0.5em;
}

/* input switch */
.ui-inputswitch {
  height: 25px;
}
.ui-inputswitch .ui-inputswitch-on, .ui-inputswitch .ui-inputswitch-off {
  height: 25px;
  padding-top: 2px;
}

.ui-inputswitch .ui-inputswitch-on span {
  padding-left: 5px !important;
}

.ui-inputswitch .ui-inputswitch-off span {
  padding-right: 5px !important;
}


/* calendar */
