.ux-action-box__content {
    flex: 1 1;
}

.ux-action-box__actions {
    flex: 0 0 250px;
    margin-left: $ux-spacer;

    &--collapsed {
        flex: 0 0 60px;
    }
}

.ux-action-box {
    &__icon-toggle {
        cursor: pointer;
        font-size: $ux-font-size-h4;
        margin-left: auto;
    }

    &--collapsed &__icon-toggle {
        margin-left: -35px;
        width: 100%;
    }

    &--collapsed &__label {
        display: none;
    }

    &--collapsed {
        .ux-list-items-title {
            display: none;
        }
    }
}

