$ellipsis-dot-size: $ux-spacer-small;
$ellipsis-dot-margin: $ux-spacer-tiny;
$loader-colour-red: 100;
$loader-colour-green: 100;
$loader-colour-blue: 100;
$loader-width: 3 * $ellipsis-dot-size + 6 * $ellipsis-dot-margin;
$bootstrap-input-field-padding: 0.75rem;

.ux-search-input-container {
    padding: 3px;
    position: relative;

    .dropdown-menu-container {
        position: relative;

        .dropdown-menu {
            display: block;
            left: auto;
            top: auto;
            width: 100%;

            .dropdown-item {
                cursor: default;

                &.historical {
                    svg {
                        height: $ux-spacer;
                        margin-right: 0.33rem;
                        position: relative;
                        top: -0.1rem;
                        vertical-align: middle;
                        width: $ux-spacer;

                        &.inverted {
                            display: none;
                        }
                    }

                    &.active {
                        svg {
                            display: none;

                            &.inverted {
                                display: inline-block;
                            }
                        }
                    }
                }

                &.empty {
                    color: gray;
                    cursor: default;
                    font-size: 0.8rem;
                    font-style: italic;
                    -webkit-touch-callout: none;
                    -webkit-user-select: none;
                    -khtml-user-select: none;
                    -moz-user-select: none;
                    -ms-user-select: none;
                    user-select: none;

                    &:hover {
                        background-color: transparent;
                    }
                }
            }
        }
    }

    // ------------- Spinner -------------
    .spinner {
        margin-top: -1.65rem;
        position: absolute;
        right: $ux-spacer;
        text-align: center;
        width: $loader-width;
        z-index: 2;

        > div {
            animation: sk-bouncedelay 1s infinite ease-in-out both;
            background-color: black;
            border-radius: 100%;
            display: inline-block;
            height: $ellipsis-dot-size;
            margin: $ellipsis-dot-margin;
            width: $ellipsis-dot-size;

            &:nth-child(1) {
                animation-delay: -0.4s;
            }

            &:nth-child(2) {
                animation-delay: -0.2s;
            }
        }
    }
    @keyframes sk-bouncedelay {
        0%,
        80%,
        100% {
            opacity: 0;
            transform: scale(0) rotate(0.02deg); // The rotate(0.02deg) fixes stuttering animation bugs in Firefox.
        }

        40% {
            opacity: 1;
            transform: scale(1) rotate(0.02deg); // The rotate(0.02deg) fixes stuttering animation bugs in Firefox.
        }
    }
    // ----------------------------------
}
