.ux-message-box {
    .ux-modal__header {
        padding: $ux-spacer-small 15px;
    }

    .ux-modal__header-title {
        font-size: $ux-font-size-h4;
    }

    .ux-modal__footer {
        background-color: $ux-color-grey-lightester;
        padding: $ux-spacer;
    }

    .ux-modal__body {
        margin-left: 6rem;

        &::before {
            color: white;
            content: '';
            font-family: 'fontawesome';
            font-size: 3.5rem;
            left: -4rem;
            line-height: 1;
            position: absolute;
            text-align: center;
            top: 50%;
            transform: translateY(-50%);
            width: 3.5rem;
        }
    }

    &--warning {
        .ux-modal__content {
            border: 2px solid $ux-color-warning;
        }

        .ux-modal__header {
            background-color: $ux-color-warning-lightester-2;
        }

        .ux-modal__header-title {
            color: $ux-color-warning-dark;
        }

        .ux-modal__body {
            &::before {
                color: $ux-color-warning;
                content: '\f071';
            }
        }
    }

    &--danger {
        .ux-modal__content {
            border: 2px solid $ux-color-danger;
        }

        .ux-modal__header {
            background-color: $ux-color-danger-lightester-2;
        }

        .ux-modal__header-title {
            color: $ux-color-danger-dark;
        }

        .ux-modal__body {
            &::before {
                color: $ux-color-danger;
                content: '\f00d';
            }
        }
    }

    &--success {
        .ux-modal__content {
            border: 2px solid $ux-color-success;
        }

        .ux-modal__header {
            background-color: $ux-color-success-lightester-2;
        }

        .ux-modal__header-title {
            color: $ux-color-success-dark;
        }

        .ux-modal__body {
            &::before {
                color: $ux-color-success;
                content: '\f00c';
            }
        }
    }

    &--info {
        .ux-modal__content {
            border: 2px solid $ux-color-info;
        }

        .ux-modal__header {
            background-color: $ux-color-info-lightester-2;
        }

        .ux-modal__header-title {
            color: $ux-color-info-dark;
        }

        .ux-modal__body {
            &::before {
                color: $ux-color-info;
                content: '\f129';
            }
        }
    }
}

