.ux-dropdown-button {
    display: inline-flex;

    &__toggle {
        padding-left: $ux-spacer-small;
        padding-right: $ux-spacer-small;

        &:hover {
            text-decoration: none;
        }
    }

    &__toggle--icon-toggle {
        color: $ux-color;
        padding: $ux-spacer-tiny;

        &::after {
            margin-left: 0;
            margin-top: -3px;
        }

        &:focus {
            text-decoration: none;
            @include ux-box-shadow-hover;
        }
    }

    &__toggle--link-toggle {
        &:focus,
        &:hover {
            text-decoration: underline;
        }
    }

    &__toggle--split-toggle {
        border-bottom-left-radius: 0;
        border-top-left-radius: 0;

        &::after {
            margin-left: 0;
        }
    }

    &__toggle--split-toggle-outline {
        border-bottom-left-radius: 0;
        border-left: 0;
        border-top-left-radius: 0;

        &::after {
            margin-left: 0;
        }
    }

    &__toggle--icon-toggle &__toggle-icon {
        font-size: 17px;
    }

    &__toggle-label {
        &--with-icon {
            margin-left: $ux-spacer-small;
        }
    }

    &__menu {
        padding: 0;
        @include ux-box-shadow-z-depth-2;

        &--right-aligned {
            left: inherit;
            right: 0;
        }

        &--link-toggle {
            top: $ux-spacer-large;
        }
    }

    &__menu-item {
        border-bottom: 1px solid $ux-color-grey-light;
        padding: $ux-spacer-small $ux-spacer;

        &:last-child {
            border-bottom: 0;
        }

        &:focus {
            background-color: $ux-color-grey-lighter;
            box-shadow: none;
        }

        &-icon {
            margin-right: $ux-spacer;
            padding: $ux-spacer-tiny;
        }
    }
}
