/* stylelint-disable */

.fx {
    -webkit-animation-duration: 1s;
    animation-duration: 1s;
    -webkit-animation-fill-mode: both;
    animation-fill-mode: both;

    &.infinite {
        -webkit-animation-iteration-count: infinite;
        animation-iteration-count: infinite;
    }
}


/* basic fadeIn */
@-webkit-keyframes fadeIn {
    0% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}
@-moz-keyframes fadeIn {
    0% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}
@-ms-keyframes fadeIn {
    0% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}
@keyframes fadeIn {
    from {
        opacity: 0;
    }

    to {
        opacity: 1;
    }
}

.fx.fadeIn {
    -webkit-animation: fadeIn 1s;
    /* Safari, Chrome and Opera > 12.1 */
    -moz-animation: fadeIn 1s;
    /* Firefox < 16 */
    -ms-animation: fadeIn 1s;
    /* Internet Explorer */
    -o-animation: fadeIn 1s;
    /* Opera < 12.1 */
    animation: fadeIn 1s;
}

.fx.fadeIn:hover {
    -webkit-animation: fadeIn 0.5s;
    -ms-animation: fadeIn 0.5s;
    -moz-animation: fadeIn 0.5s;
    animation: fadeIn 0.5s;
}


/* Pulse - originally authored by Nick Pettit - https://github.com/nickpettit/glide */
@-webkit-keyframes fx-pulse {
    from {
        -webkit-transform: scale3d(1, 1, 1);
        transform: scale3d(1, 1, 1);
    }

    50% {
        -webkit-transform: scale3d(1.05, 1.05, 1.05);
        transform: scale3d(1.05, 1.05, 1.05);
    }

    to {
        -webkit-transform: scale3d(1, 1, 1);
        transform: scale3d(1, 1, 1);
    }
}
@-moz-keyframes fx-pulse {
    from {
        -moz-transform: scale3d(1, 1, 1);
        transform: scale3d(1, 1, 1);
    }

    50% {
        -moz-transform: scale3d(1.05, 1.05, 1.05);
        transform: scale3d(1.05, 1.05, 1.05);
    }

    to {
        -moz-transform: scale3d(1, 1, 1);
        transform: scale3d(1, 1, 1);
    }
}
@keyframes fx-pulse {
    from {
        transform: scale3d(1, 1, 1);
    }

    50% {
        transform: scale3d(1.05, 1.05, 1.05);
    }

    to {
        transform: scale3d(1, 1, 1);
    }
}

.fx.pulse {
    -webkit-animation-duration: 0.5s;
    -moz-animation-duration: 0.5s;
    animation-duration: 0.5s;
}

.fx.pulse:hover {
    -webkit-animation-name: 'fx-pulse';
    -moz-animation-name: 'fx-pulse';
    animation-name: 'fx-pulse';
}


/* flipIn vertical */
@-webkit-keyframes fx-flipInY {
    from {
        animation-timing-function: ease-in;
        opacity: 0;
        transform: perspective(400px) rotate3d(0, 1, 0, 90deg);
    }

    40% {
        animation-timing-function: ease-in;
        transform: perspective(400px) rotate3d(0, 1, 0, -20deg);
    }

    60% {
        opacity: 1;
        transform: perspective(400px) rotate3d(0, 1, 0, 10deg);
    }

    80% {
        transform: perspective(400px) rotate3d(0, 1, 0, -5deg);
    }

    to {
        transform: perspective(400px);
    }
}
@-moz-keyframes fx-flipInY {
    from {
        animation-timing-function: ease-in;
        opacity: 0;
        transform: perspective(400px) rotate3d(0, 1, 0, 90deg);
    }

    40% {
        animation-timing-function: ease-in;
        transform: perspective(400px) rotate3d(0, 1, 0, -20deg);
    }

    60% {
        opacity: 1;
        transform: perspective(400px) rotate3d(0, 1, 0, 10deg);
    }

    80% {
        transform: perspective(400px) rotate3d(0, 1, 0, -5deg);
    }

    to {
        transform: perspective(400px);
    }
}
@keyframes fx-flipInY {
    from {
        animation-timing-function: ease-in;
        opacity: 0;
        transform: perspective(400px) rotate3d(0, 1, 0, 90deg);
    }

    40% {
        animation-timing-function: ease-in;
        transform: perspective(400px) rotate3d(0, 1, 0, -20deg);
    }

    60% {
        opacity: 1;
        transform: perspective(400px) rotate3d(0, 1, 0, 10deg);
    }

    80% {
        transform: perspective(400px) rotate3d(0, 1, 0, -5deg);
    }

    to {
        transform: perspective(400px);
    }
}

.fx.flipInY,
.fx.flipInY:hover {
    -webkit-animation-duration: 0.75s;
    -moz-animation-duration: 0.75s;
    animation-duration: 0.75s;
    /* Used for user profile menu */
    -webkit-animation-name: 'fx-flipInY';
    -moz-animation-name: 'fx-flipInY';
    animation-name: 'fx-flipInY';
    -webkit-backface-visibility: visible !important;
    -moz-backface-visibility: visible !important;
    backface-visibility: visible !important;
}

// Notifications Ring FX (used by Profile connectivity)
@-webkit-keyframes pulsate {
    30% {
        opacity: 0;
        -webkit-transform: scale(0.1, 0.1);
        transform: scale(0.1, 0.1);
    }

    35% {
        opacity: 1;
    }

    40% {
        opacity: 0;
        -webkit-transform: scale(1.2, 1.2);
        transform: scale(1.2, 1.2);
    }
}
@keyframes pulsate {
    30% {
        opacity: 0;
        -webkit-transform: scale(0.1, 0.1);
        transform: scale(0.1, 0.1);
    }

    35% {
        opacity: 1;
    }

    40% {
        opacity: 0;
        -webkit-transform: scale(1.2, 1.2);
        transform: scale(1.2, 1.2);
    }
}
$pulse-ring-timer: 10s; // Change to match the ping service timer interval
.pulse-ring {
    *display: inline; //Cross Browser inline fix
    animation: pulsate $pulse-ring-timer ease-out;
    animation-iteration-count: infinite;
    border: 1px solid white;
    border-radius: 100px;
    display: -moz-inline-stack;
    display: inline-block;
    height: 40px;
    opacity: 0;
    position: absolute;
    right: -4px;
    top: -8px;
    width: 40px;
    zoom: 1;

    &.connect {
        right: -16px;
    }

    &.red {
        border: 1px solid red;
    }

    &.green {
        border: 1px solid green;
    }

    &.blue {
        border: 1px solid blue;
    }
}
$pulse-aura-speed: 0.75s;

.pulse-aura {
    -ms-animation: pulse $pulse-aura-speed infinite cubic-bezier(0.66, 0, 0, 1);
    -moz-animation: pulse $pulse-aura-speed infinite cubic-bezier(0.66, 0, 0, 1);
    -webkit-animation: pulse $pulse-aura-speed infinite cubic-bezier(0.66, 0, 0, 1);
    animation: pulse $pulse-aura-speed infinite cubic-bezier(0.66, 0, 0, 1);
    border: none;
    border-radius: 50%;
    box-shadow: 0 0 0 0 rgba(232, 76, 61, 0.7);
    cursor: pointer;
    height: 30px;
    position: absolute;
    right: -8px;
    top: -2px;
    width: 30px;

    &:hover {
        -webkit-animation: none;
        -moz-animation: none;
        -ms-animation: none;
        animation: none;
    }
}
@-webkit-keyframes pulse {
    to {
        box-shadow: 0 0 0 25px rgba(232, 76, 61, 0);
    }
}
@-moz-keyframes pulse {
    to {
        box-shadow: 0 0 0 25px rgba(232, 76, 61, 0);
    }
}
@-ms-keyframes pulse {
    to {
        box-shadow: 0 0 0 25px rgba(232, 76, 61, 0);
    }
}
@keyframes pulse {
    to {
        box-shadow: 0 0 0 25px rgba(232, 76, 61, 0);
    }
}


/* stylelint-enable */
@-webkit-keyframes spin {
    0% {
        -webkit-transform: rotate(0deg);
        -ms-transform: rotate(0deg);
        transform: rotate(0deg);
    }

    100% {
        -webkit-transform: rotate(360deg);
        -ms-transform: rotate(360deg);
        transform: rotate(360deg);
    }
}
@keyframes spin {
    0% {
        -webkit-transform: rotate(0deg);
        -ms-transform: rotate(0deg);
        transform: rotate(0deg);
    }

    100% {
        -webkit-transform: rotate(360deg);
        -ms-transform: rotate(360deg);
        transform: rotate(360deg);
    }
}
