.ux-o-work-in-progress {
    background: url(#{$ux-assets-path}/images/common/work-in-progress.png) no-repeat 0 0;
    background-size: cover;
    height: 355px;
    max-height: 100%;
    max-width: 100%;
    width: 426px;
}
