.ux-c-badge {
    &.badge-default {
        color: $ux-color-font;
    }

    &--outline {
        background-color: transparent;
        border-style: solid;
        border-width: 1px;

        &.ux-c-badge--default {
            border-color: $ux-color-grey-dark;
            color: $ux-color-font;
        }

        &.ux-c-badge--primary {
            border-color: $ux-color-primary;
            color: $ux-color-primary-darker;
        }

        &.ux-c-badge--info {
            border-color: $ux-color-info;
            color: $ux-color-info-darker;
        }

        &.ux-c-badge--success {
            border-color: $ux-color-success;
            color: $ux-color-success-darker;
        }

        &.ux-c-badge--warning {
            border-color: $ux-color-warning;
            color: $ux-color-warning-darker;
        }

        &.ux-c-badge--danger {
            border-color: $ux-color-danger;
            color: $ux-color-danger-darker;
        }
    }
}
