.alert-success {
    a,
    a:hover,
    a:focus {
        color: ux-get-color(success-darker);
        text-decoration: underline;
    }
}

.alert-info {
    a,
    a:hover,
    a:focus {
        color: ux-get-color(info-darkester);
        text-decoration: underline;
    }
}

.alert-warning {
    a,
    a:hover,
    a:focus {
        color: ux-get-color(warning-darker);
        text-decoration: underline;
    }
}

.alert-danger {
    a,
    a:hover,
    a:focus {
        color: ux-get-color(danger-darker);
        text-decoration: underline;
    }
}
