.form-inline label {
  margin-right: $ux-spacer-small;
}

.col-form-label {
  text-align: right;
  padding-right: 0;
}

.form-control.custom-select {
  padding-right: 1.5rem;
  text-overflow: ellipsis;
}

@include media($ux-bkp-mobile) {
  .col-form-label {
    text-align: left;
  }
}

.form-control {
  &:disabled,
  &[readonly] {
    color: $ux-color-grey-dark !important;
    background-color: $ux-color-grey-lightester !important;
  }
}