.table-striped tbody tr:nth-of-type(odd) {
    background-color: white;

    &:hover {
        background-color: $ux-color-grey-lightest;
    }
}

.table-striped tbody tr:nth-of-type(even) {
    background-color: $ux-color-grey-lightester;

    &:hover {
        background-color: $ux-color-grey-lightest;
    }
}

.table tr {
    &:first-child {
        td {
            border-top: 0;
        }
    }
}

.table th {
    padding-bottom: $ux-spacer;
    padding-top: $ux-spacer;
}

.table thead tr {
    background: $ux-color-grey-lightester;
}

.table thead.transparent tr {
    background: transparent;
}

.table thead th {
    border-bottom: 1px solid #d6d6d6;
    color: #616161;
    @include ux-font-family-bold;
}
