.page-action-icons {
    display: block;

    &__item {
        cursor: pointer;
        display: inline-block;
        font-size: $ux-font-size-h3;
        margin-left: $ux-spacer;

        &:hover {
            color: $ux-color-primary;
        }
    }
}
