#page-title {
    padding: $ux-spacer-small 0 $ux-spacer-large 0;
    @include clearfix;

    .left-content {
        float: left;
    }

    .middle-content {
        float: left;
        margin-left: 30%;
        margin-top: $ux-spacer;
        position: absolute;
    }

    .right-content {
        float: right;
        position: absolute;
        right: 1.5rem;
    }

    h2 {
        color: #000;
        font-size: $ux-font-size-h1;
        @include ux-font-family-light;
    }
}

.page-title {
    font-size: $ux-font-size-h1;
    padding: $ux-spacer-small 0 $ux-spacer-large 0;
    @include ux-font-family-light;

    &--large {
        font-size: $ux-font-size-h1*1.25;
    }
}

.page-sub-title {
    color: $ux-color-grey-darker;
    font-size: $ux-font-size-h3;
    overflow: hidden;
    padding: $ux-spacer-small 0 $ux-spacer-xlarge 0;
    text-overflow: ellipsis;
    white-space: nowrap;
    @include ux-font-family-light;
}
