.alert {
    @include clearfix;

    background-position: $ux-spacer-small;
    background-repeat: no-repeat;
    padding: $ux-spacer;
    position: relative;

    &.alert-info,
    &.alert-success,
    &.alert-danger,
    &.alert-warning {
        border-left-style: solid;
        border-left-width: 3.5rem;
    }

    &::before {
        color: white;
        content: '';
        font-family: 'fontawesome';
        font-size: 1.2rem;
        left: -3.5rem;
        line-height: 1;
        position: absolute;
        text-align: center;
        top: 50%;
        transform: translateY(-50%);
        width: 3.5rem;
    }

    &.alert-info {
        border-left-color: $ux-color-info-light;

        &::before {
            content: '\f129';
        }
    }

    &.alert-success {
        border-left-color: $ux-color-success-light;

        &::before {
            content: '\f00c';
        }
    }

    &.alert-danger {
        border-left-color: $ux-color-danger-light;

        &::before {
            content: '\f00d';
        }
    }

    &.alert-warning {
        border-left-color: $ux-color-warning-light;

        &::before {
            content: '\f071';
        }
    }

    &.muted {
        border-left-color: transparent;
        border-left-width: 1px;

        &::before {
            display: none;
        }

        &.alert-info {
            border-left-color: $ux-color-info-lightester;
        }

        &.alert-success {
            border-left-color: $ux-color-success-lightester;
        }

        &.alert-warning {
            border-left-color: $ux-color-warning-lightester;
        }

        &.alert-danger {
            border-left-color: $ux-color-danger-lightester;
        }
    }

    .fa.icon {
        float: left;
        font-size: 2.5rem;
        margin-right: $ux-spacer;
    }

    .text.with-icon {
        float: left;
        line-height: 2.5rem;
    }
}

.alert p {
    @include clearfix;

    display: block;
    margin: 0;
}
