#breadcrumbs {
    background-color: $ux-color-grey-lightest;
    border-bottom: 1px solid $ux-color-grey-lighter;
    color: $ux-color-grey-light;
    padding: $ux-spacer-small 0 $ux-spacer-small $ux-spacer;

    ul {
        @include clearfix;

        li {
            color: $ux-color-grey;
            float: left;
            padding: $ux-spacer-tiny $ux-spacer-tiny;

            &:first-child {
                padding-left: 0;
            }

            &:hover {
                a {
                    color: $ux-color-link;
                    text-decoration: underline;
                }
            }

            &.active {
                a {
                    color: $ux-color-link;
                }
            }

            span.fa {
                font-size: 16px;
                margin-right: $ux-spacer-small;
            }

            a {
                color: $ux-color-grey;
            }
        }
    }
}
