@include media($ux-bkp-mobile) {
    #breadcrumbs {
        display: none;
    }
}
@include media($ux-bkp-desktop-up) {
    .contract {
        #breadcrumbs {
            padding-left: 10%;
            padding-right: 10%;
        }
    }
}
