@include media($ux-bkp-mobile) {
    #app-header {
        .logo.logo--bg,
        .logo.logo--cs,
        .logo.logo--da,
        .logo.logo--de,
        .logo.logo--el,
        .logo.logo--en,
        .logo.logo--es,
        .logo.logo--et,
        .logo.logo--fi,
        .logo.logo--fr,
        .logo.logo--ga,
        .logo.logo--hr,
        .logo.logo--hu,
        .logo.logo--it,
        .logo.logo--lt,
        .logo.logo--lv,
        .logo.logo--mt,
        .logo.logo--nl,
        .logo.logo--pl,
        .logo.logo--pt,
        .logo.logo--ro,
        .logo.logo--sk,
        .logo.logo--sl,
        .logo.logo--sv {
            background-image: url(#{$ux-assets-path}/images/ec-europa/logos/logo-ec-mobile.png);
        }
    }
}
@include media($ux-bkp-tablet) {
    #app-header {
        .logo.logo--bg,
        .logo.logo--cs,
        .logo.logo--da,
        .logo.logo--de,
        .logo.logo--el,
        .logo.logo--en,
        .logo.logo--es,
        .logo.logo--et,
        .logo.logo--fi,
        .logo.logo--fr,
        .logo.logo--ga,
        .logo.logo--hr,
        .logo.logo--hu,
        .logo.logo--it,
        .logo.logo--lt,
        .logo.logo--lv,
        .logo.logo--mt,
        .logo.logo--nl,
        .logo.logo--pl,
        .logo.logo--pt,
        .logo.logo--ro,
        .logo.logo--sk,
        .logo.logo--sl,
        .logo.logo--sv {
            background-image: url(#{$ux-assets-path}/images/ec-europa/logos/logo-ec-tablet.png);
        }
    }
}
