.profile-wrapper {
    align-items: center;
    display: flex;
    position: relative;
    @include clearfix;
    @include ux-font-family-light;

    .left-panel {
        .user-infos {
            font-size: 1.25rem;
            text-align: right;

            strong {
                font-family: $ux-font-family;
            }
        }

        .time-wrapper {
            color: $ux-color-grey;
            text-align: right;
            @include clearfix;

            .current-time {
                font-size: $ux-spacer;
                font-size: 1.6rem;

                .fa {
                    margin-right: $ux-spacer-small;
                }
            }

            .utc-time {
                font-size: 0.85rem;
            }
        }
    }

    .right-panel {
        margin-left: $ux-spacer;
        position: relative;

        .picture {
            background: url('#{$ux-assets-path}/images/common/profile-avatar.png') no-repeat 0 0;
            background-size: cover;
            border: 3px solid $ux-color-info-light;
            border-radius: 100%;
            box-shadow: 0 1px 2px rgba(0, 0, 0, 0.2), 0 1px 3px rgba(0, 0, 0, 0.3);
            cursor: pointer;
            height: 60px;
            position: relative;
            width: 60px;

            &--offline {
                border-color: $ux-color-danger-light;
            }

            &--online {
                border-color: $ux-color-info-light;
            }

            &:hover {
                -webkit-animation-duration: 0.5s;
                -moz-animation-duration: 0.5s;
                animation-duration: 0.5s;
                -webkit-animation-name: 'fx-pulse';
                -moz-animation-name: 'fx-pulse';
                animation-name: 'fx-pulse';
            }

            .connected-state {
                position: absolute;
                right: -5px;
                top: -3px;

                .icon {
                    background: #fff;
                    border-radius: 100%;
                    font-size: 1.2rem;
                }

                .pulse-ring {
                    margin-right: 2px;
                    margin-top: -5px;
                }
            }

            .available-state {
                bottom: 0;
                position: absolute;
                right: -4px;

                .icon {
                    border: 2px solid white;
                    border-radius: 100%;
                    font-size: 0.85rem;
                }
            }
        }

        .profile-toggle {
            bottom: -19px;
            color: black;
            cursor: pointer;
            font-size: 20px;
            left: 23px;
            position: absolute;
        }
    }
}
