#app-header {
    background: #fff;
    height: $ux-layout-header-height;
    margin-top: -1px;
    padding: 0 14px;
    position: relative;
    width: 100%;

    .logo {
        background-size: cover;
        cursor: pointer;
        float: left;
        height: 64px;
        margin-top: 12px;
        width: 230px;
        z-index: 1000;
    }

    .env {
        background-color: $ux-color-danger;
        color: #fff;
        font-size: 28px;
        margin-left: -15px;
        margin-top: 20px;
        opacity: 0.6;
        text-align: center;
        width: auto;
        @include transform(rotate(-10deg));
    }

    .title {
        float: left;
        padding-top: 7px;

        h1 {
            color: $ux-color-grey;
            font-size: 36px;
            margin-left: 14px;
            margin-top: 32px;
            @include ux-font-family-light;

            &.no-margin-left {
                margin-left: 0;
            }

            &.short {
                display: none;
            }

            &.full {
                display: block;
            }

            &.with-subtitle {
                margin-top: 5px;
                position: absolute;
            }
        }

        h2 {
            color: $ux-color-grey;
            font-size: 16px;
            margin-left: 16px;
            margin-top: 50px;
            position: absolute;
            @include ux-font-family-bold;
        }
    }

    .user-wrapper {
        cursor: pointer;
        float: left;
        margin-left: 40px;
        margin-top: 30px;

        .user-infos {
            color: $ux-color-primary;
            @include ux-font-family-bold;
        }

        .job-infos {
            float: left;
            padding-top: 8px;

            .job-selected {
                color: $ux-color-primary;
                @include ux-font-family-bold;
            }
        }

        .select-box {
            float: left;
            margin-left: 42px;
            margin-top: -14px;
        }
    }

    .right-content {
        margin-top: 8px;
        position: absolute;
        right: $ux-spacer;
    }

    .right-links {
        float: right;
        padding-top: 15px;
        right: 0;
        text-align: right;

        .user-infos {
            font-size: 14px;
            padding-top: 12px;

            button {
                margin-left: 8px;
                margin-top: -4px;
            }
        }
    }
}

.sidebar-inner-active {
    #app-header {
        .logo {
            margin-left: 8px;
        }
    }
}
