@include media($ux-bkp-mobile) {
    #app-header {
        background-color: $ux-color-primary;
        border-bottom: 1px solid $ux-color-primary-dark;
        height: $ux-layout-nav-height;
        position: fixed;
        z-index: 100;

        .logo {
            height: 41px;
            left: $ux-spacer-small;
            opacity: 0.75;
            position: absolute;
            top: -8px;
            width: 79px;
        }

        .env {
            margin-top: 10px;
        }

        .title {
            h1 {
                color: #fff;
                float: none;
                font-size: 2rem;
                left: 100px; // if mobile logo activated (see comments on the logo above)
                margin: 0;
                position: absolute;
                top: 14px;
                z-index: 1000;

                &.short {
                    display: block;
                }

                &.full {
                    display: none;
                }
            }

            h2 {
                display: none;
            }
        }

        .right-content {
            display: none;
        }

        .right-links {
            display: none;
        }
    }
}
@include media($ux-bkp-tablet) {
    #app-header {
        .logo {
            background-image: url(#{$ux-assets-path}/images/ec-europa/logos/logo-ec-tablet.png);
            width: 120px;
        }

        .env {
            width: 100%;
        }

        .title {
            h1 {
                margin-left: $ux-spacer-tiny;
            }

            h2 {
                margin-left: $ux-spacer-tiny;
            }
        }
    }
}
@include media($ux-bkp-desktop-up) {
    .contract {
        #app-header {
            padding-left: 10%;
            padding-right: 10%;
        }
    }

    .contract-half {
        #app-header {
            padding-left: 5%;
            padding-right: 5%;
        }
    }

    .contract-quarter {
        #app-header {
            padding-left: 2.5%;
            padding-right: 2.5%;
        }
    }
}
