#app-header {
    .logo {
        background-image: url(#{$ux-assets-path}/images/ec-europa/logos/svg/logo/logo--en.svg);
    }

    .logo.logo--bg {
        background-image: url(#{$ux-assets-path}/images/ec-europa/logos/svg/logo/logo--bg.svg);
    }

    .logo.logo--cs {
        background-image: url(#{$ux-assets-path}/images/ec-europa/logos/svg/logo/logo--cs.svg);
    }

    .logo.logo--da {
        background-image: url(#{$ux-assets-path}/images/ec-europa/logos/svg/logo/logo--da.svg);
    }

    .logo.logo--de {
        background-image: url(#{$ux-assets-path}/images/ec-europa/logos/svg/logo/logo--de.svg);
    }

    .logo.logo--el {
        background-image: url(#{$ux-assets-path}/images/ec-europa/logos/svg/logo/logo--el.svg);
    }

    .logo.logo--en {
        background-image: url(#{$ux-assets-path}/images/ec-europa/logos/svg/logo/logo--en.svg);
    }

    .logo.logo--es {
        background-image: url(#{$ux-assets-path}/images/ec-europa/logos/svg/logo/logo--es.svg);
    }

    .logo.logo--et {
        background-image: url(#{$ux-assets-path}/images/ec-europa/logos/svg/logo/logo--et.svg);
    }

    .logo.logo--fi {
        background-image: url(#{$ux-assets-path}/images/ec-europa/logos/svg/logo/logo--fi.svg);
    }

    .logo.logo--fr {
        background-image: url(#{$ux-assets-path}/images/ec-europa/logos/svg/logo/logo--fr.svg);
    }

    .logo.logo--ga {
        background-image: url(#{$ux-assets-path}/images/ec-europa/logos/svg/logo/logo--ga.svg);
    }

    .logo.logo--hr {
        background-image: url(#{$ux-assets-path}/images/ec-europa/logos/svg/logo/logo--hr.svg);
    }

    .logo.logo--hu {
        background-image: url(#{$ux-assets-path}/images/ec-europa/logos/svg/logo/logo--hu.svg);
    }

    .logo.logo--it {
        background-image: url(#{$ux-assets-path}/images/ec-europa/logos/svg/logo/logo--it.svg);
    }

    .logo.logo--lt {
        background-image: url(#{$ux-assets-path}/images/ec-europa/logos/svg/logo/logo--lt.svg);
    }

    .logo.logo--lv {
        background-image: url(#{$ux-assets-path}/images/ec-europa/logos/svg/logo/logo--lv.svg);
    }

    .logo.logo--mt {
        background-image: url(#{$ux-assets-path}/images/ec-europa/logos/svg/logo/logo--mt.svg);
    }

    .logo.logo--nl {
        background-image: url(#{$ux-assets-path}/images/ec-europa/logos/svg/logo/logo--nl.svg);
    }

    .logo.logo--pl {
        background-image: url(#{$ux-assets-path}/images/ec-europa/logos/svg/logo/logo--pl.svg);
    }

    .logo.logo--pt {
        background-image: url(#{$ux-assets-path}/images/ec-europa/logos/svg/logo/logo--pt.svg);
    }

    .logo.logo--ro {
        background-image: url(#{$ux-assets-path}/images/ec-europa/logos/svg/logo/logo--ro.svg);
    }

    .logo.logo--sk {
        background-image: url(#{$ux-assets-path}/images/ec-europa/logos/svg/logo/logo--sk.svg);
    }

    .logo.logo--sl {
        background-image: url(#{$ux-assets-path}/images/ec-europa/logos/svg/logo/logo--sl.svg);
    }

    .logo.logo--sv {
        background-image: url(#{$ux-assets-path}/images/ec-europa/logos/svg/logo/logo--sv.svg);
    }
}
