.profile-dropdown {
    background-color: white;
    border-top: 1px solid $ux-color-grey-lightest;
    height: auto;
    min-width: 300px;
    position: absolute;
    right: 0;
    top: 76px;
    z-index: 1040;
    @include ux-box-shadow-z-depth-5;

    ul {
        li {
            align-items: center;
            border-bottom: 1px solid $ux-color-grey-light;
            display: flex;
            padding: $ux-spacer-small $ux-spacer;

            &:last-child {
                border-bottom: 0;
            }

            a {
                color: $ux-color-font;
                text-decoration: none;
            }

            .icon {
                color: $ux-color-primary-light;
                font-size: 1.3rem;
                margin-right: $ux-spacer;
                padding: $ux-spacer-tiny;
            }

            &:hover {
                background-color: $ux-color-grey-lightest;
                cursor: pointer;
            }
        }
    }
}
