.ux-growl {
    bottom: 20px;
    position: fixed;
    right: 20px;
    width: 20em;
    z-index: 9999;
}

.ux-growl-item-container {
    color: white;
    filter: alpha(opacity=95);
    margin: 0 0 10px;
    opacity: 0.95;
    position: relative;
}

.ux-growl-item {
    display: block;
    padding: 0.5em 1em;
    position: relative;
}

.ux-growl-item-message-detail {
    margin: 0;
    padding: 0;
}

.ux-growl-item-close {
    cursor: pointer;
    position: absolute;
    right: 4px;
    top: 4px;
}

.ux-growl-item-message-title {
    display: block;
    font-weight: bold;
    padding: 0 0 0.5em;
}

.ux-growl-item-image {
    display: inline-block;
    left: 0.5em;
    padding: 0;
    position: absolute;
    top: 0.25em;
}

.ux-growl-item-message {
    margin-left: 2.5em;
    padding: 0 0 0.25em;
}

.ux-growl-item-container--info {
    background-color: $ux-color-info;
    border-bottom: 4px solid $ux-color-info-darkest;
}

.ux-growl-item-container--warning {
    background-color: $ux-color-warning;
    border-bottom: 4px solid $ux-color-warning-darkest;
}

.ux-growl-item-container--success {
    background-color: $ux-color-success;
    border-bottom: 4px solid $ux-color-success-darkest;
}

.ux-growl-item-container--danger {
    background-color: $ux-color-danger;
    border-bottom: 4px solid $ux-color-danger-darkest;
}
