.ux-carousel-items {
    &__arrow {
        cursor: pointer;

        &--inactive {
            color: $ux-color-grey-lighter;
        }
    }

    &__summary-indicators {
        margin-top: $ux-spacer;
    }

    &__summary-indicators-item {
        color: $ux-color-grey-light;
        cursor: pointer;
        font-size: 1.25rem;
        margin: 0 $ux-spacer-tiny;
        padding: $ux-spacer-tiny $ux-spacer-small;
    }
}
