@include media($ux-bkp-mobile) {
    .box {
        .header {
            height: 2.5rem;

            h2,
            .title {
                font-size: $ux-font-size-h6;
                padding: 0.75rem 0 0 $ux-spacer-small;
            }

            button {
                float: right;
                margin-right: $ux-spacer-tiny;
                margin-top: $ux-spacer-tiny;
            }
        }

        .content {
            padding: $ux-spacer-small;
        }
    }
}
