.box-wrapper > .box,
.box {
    background-color: #fff;
    border: 1px solid #dedede;
    border-radius: 3px;
    box-shadow: 0 0 8px 0 rgba(0, 0, 0, 0.06), 0 1px 0 0 rgba(0, 0, 0, 0.02);
    margin: 0 0 $ux-spacer 0;
    @include clearfix;

    ul.nav.nav-tabs,
    .ui-tabview.ui-tabview-top > .ui-tabview-nav {
        background-color: #efefef;
        padding-top: 0;
    }

    .tab-content {
        margin-bottom: $ux-spacer;
        padding: 2rem $ux-spacer $ux-spacer $ux-spacer;
    }

    .header {
        background-color: $ux-color-grey-lightest;
        border-bottom: 1px solid $ux-color-grey-lighter;
        height: 2.5rem;

        &.white {
            background-color: #fff;
        }

        .icon {
            float: left;
            font-size: $ux-font-size-h4;
            padding: $ux-spacer;
        }

        h2,
        .title {
            color: $ux-color-grey-darker;
            float: left;
            font-size: $ux-font-size-h5;
            padding: 0.65rem 0 0 $ux-spacer;
            @include ux-font-family-bold;

            &.with-subtitle {
                display: block;
                float: none;
                padding-top: $ux-spacer-small;
            }
        }

        .subtitle {
            color: $ux-color-grey-light;
            display: block;
            float: left;
            text-align: left;
        }

        button {
            float: right;
            margin-right: $ux-spacer-small;
            margin-top: $ux-spacer-small;
        }

        .fa.pull-right {
            color: $ux-color-grey-darker;
            cursor: pointer;
            font-size: $ux-font-size-h4;
            margin-right: $ux-spacer;
            margin-top: 0.75rem;

            &:hover {
                color: $ux-color-font;
            }
        }
    }

    .content {
        background: #fff;
        padding: $ux-spacer;
        @include clearfix;

        > .row {
            margin: 0;
        }

        > table {
            margin: 0;
        }

        &.no-pad {
            padding: 0;
        }

        &.inner-card {
            align-items: center;
            border: 0;
            display: flex;
            margin-bottom: 0;
            min-height: 100px;
            padding: $ux-spacer-small;

            .image {
                display: flex;
                height: 100%;
                justify-content: center;
                width: 30%;

                img {
                    margin: 0 auto;
                }
            }

            .description {
                height: 100%;
                justify-content: center;
                width: 70%;

                .title {
                    font-size: $ux-font-size-h5;
                    @include ux-font-family-bold;
                }

                .subtitle {
                    font-size: $ux-font-size-h7;
                    overflow: hidden;
                    padding-top: $ux-spacer-small;
                    text-overflow: ellipsis;
                    white-space: nowrap;
                }
            }
        }
    }

    &.no-header {
        .header {
            height: 0;
        }
    }

    &.no-padding {
        .content {
            padding: 0;
        }
    }

    &.red,
    &.danger {
        .header {
            h2,
            .title {
                color: $ux-color-danger-dark;
            }
        }

        .content {
            background-color: $ux-color-danger-lightester;
        }
    }

    &.green,
    &.success {
        .header {
            h2,
            .title {
                color: $ux-color-success-dark;
            }
        }

        .content {
            background-color: $ux-color-success-lightester;
        }
    }

    &.blue,
    &.info {
        .header {
            h2,
            .title {
                color: $ux-color-info-darkest;
            }
        }

        .content {
            background-color: $ux-color-info-lightester-2;
        }
    }

    &.orange,
    &.warning {
        .header {
            h2,
            .title {
                color: $ux-color-warning-dark;
            }
        }

        .content {
            background-color: $ux-color-warning-lightester;
        }
    }

    &.accordion-box {
        margin-bottom: $ux-spacer-tiny;

        .header {
            cursor: pointer;
        }

        .content {
            display: none;
        }

        &.expanded {
            .header {
                h2,
                .title {
                    color: $ux-color-primary;
                }
            }

            .content {
                display: block;
            }
        }
    }
}

