.ux-timebar {
    border-bottom: 2px solid $ux-color-grey;
    margin: 4rem;
    padding: 5px;
    position: relative;
}

.ux-timebar__step {
    border: 7px solid $ux-color-primary-dark;
    border-radius: 16px;
    height: 14px;
    position: absolute;
    width: 14px;

    &.hint--top::before,
    &.hint--top::after {
        bottom: 10px;
        opacity: 0.6;
        z-index: 1 !important;
    }

    &.hint--top::after {
        max-width: 8rem;
        min-width: 5.5rem;
        padding: 0.4rem;
        text-align: center;
        white-space: normal;
    }
}

.ux-timebar__step--with-current-date-marker {
    &.hint--top::before,
    &.hint--top::after {
        bottom: 25px;
    }
}

.ux-timebar__current-progress {
    border-bottom: 3px solid $ux-color-primary;
    padding-top: 5px;
    position: absolute;
}

.ux-timebar__current-date-marker {
    color: $ux-color-danger;
    font-size: $ux-font-size-h4;
    margin-left: -2px;
    margin-top: -22px;
    position: absolute;
}

.ux-timebar__current-date-marker-step {
    color: $ux-color-danger;
    font-size: $ux-font-size-h8;
    position: absolute;
}

.ux-timebar__start-label,
.ux-timebar__end-label {
    font-size: $ux-font-size-h7;
    font-weight: bold;
    margin-top: $ux-spacer-small;
}

.ux-timebar__start-label {
    text-align: right;
}

.ux-timebar__step--info {
    border-color: $ux-color-info-dark;
}

.ux-timebar__step--success {
    border-color: $ux-color-success-dark;
}

.ux-timebar__step--warning {
    border-color: $ux-color-warning-dark;
}

.ux-timebar__step--danger {
    border-color: $ux-color-danger-dark;
}

.ux-timebar__step-label {
    margin-left: -4rem;
    margin-top: 0.7rem;
    overflow: hidden;
    position: absolute;
    text-align: center;
    width: 8rem;
}

.ux-timebar__legend {
    margin-left: 53px;
    margin-top: 3rem;
}

.ux-timebar__legend-item {
    align-items: center;
    display: flex;
    padding: $ux-spacer-tiny $ux-spacer-tiny $ux-spacer-tiny 0;
    width: 100%;
}

.ux-timebar__legend-item-icon {
    color: $ux-color-primary;
    font-size: 16px;
    width: 40px;
}

.ux-timebar__legend-item-label {
    flex: 1;
}

.ux-timebar__legend-item-icon--info {
    color: $ux-color-info-dark;
}

.ux-timebar__legend-item-icon--success {
    color: $ux-color-success-dark;
}

.ux-timebar__legend-item-icon--warning {
    color: $ux-color-warning-dark;
}

.ux-timebar__legend-item-icon--danger {
    color: $ux-color-danger-dark;
}

.ux-timebar__legend-item-index-wrapper {
    background-color: $ux-color-primary;
    border-radius: 100%;
    color: white;
    margin-right: $ux-spacer;
    padding: $ux-spacer-tiny $ux-spacer-small;
}
