@include media($ux-bkp-mobile) {
    .ux-timebar {
        margin: $ux-spacer $ux-spacer-large $ux-spacer-xxlarge $ux-spacer-large;
    }

    .ux-timebar__legend {
        margin-bottom: $ux-spacer-large;
        margin-left: 18px;
    }
}
