@include media($ux-bkp-mobile) {
    ul.timeline {
        &::before {
            left: 10px;
        }

        li {
            padding-bottom: $ux-spacer;

            .date {
                margin: 0 0 $ux-spacer;
                padding: 0 0 0 2rem;
                position: relative;
                text-align: left;
            }

            span.icon {
                left: 0;
                top: -3px;
            }

            .content {
                padding-left: 2rem;
                padding-top: 0;
            }
        }
    }
}
