ul.timeline {
    margin-bottom: 2rem;
    padding: 0;
    position: relative;

    &::before {
        background-color: $ux-color-grey-light;
        bottom: 0;
        content: "";
        display: block;
        left: 120px;
        position: absolute;
        top: -$ux-spacer-small;
        width: 2px;
        z-index: 1;
    }

    &.left-aligned::before {
        left: $ux-spacer;
    }

    &.left-aligned {
        li {
            .icon {
                color: $ux-color-font;
                left: 5px;
            }

            .content {
                padding-left: 3rem;

                > .date {
                    margin-left: 0;
                    padding-left: 0;
                    position: relative;
                    text-align: left;
                }
            }
        }
    }

    li {
        cursor: pointer;
        position: relative;

        &:last-child {
            padding-bottom: 0;
        }

        &:hover {
            .content {
                background-color: $ux-color-grey-lightest;
            }
        }

        a {
            text-decoration: none;
        }

        .date {
            color: $ux-color-grey-dark;
            margin: 0 -20px;
            padding: 10px 20px 10px 40px;
            position: absolute;
            text-align: right;
        }

        .icon {
            background-color: #fff;
            border-radius: 10px;
            color: $ux-color-accent-dark;
            font-size: $ux-font-size-h4;
            left: 111px;
            position: absolute;
            text-align: center;
            top: 10px;
            width: 20px;
            z-index: 2;
        }

        .content {
            padding-left: 150px;
            padding-top: 7px;

            .title {
                color: $ux-color-grey-darker;
                font-size: $ux-font-size-h5;
                padding-bottom: $ux-spacer-small;
                @include ux-font-family-bold;
            }

            .sub {
                color: $ux-color-grey-dark;
            }
        }

        &.primary {
            .icon,
            .content {
                color: $ux-color-primary;
            }
        }

        &.info {
            .icon,
            .content {
                color: $ux-color-info;
            }
        }

        &.warning {
            .icon,
            .content {
                color: $ux-color-warning-darker;
            }
        }

        &.success {
            .icon,
            .content {
                color: $ux-color-success-darker;
            }
        }

        &.danger {
            .icon,
            .content {
                color: $ux-color-danger-darker;
            }
        }
    }
}
