/**
 * Error
 */
.hint--error:after {
  background-color: $ux-color-danger-dark;
  text-shadow: 0 -1px 0px $ux-color-danger-darker; }

.hint--error.hint--top-left:before {
  border-top-color: $ux-color-danger-dark; }

.hint--error.hint--top-right:before {
  border-top-color: $ux-color-danger-dark; }

.hint--error.hint--top:before {
  border-top-color: $ux-color-danger-dark; }

.hint--error.hint--bottom-left:before {
  border-bottom-color: $ux-color-danger-dark; }

.hint--error.hint--bottom-right:before {
  border-bottom-color: $ux-color-danger-dark; }

.hint--error.hint--bottom:before {
  border-bottom-color: $ux-color-danger-dark; }

.hint--error.hint--left:before {
  border-left-color: $ux-color-danger-dark; }

.hint--error.hint--right:before {
  border-right-color: $ux-color-danger-dark; }

/**
 * Warning
 */
.hint--warning:after {
  background-color: $ux-color-warning-dark;
  text-shadow: 0 -1px 0px $ux-color-warning-darker; }

.hint--warning.hint--top-left:before {
  border-top-color: $ux-color-warning-dark; }

.hint--warning.hint--top-right:before {
  border-top-color: $ux-color-warning-dark; }

.hint--warning.hint--top:before {
  border-top-color: $ux-color-warning-dark; }

.hint--warning.hint--bottom-left:before {
  border-bottom-color: $ux-color-warning-dark; }

.hint--warning.hint--bottom-right:before {
  border-bottom-color: $ux-color-warning-dark; }

.hint--warning.hint--bottom:before {
  border-bottom-color: $ux-color-warning-dark; }

.hint--warning.hint--left:before {
  border-left-color: $ux-color-warning-dark; }

.hint--warning.hint--right:before {
  border-right-color: $ux-color-warning-dark; }

/**
 * Info
 */
.hint--info:after {
  background-color: $ux-color-info-dark;
  text-shadow: 0 -1px 0px $ux-color-info-darker; }

.hint--info.hint--top-left:before {
  border-top-color: $ux-color-info-darker; }

.hint--info.hint--top-right:before {
  border-top-color: $ux-color-info-darker; }

.hint--info.hint--top:before {
  border-top-color: $ux-color-info-darker; }

.hint--info.hint--bottom-left:before {
  border-bottom-color: $ux-color-info-darker; }

.hint--info.hint--bottom-right:before {
  border-bottom-color: $ux-color-info-darker; }

.hint--info.hint--bottom:before {
  border-bottom-color: $ux-color-info-darker; }

.hint--info.hint--left:before {
  border-left-color: $ux-color-info-darker; }

.hint--info.hint--right:before {
  border-right-color: $ux-color-info-darker; }

/**
 * Success
 */
.hint--success:after {
  background-color: $ux-color-success-dark;
  text-shadow: 0 -1px 0px $ux-color-success-darker; }

.hint--success.hint--top-left:before {
  border-top-color: $ux-color-success-dark; }

.hint--success.hint--top-right:before {
  border-top-color: $ux-color-success-dark; }

.hint--success.hint--top:before {
  border-top-color: $ux-color-success-dark; }

.hint--success.hint--bottom-left:before {
  border-bottom-color: $ux-color-success-dark; }

.hint--success.hint--bottom-right:before {
  border-bottom-color: $ux-color-success-dark; }

.hint--success.hint--bottom:before {
  border-bottom-color: $ux-color-success-dark; }

.hint--success.hint--left:before {
  border-left-color: $ux-color-success-dark; }

.hint--success.hint--right:before {
  border-right-color: $ux-color-success-dark; }