.ux-c-block-content.ux-is-active {
    position: relative;

    &::before {
        -webkit-animation: spin 0.8s linear infinite;
        animation: spin 0.8s linear infinite;
        border: 8px solid transparent;
        border-radius: 50%;
        border-top-color: $ux-color-primary;
        content: "";
        display: block;
        height: 80px;
        left: 50%;
        margin: -40px 0 0 -40px;
        position: absolute;
        top: 50%;
        width: 80px;
        z-index: 10000;
    }

    &::after {
        background-color: rgba(255, 255, 255, 0.6);
        content: '';
        height: 100%;
        left: 0;
        position: absolute;
        top: 0;
        width: 100%;
        z-index: 1000000;
    }
}

