//@import 'ux-wizard-step';
.ux-wizard-steps {
    display: flex;
    margin: 3rem 0 2rem;
}

.ux-wizard-step {
    flex: 1;
    position: relative;
    text-align: center;
    width: auto;

    &__current-marker {
        color: $ux-color-danger;
        font-size: 17px;
        margin-top: -21px;
    }

    &__indicator-wrapper {
        margin-bottom: $ux-spacer-small;

        &::before {
            border-bottom: 3px solid $ux-color-grey-light;
            content: "";
            display: block;
            position: absolute;
            top: $ux-spacer-small;
            width: 100%;
        }

        &-item {
            background-color: $ux-color-grey;
            border-radius: 9px;
            height: 18px;
            margin-left: -9px;
            position: absolute;
            width: 18px;
        }
    }

    &:first-child &__indicator-wrapper::before {
        margin-left: 50%;
        width: 50%;
    }

    &:last-child &__indicator-wrapper::before {
        margin-right: 50%;
        width: 50%;
    }

    &--completed &__indicator-wrapper-item {
        background-color: $ux-color-success-dark;
    }

    &--completed &__indicator-wrapper::before {
        border-bottom-color: $ux-color-success-dark;
    }

    &--active &__indicator-wrapper-item {
        background-color: $ux-color-primary;
    }

    &--active &__indicator-wrapper::before {
        border-bottom-color: $ux-color-primary;
    }

    &--disabled &__label-wrapper-label,
    &--disabled &__label-wrapper-sub-label {
        color: $ux-color-grey;
    }

    &:hover {
        cursor: pointer;
    }

    &--disabled {
        &:hover {
            cursor: default;
        }
    }

    &__label-wrapper {
        margin-top: 2rem;

        &-label {
            font-weight: bold;
        }
    }
}
