.compact {
    fieldset {
        margin-bottom: $ux-spacer-small;
        padding: $ux-spacer-small;

        h4,
        h5 {
            margin: 0 $ux-spacer-small $ux-spacer-small 0;
        }
    }
}
