fieldset {
    background-color: #fff;
    box-shadow: 0 0 1px rgba(0, 0, 0, 0.5), 0 1px 1px rgba(0, 0, 0, 0.15);
    margin-bottom: $ux-spacer;
    padding: $ux-spacer;

    h4,
    h5 {
        border-bottom: 1px solid #e2e2e2;
        margin: 0 $ux-spacer $ux-spacer 0;
        padding-bottom: $ux-spacer;

        .tag {
            margin-right: $ux-spacer;
            min-width: 3rem;
        }
    }
}
