.form-control.ng-dirty.ng-invalid,
p-calendar.ng-dirty.ng-invalid .ui-inputtext {
    background-color: lighten($ux-color-danger-lightester-2, 2%);
    border: 1px solid $ux-color-danger-lighter;
    color: $ux-color-danger-darkester;
}
