.input-maxlength-wrapper {
    position: relative;

    .input-maxlength {
        background-color: $ux-color-grey-lightest;
        border: 1px solid $ux-color-grey-lighter;
        border-radius: $ux-border-radius;
        color: $ux-color-grey-dark;
        font-size: $ux-font-size-h8;
        padding: 1px 3px;
        position: absolute;
        right: -$ux-spacer-tiny;
        top: -$ux-spacer-small;

        &.error {
            background-color: $ux-color-danger-dark;
            border-color: $ux-color-danger;
            color: #fff;
        }
    }
}
