.compact {
    .form-control {
        padding: $ux-spacer-small;
    }

    .btn {
        padding: $ux-spacer-small;
    }

    .input-group-addon {
        padding: $ux-spacer-small;
    }

    select.form-control:not([size]):not([multiple]) {
        height: calc(2.25rem);
    }
}
