input,
select,
textarea,
.form-control,
.ui-widget input,
.ui-widget select,
.ui-widget textarea {
    //font-weight: bold !important;
    border: 1px solid $ux-color-grey-lighter;
    color: $ux-color-grey-darkest !important;
    padding: $ux-spacer-small 0.75rem;

    &:focus {
        border: 1px solid $ux-color-primary-light;
        @include ux-box-shadow-z-depth-light;
    }
}

.has-danger {
    input,
    select,
    textarea,
    .form-control,
    .ui-widget input,
    .ui-widget select,
    .ui-widget textarea {
        border: 1px solid $ux-color-danger-lightest;

        &:focus {
            background-color: lighten($ux-color-danger-lightester, 5%);
            border: 1px solid $ux-color-danger-light;
        }
    }
}

select.form-control:not([size]):not([multiple]) {
    height: calc(2.4rem + 2px);
}

