.inner-content {
    background-color: #fff;
    border-radius: 3px;
    border-top: 0;
    margin-top: $ux-layout-nav-height;
    max-width: 400px;
    min-width: 400px;
    position: absolute;
    right: $ux-spacer-small;
    top: 0;
    @include ux-box-shadow-z-depth-3;

    &.auto-width {
        min-width: inherit;
        width: auto;
    }

    &.fixed-height {
        height: 600px;
    }

    .header,
    .footer {
        color: #fff;
        color: $ux-color-font;
        padding: $ux-spacer;
    }

    .header {
        align-items: center;
        border-bottom: 1px solid $ux-color-grey-lighter;
        display: flex;
        font-size: $ux-font-size-h5;
        @include ux-font-family-bold;
    }

    .footer {
        text-align: center;
    }

    .inner {
        display: flex;
        flex-direction: column;
        height: 100%;
        @include clearfix;

        h6.title {
            color: $ux-color-font;
        }

        button.plus .fa {
            color: $ux-color-success;
        }

        button.minus .fa {
            color: $ux-color-danger;
        }
    }

    > ul {
        float: left;
        padding: $ux-spacer-small;
        width: 50%;

        > li {
            margin: 0 !important;
            width: 100%;

            &:not(:last-child) {
                border-bottom: 1px solid $ux-color-grey;
            }

            &:hover {
                background-color: $ux-color-grey-lighter !important;

                a {
                    color: #000;
                }
            }

            a {
                display: block;
                line-height: 2rem;
            }
        }
    }
}
