@include media($ux-bkp-mobile) {
    .inner-content {
        margin-top: $ux-layout-nav-height !important;
        min-width: 250px;
        right: 0;

        > ul {
            float: none;
            padding-bottom: 0;
            padding-top: 0;
            width: 100%;

            > li {
                border-bottom: 0;

                &:not(:last-child) {
                    border-bottom: 0;
                }
            }
        }

        &.search-bar {
            width: 250px;

            .search-input {
                width: 200px;
            }
        }
    }
}
@include media($ux-bkp-tablet) {
    .inner-content {
        &.search-bar {
            width: 400px;

            .search-input {
                width: 350px;
            }
        }
    }
}
