#nav-bar {
    background-color: $ux-color-primary;
    border-bottom: 1px solid $ux-color-primary-dark;
    height: $ux-layout-nav-height;
    padding: 0 $ux-spacer-small 0 $ux-spacer;
    position: relative;
    width: 100%;
    z-index: 10;
    @include clearfix;
    @include ux-box-shadow;

    .logo {
        background-image: url(#{$ux-assets-path}/images/ec-europa/logos/logo-ec-mobile.png);
        background-size: cover;
        float: left;
        height: 41px;
        left: $ux-spacer-small;
        margin-top: $ux-spacer-tiny;
        width: 79px;
    }

    .title {
        float: left;
        padding-left: $ux-spacer;
        padding-top: $ux-spacer;

        h1 {
            color: #fff;
            font-size: $ux-font-size-h2;
            @include ux-font-family-light;
        }
    }

    .right-actions {
        float: right;

        > ul {
            float: left;

            li.action-item {
                color: #fff;
                cursor: pointer;
                display: inline;
                line-height: $ux-layout-nav-height + 4px;
                margin-left: $ux-spacer-small;
                padding: 17px 1rem 1rem;
                position: relative;

                &.app-menu {
                    display: none;
                }

                &.selected {
                    background-color: white;

                    .action-item-icon,
                    .fa {
                        color: $ux-color-primary;
                    }
                }

                &:hover {
                    background-color: $ux-color-primary-dark;
                }

                &.selected:hover {
                    background-color: white;
                }

                .action-item-icon,
                .fa {
                    color: #fff;
                    font-size: $ux-font-size-h5;
                }

                .tag {
                    background-color: $ux-color-danger;
                    border-radius: 16px;
                    color: white;
                    font-size: $ux-font-size-h8;
                    height: 14px;
                    min-width: 18px;
                    padding: 1px 6px;
                    position: absolute;
                    right: 6px;
                    top: 6px;
                    @include ux-font-family-bold;

                    &.warning {
                        background-color: $ux-color-warning;
                    }

                    &.success {
                        background-color: $ux-color-success;
                    }

                    &.primary {
                        background-color: $ux-color-primary;
                    }
                }
            }
        }
    }

    .right-elements {
        float: right;

        > ul {
            float: left;

            li.element-item {
                color: #fff;
                cursor: pointer;
                float: left;
                line-height: 50px;
                margin-left: $ux-spacer-small;
                padding: 0 $ux-spacer;
                position: relative;
            }
        }
    }

    .left-actions {
        float: left;

        > ul {
            float: left;

            li.left-action-item {
                color: #fff;
                cursor: pointer;
                display: inline-block;
                font-size: $ux-font-size-h4;
                line-height: 50px;
                padding: 0 $ux-spacer;
                position: relative;

                a:hover {
                    text-decoration: none;
                }

                &:first-child {
                    margin-left: -$ux-spacer-small;
                }

                .icon-toggle {
                    color: #fff;
                    font-size: $ux-font-size-h1;
                    margin-left: -2px;
                    margin-top: 10px;
                }

                .fa {
                    color: #fff;
                }

                &.selected,
                &:hover {
                    background-color: $ux-color-primary-dark;
                    text-decoration: none;
                }

                &--static {
                    &:hover {
                        background-color: transparent;
                    }
                }
            }
        }
    }

    &.muted {
        height: 0;
    }

    &.sidebar-toggle-with-top-menu {
        padding-left: 0;

        .left-actions {
            > ul {
                li.left-action-item {
                    background-color: $ux-color-primary-darker;
                    line-height: 48px;
                    margin-left: 0;
                    margin-right: 0;
                    width: $ux-layout-sidebar-width;

                    .left-action-item-link-block {
                        align-items: center;
                        display: flex;
                        margin-left: $ux-spacer-small;

                        &:hover {
                            text-decoration: none;
                        }
                    }

                    .icon-toggle {
                        margin-left: 2px;
                        margin-top: 0;
                    }

                    .left-action-item-label {
                        color: $ux-color-grey-light;
                        font-size: $ux-font-size-h5;
                        margin-left: $ux-spacer;
                        text-decoration: none;

                        &:hover {
                            color: white;
                        }
                    }
                }
            }
        }
    }
}
