@include media($ux-bkp-mobile) {
    #nav-bar {
        background: transparent;
        height: $ux-layout-nav-height !important;
        position: fixed;
        z-index: 101;

        .right-actions {
            > ul {
                li.action-item {
                    margin-left: 0;

                    &.app-menu {
                        display: inline;
                    }
                }
            }
        }

        .right-elements {
            display: none;
        }

        .left-actions {
            display: none;
        }

        #top-menu {
            display: none;
        }
    }
}
@include media($ux-bkp-tablet) {
    #nav-bar {
        .right-actions {
            ul {
                li.action-item {
                    &.app-menu {
                        display: inline;
                    }
                }
            }
        }

        .right-elements {
            display: none;
        }

        .left-actions {
            display: none;
        }

        #top-menu {
            display: none;
        }
    }
}
@include media($ux-bkp-desktop-up) {
    .contract {
        #nav-bar {
            padding-left: 10%;
            padding-right: 10%;
        }
    }

    .contract-half {
        #nav-bar {
            padding-left: 5%;
            padding-right: 5%;
        }
    }

    .contract-quarter {
        #nav-bar {
            padding-left: 2.5%;
            padding-right: 2.5%;
        }
    }
}
