#nav-bar.white {
    background-color: #fff;
    border-bottom: 1px solid $ux-color-grey-lighter;

    .right-actions {
        > ul {
            li.action-item {
                color: $ux-color-grey-darker;

                &.selected,
                &:hover {
                    background-color: $ux-color-grey-lighter;
                }

                .fa {
                    color: $ux-color-grey-darkest;
                }
            }
        }
    }
}
