.overlay-panel {
    background: #fff;
    border-left: 1px solid $ux-color-grey;
    border-right: 1px solid $ux-color-grey;
    height: 100%;
    overflow-x: hidden;
    overflow-y: auto;
    position: fixed;
    right: -30%;
    top: 0;
    width: 30%;
    z-index: 1060;
    @include ux-transition-base;

    &.active {
        right: 0;
        @include ux-box-shadow-z-depth-5;
    }

    &__content {
        display: flex;
        flex-direction: column;
        height: 100%;
    }

    &__header {
        flex: 0 0 auto;
        padding: $ux-spacer $ux-spacer $ux-spacer $ux-spacer-small;
        text-align: center;

        &-toolbar {
            align-items: center;
            background-color: $ux-color-grey-lightest;
            border-bottom: 1px solid $ux-color-grey-lighter;
            display: flex;
            @include ux-font-family-bold;
        }

        &-profile {
            display: none;
        }
    }

    &__inner {
        flex: 1 1 auto;
        overflow-y: auto;
        position: relative;/* need this to position inner content */

        .sidebar-item__header {
            color: $ux-color;
            padding: $ux-spacer-small 0;

            &:hover {
                background-color: $ux-color-grey-lightest;
            }
        }

        .sidebar-item {
            .sidebar-item {
                background-color: $ux-color-grey-lightester;
            }
        }
    }

    &__footer {
        background-color: $ux-color-grey-lightest;
        border-top: 1px solid $ux-color-grey-lighter;
        flex: 0 0 auto;
        padding: $ux-spacer;
        text-align: center;
    }
}
