@include media($ux-bkp-mobile) {
    .overlay-panel {
        right: -70%;
        width: 70%;

        &__header {
            &-profile {
                display: block;

                .ux-language-selector {
                    a.language-toggle .language-label {
                        color: $ux-color-primary !important;
                    }
                }

                &-infos {
                    color: $ux-color-primary;
                    margin-bottom: $ux-spacer;
                    text-align: center;
                }
            }
        }

        &.inner-sidebar {
            width: $ux-layout-sidebar-width !important;
        }
    }
}
@include media($ux-bkp-tablet) {
    .overlay-panel {
        right: -50%;
        width: 50%;

        &.inner-sidebar {
            width: $ux-layout-sidebar-width !important;
        }
    }
}
