#top-menu {
    float: left;

    ul,
    ul li,
    ul li a {
        border: 0;
        color: #fff !important;
        display: block;
        line-height: 27px;
        margin: 0;
        padding: 0;
        position: relative;
        text-decoration: none;
    }

    ul li.icon-menu-item {
        min-width: 60px;

        a {
            line-height: 20px;
        }

        .fa {
            font-size: 28px;
            line-height: 24px;
        }
    }

    &::after,
    > ul::after {
        clear: both;
        content: ".";
        display: block;
        height: 0;
        line-height: 0;
        visibility: hidden;
    }

    > ul > li {
        float: left;
        min-width: 100px;
    }

    > ul > li > a {
        padding: 13px 15px 10px;
        text-transform: uppercase;
        -webkit-transition: color 0s linear, background-color 300ms linear;
        transition: color 0s, background-color 300ms;

        &:hover,
        &:focus {
            border-color: #ebebeb !important;
        }
    }

    > ul > li.selected > a,
    > ul > li:hover > a {
        background-color: $ux-color-accent;
        border-bottom: 5px solid $ux-color-accent-darker;
        color: black !important;
    }

    > ul > li.has-sub > a {
        padding-right: 35px;
    }

    > ul > li.has-sub > a::after {
        border-bottom: none;
        border-left: 6px solid transparent;
        border-right: 6px solid transparent;
        border-top: 4px solid \9;
        border-top: 6px dashed;
        content: "";
        height: 9px;
        margin-left: 10px;
        position: absolute;
        right: 10px;
        top: 20px;
        transform: none;
        vertical-align: middle;
        width: 9px;
    }

    ul ul {
        left: -9999px;
        position: absolute;
    }

    li:hover > ul {
        left: auto;
    }

    ul ul ul {
        margin-left: 100%;
        top: 0;
    }

    ul ul li {
        height: 0;
        transition: height 0.2s ease-in-out;
    }

    ul li:hover > ul > li {
        height: 30px;
    }

    ul ul li a,
    ul ul li h2 {
        background: $ux-color-primary-dark;
        color: $ux-color-grey-lighter;
        margin-top: 0;
        min-width: 260px;
        padding: $ux-spacer-tiny 0.75rem;
        text-decoration: none;
        transition: color 0.2s ease-in-out;
    }

    ul ul li h2 {
        color: $ux-color-accent;
        font-size: $ux-font-size-h6;
        padding-left: $ux-spacer-tiny;
        padding-top: 0.75rem;
    }

    ul ul li:hover > a,
    ul ul li a:hover {
        border-left: 3px solid $ux-color-accent;
        color: $ux-color-accent !important;
    }

    ul ul li.has-sub > a::after {
        border-bottom: 2px solid $ux-color-grey-light;
        border-right: 2px solid $ux-color-grey-light;
        content: "";
        height: 8px;
        position: absolute;
        right: 8px;
        top: 14px;
        transform: rotate(-45deg);
        width: 8px;
    }

    ul ul li a.disabled {
        color: $ux-color-grey !important;
        cursor: default;

        &:hover {
            border-left: 0;
        }
    }

    > ul > li > a {
        padding: 10px;
        text-align: center;
    }
}

#nav-bar.sidebar-toggle-with-top-menu {
    #top-menu {
        left: $ux-layout-sidebar-width + $ux-font-size;
        position: absolute;
    }
}

#top-menu {
    .icon-home-link {
        &::after {
            border-right: 1px solid $ux-color-grey;
            content: "";
            float: right;
            height: 22px;
            margin-right: -$ux-spacer-small;
            margin-top: 2px;
        }

        &::before {
            border-left: 1px solid $ux-color-grey;
            content: "";
            float: left;
            height: 22px;
            margin-left: -$ux-spacer-small;
            margin-top: 2px;
        }
    }

    .icon-menu-item.selected,
    .icon-menu-item:hover {
        .icon-home-link {
            &::after {
                border-right: 0;
            }

            &::before {
                border-left: 0;
            }
        }
    }
}
