.badge {
    font-size: $ux-font-size-h7;
    font-weight: normal;
    padding: $ux-spacer-small $ux-spacer-small;

    &--small {
        font-size: $ux-font-size-h7;
        padding: $ux-spacer-tiny $ux-spacer-tiny;
    }

    &--tiny {
        font-size: $ux-font-size-h8;
        padding: $ux-spacer-tinier $ux-spacer-tiny;
    }

    &--large {
        font-size: $ux-font-size-h6;
        padding: $ux-spacer $ux-spacer-large;
    }

    &-secondary {
        background-color: white;
        border: 1px solid $ux-color-grey-lighter;
        color: $ux-color;
    }
}
