@include media($ux-bkp-mobile) {
    #app-footer {
        display: none;
    }
}
@include media($ux-bkp-tablet) {
    #app-footer {
        .links {
            ul {
                padding: 0;
            }
        }
    }
}
@include media($ux-bkp-desktop-up) {
    .contract {
        #app-footer {
            padding-left: 10%;
            padding-right: 10%;
        }
    }
}
