#app-footer {
    background: $ux-color-grey-lightest;
    border-top: 1px solid $ux-color-grey-light;
    bottom: -1px;
    color: $ux-color;
    height: $ux-layout-footer-height;
    left: 0;
    padding: $ux-spacer-small;
    position: absolute;
    text-align: center;
    width: 100%;
    //z-index: 1039;

    &.compact {
        height: 3rem;
        padding: $ux-spacer;
    }

    .links {
        float: left;
        width: 50%;

        ul {
            float: left;
            padding: 0 $ux-spacer;
            width: 50%;

            li {
                padding: $ux-spacer-tiny $ux-spacer;

                &:not(:last-child) {
                    border-bottom: 1px solid $ux-color-grey-light;
                }

                &:hover {
                    background-color: $ux-color-grey-light;
                }

                a {
                    color: $ux-color-font;
                    display: block;
                    line-height: 1.5rem;
                    width: 100%;
                }
            }
        }
    }

    &.inverse {
        background: $ux-color-primary;
        color: #fff;

        ul {
            li {
                &:not(:last-child) {
                    border-bottom: 1px solid $ux-color-primary-lighter;
                }

                &:hover {
                    background-color: $ux-color-primary-dark;
                }

                a {
                    color: #fff;
                    text-decoration: underline;
                }
            }
        }
    }

    .app-infos {
        display: flex;
        flex-direction: column;
        float: left;
        height: 100%;
        justify-content: center;
        width: 50%;
    }
}
