body {
    background-color: $ux-color-grey-darkest;
    color: $ux-color-font;
    font-family: $ux-font-family;
    font-size: $ux-font-size;
    height: 100%;
    line-height: 1.25;
    overflow-x: hidden;
    overflow-y: scroll;

    &.modal-open-keep-scroll {
        overflow-y: auto;
    }
}
