input[type="checkbox"],
input[type="checkbox"],
input[type="radio"],
input[type="radio"] {
    border: 0;
    clip: rect(0 0 0 0);
    height: 1px;
    overflow: hidden;
    padding: 0;
    position: absolute;
    width: 1px;
}

input[type="checkbox"]:focus + label::before,
input[type="checkbox"]:focus + label::before,
input[type="radio"]:focus + label::before,
input[type="radio"]:focus + label::before,
input[type="checkbox"]:hover + label::before,
input[type="checkbox"]:hover + label::before,
input[type="radio"]:hover + label::before,
input[type="radio"]:hover + label::before {
    background-color: #fff;
}

input[type="checkbox"]:focus + label::before,
input[type="checkbox"]:focus + label::before,
input[type="radio"]:focus + label::before,
input[type="radio"]:focus + label::before {
    @include ux-box-shadow-hover;
}

input[type="checkbox"]:active + label::before,
input[type="checkbox"]:active + label::before,
input[type="radio"]:active + label::before,
input[type="radio"]:active + label::before {
    transition-duration: 0s;
}

input[type="checkbox"] + label,
input[type="checkbox"] + label,
input[type="radio"] + label,
input[type="radio"] + label {
    cursor: pointer;
    margin-right: $ux-spacer;
    margin-top: 2px;
    padding-left: 2em;
    padding-top: 2px;
    position: relative;
    user-select: none;
    vertical-align: middle;
}

input[type="checkbox"] + label::before,
input[type="checkbox"] + label::before,
input[type="radio"] + label::before,
input[type="radio"] + label::before {
    background-color: white;
    border: 2px solid $ux-color-grey-lighter;
    box-sizing: content-box;
    color: $ux-color-primary;
    content: '';
    height: 14px;
    left: 0;
    margin-top: -9px;
    position: absolute;
    text-align: center;
    top: 50%;
    transition: all 0.4s ease;
    width: 14px;
}

input[type="checkbox"] + label::after,
input[type="checkbox"] + label::after,
input[type="radio"] + label::after,
input[type="radio"] + label::after {
    background-color: $ux-color-primary-light;
    box-sizing: content-box;
    content: '';
    height: 10px;
    left: 4px;
    margin-top: -5px;
    position: absolute;
    top: 50%;
    transform: scale(0);
    transform-origin: 50%;
    transition: transform 200ms ease-out;
    width: 10px;
}

input[type="checkbox"]:disabled + label::before,
input[type="checkbox"]:disabled + label::before,
input[type="radio"]:disabled + label::before,
input[type="radio"]:disabled + label::before {
    border-color: $ux-color-grey-lightest;
}

input[type="checkbox"]:disabled:focus + label::before,
input[type="checkbox"]:disabled:focus + label::before,
input[type="radio"]:disabled:focus + label::before,
input[type="radio"]:disabled:focus + label::before,
input[type="checkbox"]:disabled:hover + label::before,
input[type="checkbox"]:disabled:hover + label::before,
input[type="radio"]:disabled:hover + label::before,
input[type="radio"]:disabled:hover + label::before {
    background-color: inherit;
}

input[type="checkbox"]:disabled:checked + label::before,
input[type="checkbox"]:disabled:checked + label::before,
input[type="radio"]:disabled:checked + label::before,
input[type="radio"]:disabled:checked + label::before {
    background-color: #ccc;
}

input[type="checkbox"] + label::after,
input[type="checkbox"] + label::after {
    background-color: transparent;
    border-color: #fff;
    border-image: none;
    border-style: solid;
    border-width: 0 0 3px 3px;
    height: 3px;
    left: 4px;
    margin-top: -4px;
    top: 50%;
    transform: rotate(-45deg) scale(0);
    width: 8px;
}

input[type="checkbox"]:checked + label::after,
input[type="checkbox"]:checked + label::after {
    content: '';
    transform: rotate(-45deg) scale(1);
    transition: transform 200ms ease-out;
}

input[type="radio"]:checked + label::before,
input[type="radio"]:checked + label::before {
    animation: borderscale 300ms ease-in;
    background-color: white;
}

input[type="radio"]:checked + label::after,
input[type="radio"]:checked + label::after {
    transform: scale(1);
}

input[type="radio"] + label::before,
input[type="radio"] + label::before,
input[type="radio"] + label::after,
input[type="radio"] + label::after {
    border-radius: 50%;
}

input[type="checkbox"]:checked + label::before,
input[type="checkbox"]:checked + label::before {
    animation: borderscale 200ms ease-in;
    background: $ux-color-primary;
}

input[type="checkbox"]:checked + label::after,
input[type="checkbox"]:checked + label::after {
    transform: rotate(-45deg) scale(1);
}
@keyframes borderscale {
    50% {
        box-shadow: 0 0 0 2px $ux-color-primary-dark;
    }
}
