h1,
h2,
h3,
h4,
h5,
h6,
.h1,
.h2,
.h3,
.h4,
.h5,
.h6 {
    color: inherit;
    font-family: $ux-font-family;
    font-weight: normal;
}

h1,
.h1 {
    font-size: $ux-font-size-h1;
}

h2,
.h2 {
    font-size: $ux-font-size-h2;
}

h3,
.h3 {
    font-size: $ux-font-size-h3;
}

h4,
.h4 {
    font-size: $ux-font-size-h4;
}

h5,
.h5 {
    font-size: $ux-font-size-h5;
}

h6,
.h6 {
    font-size: $ux-font-size-h6;
}

.small,
.h7 {
    font-size: $ux-font-size-h7;
}

.smaller,
.h8 {
    font-size: $ux-font-size-h8;
}
