html {
    font-feature-settings: 'liga';
    font-size: $ux-font-size;
    -moz-font-smoothing: antialiased;
    -webkit-font-smoothing: antialiased;
    -webkit-font-smoothing: subpixel-antialiased;
    height: 100%;
    text-rendering: optimizeLegibility;

    &.compact {
        font-size: 13px;
    }

    &.font-size-small {
        font-size: 13px;
    }

    &.font-size-smaller {
        font-size: 12px;
    }

    &.font-size-big {
        font-size: 15px;
    }

    &.font-size-bigger {
        font-size: 16px;
    }
}

