a,
a:not([href]):not([tabindex]) {
    color: $ux-color-link;
    cursor: pointer;

    &:hover,
    &:focus {
        color: $ux-color-link;
        text-decoration: underline;
    }
}

ul {
    margin-bottom: 0;
    padding: 0;

    li {
        list-style: none;
    }
}

ul.square {
    li {
        list-style-type: square;
    }
}

p {
    margin-top: $ux-spacer;
}

table {
    border: 0 transparent;
}

:focus {
    outline: 0;
}

a:focus {
    text-decoration: underline;
}

a:not([href]):not([tabindex]) {
    color: $ux-color-primary;
}

hr {
    margin: $ux-spacer 0;
}
