.label,
label {
    font-family: $ux-font-family;
    font-weight: normal;
}

.fa-2x {
    font-size: 2rem;
}

.fa-3x {
    font-size: 3rem;
}

optgroup,
strong {
    @include ux-font-family-bold;
}

i {
    font-style: italic;
    @include ux-font-family-light;
}

input,
select,
textarea,
.form-control,
.ui-widget input,
.ui-widget select,
.ui-widget textarea,
.ui-widget button,
.button em {
    color: black;
    font-family: $ux-font-family !important;
    font-size: $ux-font-size;
    font-style: normal !important;
    font-weight: normal !important;
}

.ui-widget {
    color: black;
    font-family: $ux-font-family !important;
    font-size: 1em;
    font-style: normal !important;
    font-weight: normal !important;
}

/* Chrome/Opera/Safari */
input::-webkit-input-placeholder {
    color: $ux-color-grey !important;
    @include ux-font-family-light;
}

/* Firefox 19+ */
input::-moz-placeholder {
    color: $ux-color-grey !important;
    @include ux-font-family-light;
}

/* IE 10+ */
input:-ms-input-placeholder {
    color: $ux-color-grey !important;
}

/* Firefox 18- */
input:-moz-placeholder {
    color: $ux-color-grey !important;
    @include ux-font-family-light;
}

textarea::-webkit-input-placeholder {
    color: $ux-color-grey !important;
    @include ux-font-family-light;
}

textarea::-moz-placeholder {
    color: $ux-color-grey !important;
    @include ux-font-family-light;
}

textarea:-ms-input-placeholder {
    color: $ux-color-grey !important;
}

textarea:-moz-placeholder {
    color: $ux-color-grey !important;
    @include ux-font-family-light;
}

/* On iOS, the placeholder doesn't disapear on focus */

:focus::-webkit-input-placeholder {
    color: transparent !important;
}

:focus::-ms-input-placeholder {
    color: transparent !important;
}

:focus::-moz-placeholder {
    color: transparent !important;
}
