$ux-animation-linear-out-slow-in-timing-function: cubic-bezier(0, 0, 0.2, 1) !default;
$ux-animation-fast-out-slow-in-timing-function: cubic-bezier(0.4, 0, 0.2, 1) !default;
$ux-animation-fast-out-linear-in-timing-function: cubic-bezier(0.4, 0, 1, 1) !default;

$ux-animation-transition-base: all 0.2s $ux-animation-linear-out-slow-in-timing-function !default;
