$ux-border-width: 1px !default;
$ux-border-radius: 3px !default;

$ux-border: $ux-border-width solid #ddd !default;
$ux-border-lighter: $ux-border-width solid $ux-color-grey-lighter !default;
$ux-border-lightest: $ux-border-width solid $ux-color-grey-lightest !default;
