$ux-color: #333;
$ux-color-font: $ux-color;

$ux-color-primary: $palette-primary-500 !default;
$ux-color-link: $ux-color-primary !default;

$ux-color-primary-dark: $palette-primary-600 !default;
$ux-color-primary-darker: $palette-primary-700 !default;
$ux-color-primary-darkest: $palette-primary-800 !default;
$ux-color-primary-darkester: $palette-primary-900 !default;
$ux-color-primary-darkester-2: darken($palette-primary-900, 5%) !default;
$ux-color-primary-light: $palette-primary-400 !default;
$ux-color-primary-lighter: $palette-primary-300 !default;
$ux-color-primary-lightest: $palette-primary-200 !default;
$ux-color-primary-lightester: $palette-primary-100 !default;
$ux-color-primary-lightester-2: $palette-primary-50 !default;
$ux-color-primary-accent: $palette-primary-A200 !default;
$ux-color-primary-accent-light: $palette-primary-A100 !default;
$ux-color-primary-accent-dark: $palette-primary-A400 !default;

$ux-color-accent: $palette-accent-500 !default;
$ux-color-accent-dark: $palette-accent-600 !default;
$ux-color-accent-darker: $palette-accent-700 !default;
$ux-color-accent-darkest: $palette-accent-800 !default;
$ux-color-accent-darkester: $palette-accent-900 !default;
$ux-color-accent-darkester-2: darken($palette-accent-900, 5%) !default;
$ux-color-accent-light: $palette-accent-400 !default;
$ux-color-accent-lighter: $palette-accent-300 !default;
$ux-color-accent-lightest: $palette-accent-200 !default;
$ux-color-accent-lightester: $palette-accent-100 !default;
$ux-color-accent-lightester-2: $palette-accent-50 !default;
$ux-color-accent-accent: $palette-accent-A200 !default;
$ux-color-accent-accent-dark: $palette-accent-A400 !default;

$ux-color-yellow: $palette-accent-500 !default;
$ux-color-yellow-dark: $palette-accent-600 !default;
$ux-color-yellow-darker: $palette-accent-700 !default;
$ux-color-yellow-darkest: $palette-accent-800 !default;
$ux-color-yellow-darkester: $palette-accent-900 !default;
$ux-color-yellow-darkester-2: darken($palette-accent-900, 5%) !default;
$ux-color-yellow-light: $palette-accent-400 !default;
$ux-color-yellow-lighter: $palette-accent-300 !default;
$ux-color-yellow-lightest: $palette-accent-200 !default;
$ux-color-yellow-lightester: $palette-accent-100 !default;
$ux-color-yellow-lightester-2: $palette-accent-50 !default;
$ux-color-yellow-accent: $palette-accent-A200 !default;
$ux-color-yellow-accent-dark: $palette-accent-A400 !default;

$ux-color-info: $palette-info-500 !default;
$ux-color-info-dark: $palette-info-600 !default;
$ux-color-info-darker: $palette-info-700 !default;
$ux-color-info-darkest: $palette-info-800 !default;
$ux-color-info-darkester: $palette-info-900 !default;
$ux-color-info-darkester-2: darken($palette-info-900, 5%) !default;
$ux-color-info-light: $palette-info-400 !default;
$ux-color-info-lighter: $palette-info-300 !default;
$ux-color-info-lightest: $palette-info-200 !default;
$ux-color-info-lightester: $palette-info-100 !default;
$ux-color-info-lightester-2: $palette-info-50 !default;
$ux-color-info-accent: $palette-info-A200 !default;
$ux-color-info-accent-dark: $palette-info-A400 !default;

$ux-color-blue: $palette-info-500 !default;
$ux-color-blue-dark: $palette-info-600 !default;
$ux-color-blue-darker: $palette-info-700 !default;
$ux-color-blue-darkest: $palette-info-800 !default;
$ux-color-blue-darkester: $palette-info-900 !default;
$ux-color-blue-darkester-2: darken($palette-info-900, 5%) !default;
$ux-color-blue-light: $palette-info-400 !default;
$ux-color-blue-lighter: $palette-info-300 !default;
$ux-color-blue-lightest: $palette-info-200 !default;
$ux-color-blue-lightester: $palette-info-100 !default;
$ux-color-blue-lightester-2: $palette-info-50 !default;
$ux-color-blue-accent: $palette-info-A200 !default;
$ux-color-blue-accent-dark: $palette-info-A400 !default;

$ux-color-success: $palette-success-500 !default;
$ux-color-success-dark: $palette-success-600 !default;
$ux-color-success-darker: $palette-success-700 !default;
$ux-color-success-darkest: $palette-success-800 !default;
$ux-color-success-darkester: $palette-success-900 !default;
$ux-color-success-darkester-2: darken($palette-success-900, 5%) !default;
$ux-color-success-light: $palette-success-400 !default;
$ux-color-success-lighter: $palette-success-300 !default;
$ux-color-success-lightest: $palette-success-200 !default;
$ux-color-success-lightester: $palette-success-100 !default;
$ux-color-success-lightester-2: $palette-success-50 !default;
$ux-color-success-accent: $palette-success-A200 !default;
$ux-color-success-accent-dark: $palette-success-A400 !default;

$ux-color-green: $palette-success-500 !default;
$ux-color-green-dark: $palette-success-600 !default;
$ux-color-green-darker: $palette-success-700 !default;
$ux-color-green-darkest: $palette-success-800 !default;
$ux-color-green-darkester: $palette-success-900 !default;
$ux-color-green-darkester-2: darken($palette-success-900, 5%) !default;
$ux-color-green-light: $palette-success-400 !default;
$ux-color-green-lighter: $palette-success-300 !default;
$ux-color-green-lightest: $palette-success-200 !default;
$ux-color-green-lightester: $palette-success-100 !default;
$ux-color-green-lightester-2: $palette-success-50 !default;
$ux-color-green-accent: $palette-success-A200 !default;
$ux-color-green-accent-dark: $palette-success-A400 !default;

$ux-color-warning: $palette-warning-500 !default;
$ux-color-warning-dark: $palette-warning-600 !default;
$ux-color-warning-darker: $palette-warning-700 !default;
$ux-color-warning-darkest: $palette-warning-800 !default;
$ux-color-warning-darkester: $palette-warning-900 !default;
$ux-color-warning-darkester-2: darken($palette-warning-900, 5%) !default;
$ux-color-warning-light: $palette-warning-400 !default;
$ux-color-warning-lighter: $palette-warning-300 !default;
$ux-color-warning-lightest: $palette-warning-200 !default;
$ux-color-warning-lightester: $palette-warning-100 !default;
$ux-color-warning-lightester-2: $palette-warning-50 !default;
$ux-color-warning-accent: $palette-warning-A200 !default;
$ux-color-warning-accent-dark: $palette-warning-A400 !default;

$ux-color-orange: $palette-warning-500 !default;
$ux-color-orange-dark: $palette-warning-600 !default;
$ux-color-orange-darker: $palette-warning-700 !default;
$ux-color-orange-darkest: $palette-warning-800 !default;
$ux-color-orange-darkester: $palette-warning-900 !default;
$ux-color-orange-darkester-2: darken($palette-warning-900, 5%) !default;
$ux-color-orange-light: $palette-warning-400 !default;
$ux-color-orange-lighter: $palette-warning-300 !default;
$ux-color-orange-lightest: $palette-warning-200 !default;
$ux-color-orange-lightester: $palette-warning-100 !default;
$ux-color-orange-lightester-2: $palette-warning-50 !default;
$ux-color-orange-accent: $palette-warning-A200 !default;
$ux-color-orange-accent-dark: $palette-warning-A400 !default;

$ux-color-danger: $palette-danger-500 !default;
$ux-color-danger-dark: $palette-danger-600 !default;
$ux-color-danger-darker: $palette-danger-700 !default;
$ux-color-danger-darkest: $palette-danger-800 !default;
$ux-color-danger-darkester: $palette-danger-900 !default;
$ux-color-danger-darkester-2: darken($palette-danger-900, 5%) !default;
$ux-color-danger-light: $palette-danger-400 !default;
$ux-color-danger-lighter: $palette-danger-300 !default;
$ux-color-danger-lightest: $palette-danger-200 !default;
$ux-color-danger-lightester: $palette-danger-100 !default;
$ux-color-danger-lightester-2: $palette-danger-50 !default;
$ux-color-danger-accent: $palette-danger-A200 !default;
$ux-color-danger-accent-dark: $palette-danger-A400 !default;

$ux-color-red: $palette-danger-500 !default;
$ux-color-red-dark: $palette-danger-600 !default;
$ux-color-red-darker: $palette-danger-700 !default;
$ux-color-red-darkest: $palette-danger-800 !default;
$ux-color-red-darkester: $palette-danger-900 !default;
$ux-color-red-darkester-2: darken($palette-danger-900, 5%) !default;
$ux-color-red-light: $palette-danger-400 !default;
$ux-color-red-lighter: $palette-danger-300 !default;
$ux-color-red-lightest: $palette-danger-200 !default;
$ux-color-red-lightester: $palette-danger-100 !default;
$ux-color-red-lightester-2: $palette-danger-50 !default;
$ux-color-red-accent: $palette-danger-A200 !default;
$ux-color-red-accent-dark: $palette-danger-A400 !default;

$ux-color-grey: $palette-grey-500 !default;
$ux-color-grey-dark: $palette-grey-600 !default;
$ux-color-grey-darker: $palette-grey-700 !default;
$ux-color-grey-darkest: $palette-grey-800 !default;
$ux-color-grey-darkester: $palette-grey-900 !default;
$ux-color-grey-darkester-2: darken($palette-grey-900, 5%) !default;
$ux-color-grey-light: $palette-grey-400 !default;
$ux-color-grey-lighter: #d2d2d2 !default; //$palette-grey-300 !default;
$ux-color-grey-lightest: $palette-grey-200 !default;
$ux-color-grey-lightester: $palette-grey-100 !default;
$ux-color-grey-lightester-2: $palette-grey-50 !default;
$ux-color-grey-accent: $palette-grey-A200 !default;
$ux-color-grey-accent-dark: $palette-grey-A400 !default;

$ux-colors-extended: () !default;

$ux-colors: (
    white: #fff,
    black: #000,
    // primary
    primary: $ux-color-primary,
    primary-light: $ux-color-primary-light,
    primary-lighter: $ux-color-primary-lighter,
    primary-lightest: $ux-color-primary-lightest,
    primary-lightester: $ux-color-primary-lightester,
    primary-lightester-2: $ux-color-primary-lightester-2,
    primary-dark: $ux-color-primary-dark,
    primary-darker: $ux-color-primary-darker,
    primary-darkest: $ux-color-primary-darkest,
    primary-darkester: $ux-color-primary-darkester,
    primary-darkester-2: $ux-color-primary-darkester-2,
    // accent
    accent: $ux-color-accent,
    accent-light: $ux-color-accent-light,
    accent-lighter: $ux-color-accent-lighter,
    accent-lightest: $ux-color-accent-lightest,
    accent-lightester: $ux-color-accent-lightester,
    accent-lightester-2: $ux-color-accent-lightester-2,
    accent-dark: $ux-color-accent-dark,
    accent-darker: $ux-color-accent-darker,
    accent-darkest: $ux-color-accent-darkest,
    accent-darkester: $ux-color-accent-darkester,
    accent-darkester-2: $ux-color-accent-darkester-2,
    // info
    info: $ux-color-info,
    info-light: $ux-color-info-light,
    info-lighter: $ux-color-info-lighter,
    info-lightest: $ux-color-info-lightest,
    info-lightester: $ux-color-info-lightester,
    info-lightester-2: $ux-color-info-lightester-2,
    info-dark: $ux-color-info-dark,
    info-darker: $ux-color-info-darker,
    info-darkest: $ux-color-info-darkest,
    info-darkester: $ux-color-info-darkester,
    info-darkester-2: $ux-color-info-darkester-2,
    // success
    success: $ux-color-success,
    success-light: $ux-color-success-light,
    success-lighter: $ux-color-success-lighter,
    success-lightest: $ux-color-success-lightest,
    success-lightester: $ux-color-success-lightester,
    success-lightester-2: $ux-color-success-lightester-2,
    success-dark: $ux-color-success-dark,
    success-darker: $ux-color-success-darker,
    success-darkest: $ux-color-success-darkest,
    success-darkester: $ux-color-success-darkester,
    success-darkester-2: $ux-color-success-darkester-2,
    // warning
    warning: $ux-color-warning,
    warning-light: $ux-color-warning-light,
    warning-lighter: $ux-color-warning-lighter,
    warning-lightest: $ux-color-warning-lightest,
    warning-lightester: $ux-color-warning-lightester,
    warning-lightester-2: $ux-color-warning-lightester-2,
    warning-dark: $ux-color-warning-dark,
    warning-darker: $ux-color-warning-darker,
    warning-darkest: $ux-color-warning-darkest,
    warning-darkester: $ux-color-warning-darkester,
    warning-darkester-2: $ux-color-warning-darkester-2,
    // danger
    danger: $ux-color-danger,
    danger-light: $ux-color-danger-light,
    danger-lighter: $ux-color-danger-lighter,
    danger-lightest: $ux-color-danger-lightest,
    danger-lightester: $ux-color-danger-lightester,
    danger-lightester-2: $ux-color-danger-lightester-2,
    danger-dark: $ux-color-danger-dark,
    danger-darker: $ux-color-danger-darker,
    danger-darkest: $ux-color-danger-darkest,
    danger-darkester: $ux-color-danger-darkester,
    danger-darkester-2: $ux-color-danger-darkester-2,
    // grey
    grey: $ux-color-grey,
    grey-light: $ux-color-grey-light,
    grey-lighter: $ux-color-grey-lighter,
    grey-lightest: $ux-color-grey-lightest,
    grey-lightester: $ux-color-grey-lightester,
    grey-lightester-2: $ux-color-grey-lightester-2,
    grey-dark: $ux-color-grey-dark,
    grey-darker: $ux-color-grey-darker,
    grey-darkest: $ux-color-grey-darkest,
    grey-darkester: $ux-color-grey-darkester,
    grey-darkester-2: $ux-color-grey-darkester-2,
) !default;

$ux-colors-named: (
    // yellow
    yellow: $ux-color-yellow,
    yellow-light: $ux-color-yellow-light,
    yellow-lighter: $ux-color-yellow-lighter,
    yellow-lightest: $ux-color-yellow-lightest,
    yellow-lightester: $ux-color-yellow-lightester,
    yellow-lightester-2: $ux-color-yellow-lightester-2,
    yellow-dark: $ux-color-yellow-dark,
    yellow-darker: $ux-color-yellow-darker,
    yellow-darkest: $ux-color-yellow-darkest,
    yellow-darkester: $ux-color-yellow-darkester,
    yellow-darkester-2: $ux-color-yellow-darkester-2,
    // blue
    blue: $ux-color-blue,
    blue-light: $ux-color-blue-light,
    blue-lighter: $ux-color-blue-lighter,
    blue-lightest: $ux-color-blue-lightest,
    blue-lightester: $ux-color-blue-lightester,
    blue-lightester-2: $ux-color-blue-lightester-2,
    blue-dark: $ux-color-blue-dark,
    blue-darker: $ux-color-blue-darker,
    blue-darkest: $ux-color-blue-darkest,
    blue-darkester: $ux-color-blue-darkester,
    blue-darkester-2: $ux-color-blue-darkester-2,
    // green
    green: $ux-color-green,
    green-light: $ux-color-green-light,
    green-lighter: $ux-color-green-lighter,
    green-lightest: $ux-color-green-lightest,
    green-lightester: $ux-color-green-lightester,
    green-lightester-2: $ux-color-green-lightester-2,
    green-dark: $ux-color-green-dark,
    green-darker: $ux-color-green-darker,
    green-darkest: $ux-color-green-darkest,
    green-darkester: $ux-color-green-darkester,
    green-darkester-2: $ux-color-green-darkester-2,
    // orange
    orange: $ux-color-orange,
    orange-light: $ux-color-orange-light,
    orange-lighter: $ux-color-orange-lighter,
    orange-lightest: $ux-color-orange-lightest,
    orange-lightester: $ux-color-orange-lightester,
    orange-lightester-2: $ux-color-orange-lightester-2,
    orange-dark: $ux-color-orange-dark,
    orange-darker: $ux-color-orange-darker,
    orange-darkest: $ux-color-orange-darkest,
    orange-darkester: $ux-color-orange-darkester,
    orange-darkester-2: $ux-color-orange-darkester-2,
    // red
    red: $ux-color-red,
    red-light: $ux-color-red-light,
    red-lighter: $ux-color-red-lighter,
    red-lightest: $ux-color-red-lightest,
    red-lightester: $ux-color-red-lightester,
    red-lightester-2: $ux-color-red-lightester-2,
    red-dark: $ux-color-red-dark,
    red-darker: $ux-color-red-darker,
    red-darkest: $ux-color-red-darkest,
    red-darkester: $ux-color-red-darkester,
    red-darkester-2: $ux-color-red-darkester-2,
) !default;

