/**
 * Material colors
 */
// primary
$palette-primary-50: rgb(158, 203, 255);
$palette-primary-100: rgb(82, 161, 255);
$palette-primary-200: rgb(26, 131, 255);
$palette-primary-300: rgb(0, 96, 209);
$palette-primary-400: rgb(0, 82, 179);
$palette-primary-500: rgb(0, 68, 148);
$palette-primary-600: rgb(0, 54, 117);
$palette-primary-700: rgb(0, 40, 87);
$palette-primary-800: rgb(0, 26, 56);
$palette-primary-900: rgb(0, 12, 26);
$palette-primary-A100: rgb(158, 203, 255);
$palette-primary-A200: rgb(82, 161, 255);
$palette-primary-A400: rgb(0, 82, 179);
$palette-primary-A700: rgb(0, 40, 87);

// info
$palette-info-50: rgb(225, 245, 254);
$palette-info-100: rgb(179, 229, 252);
$palette-info-200: rgb(129, 212, 250);
$palette-info-300: rgb(79, 195, 247);
$palette-info-400: rgb(41, 182, 246);
$palette-info-500: rgb(3, 169, 244);
$palette-info-base: rgb(3, 169, 244);
$palette-info-600: rgb(3, 155, 229);
$palette-info-700: rgb(2, 136, 209);
$palette-info-800: rgb(2, 119, 189);
$palette-info-900: rgb(1, 87, 155);
$palette-info-A100: rgb(128, 216, 255);
$palette-info-A200: rgb(64, 196, 255);
$palette-info-A400: rgb(0, 176, 255);
$palette-info-A700: rgb(0, 145, 234);

// success
$palette-success-50: rgb(232, 245, 233);
$palette-success-100: rgb(200, 230, 201);
$palette-success-200: rgb(165, 214, 167);
$palette-success-300: rgb(129, 199, 132);
$palette-success-400: rgb(102, 187, 106);
$palette-success-500: rgb(76, 175, 80);
$palette-success-base: rgb(76, 175, 80);
$palette-success-600: rgb(67, 160, 71);
$palette-success-700: rgb(56, 142, 60);
$palette-success-800: rgb(46, 125, 50);
$palette-success-900: rgb(27, 94, 32);
$palette-success-A100: rgb(185, 246, 202);
$palette-success-A200: rgb(105, 240, 174);
$palette-success-A400: rgb(0, 230, 118);
$palette-success-A700: rgb(0, 200, 83);

// accent
$palette-accent-50: rgb(255, 253, 231);
$palette-accent-100: rgb(255, 249, 196);
$palette-accent-200: rgb(255, 245, 157);
$palette-accent-300: rgb(255, 241, 118);
$palette-accent-400: rgb(255, 238, 88);
$palette-accent-500: rgb(255, 235, 59);
$palette-accent-base: rgb(255, 235, 59);
$palette-accent-600: rgb(253, 216, 53);
$palette-accent-700: rgb(251, 192, 45);
$palette-accent-800: rgb(249, 168, 37);
$palette-accent-900: rgb(245, 127, 23);
$palette-accent-A100: rgb(255, 255, 141);
$palette-accent-A200: rgb(255, 255, 0);
$palette-accent-A400: rgb(255, 234, 0);
$palette-accent-A700: rgb(255, 214, 0);

// warning
$palette-warning-50: rgb(255, 243, 224);
$palette-warning-100: rgb(255, 224, 178);
$palette-warning-200: rgb(255, 204, 128);
$palette-warning-300: rgb(255, 183, 77);
$palette-warning-400: rgb(255, 167, 38);
$palette-warning-500: rgb(255, 152, 0);
$palette-warning-600: rgb(251, 140, 0);
$palette-warning-700: rgb(245, 124, 0);
$palette-warning-800: rgb(239, 108, 0);
$palette-warning-900: rgb(230, 81, 0);
$palette-warning-A100: rgb(255, 209, 128);
$palette-warning-A200: rgb(255, 171, 64);
$palette-warning-A400: rgb(255, 145, 0);
$palette-warning-A700: rgb(255, 109, 0);

// danger
$palette-danger-50: rgb(255, 235, 238);
$palette-danger-100: rgb(255, 205, 210);
$palette-danger-200: rgb(239, 154, 154);
$palette-danger-300: rgb(229, 115, 115);
$palette-danger-400: rgb(239, 83, 80);
$palette-danger-500: rgb(244, 67, 54);
$palette-danger-base: rgb(244, 67, 54);
$palette-danger-600: rgb(229, 57, 53);
$palette-danger-700: rgb(211, 47, 47);
$palette-danger-800: rgb(198, 40, 40);
$palette-danger-900: rgb(183, 28, 28);
$palette-danger-A100: rgb(255, 138, 128);
$palette-danger-A200: rgb(255, 82, 82);
$palette-danger-A400: rgb(255, 23, 68);
$palette-danger-A700: rgb(213, 0, 0);

// grey
$palette-grey-50: rgb(250, 250, 250);
$palette-grey-100: rgb(245, 245, 245);
$palette-grey-200: rgb(238, 238, 238);
$palette-grey-300: rgb(224, 224, 224);
$palette-grey-400: rgb(189, 189, 189);
$palette-grey-500: rgb(158, 158, 158);
$palette-grey-base: rgb(158, 158, 158);
$palette-grey-600: rgb(117, 117, 117);
$palette-grey-700: rgb(97, 97, 97);
$palette-grey-800: rgb(66, 66, 66);
$palette-grey-900: rgb(33, 33, 33);
$palette-grey-1000: rgb(0, 0, 0);
$palette-grey-A100: rgb(255, 255, 255);
$palette-grey-A200: rgb(238, 238, 238);
$palette-grey-A400: rgb(189, 189, 189);
$palette-grey-A700: rgb(97, 97, 97);
