// Variables for interpolation

$ux-assets-path: '../assets' !default;

// RESPONSIVE BREAKPOINTS

// breakpoints map is exact match with bootstrap (see in vendors/bootstrap/bootstrap/_variables.scss)
$ux-grid-breakpoints: (
    xs: 0,
    // Small screen / phone
    sm: 576px,
    // Medium screen / tablet
    md: 768px,
    // Large screen / desktop
    lg: 992px,
    // Extra large screen / wide desktop
    xl: 1200px
) !default;

//bootstrap naming
$xs: new-breakpoint(min-width map-get($ux-grid-breakpoints, 'xs') max-width map-get($ux-grid-breakpoints, 'sm') - 1) !default;
$sm: new-breakpoint(min-width map-get($ux-grid-breakpoints, 'sm') max-width map-get($ux-grid-breakpoints, 'md') - 1) !default;
$md: new-breakpoint(min-width map-get($ux-grid-breakpoints, 'md') max-width map-get($ux-grid-breakpoints, 'lg') - 1) !default;
$lg: new-breakpoint(min-width map-get($ux-grid-breakpoints, 'lg') max-width map-get($ux-grid-breakpoints, 'xl') - 1) !default;
$xl: new-breakpoint(min-width map-get($ux-grid-breakpoints, 'xl')) !default;

// human naming
$ux-bkp-mobile-down: $xs !default;
$ux-bkp-mobile: new-breakpoint(max-width map-get($ux-grid-breakpoints, 'md') - 1) !default;
$ux-bkp-mobile-up: new-breakpoint(min-width map-get($ux-grid-breakpoints, 'md')) !default;
$ux-bkp-tablet: $md !default;
$ux-bkp-desktop-down: new-breakpoint(max-width map-get($ux-grid-breakpoints, 'lg') - 1) !default;
$ux-bkp-desktop: $lg !default;
$ux-bkp-desktop-up: new-breakpoint(min-width map-get($ux-grid-breakpoints, 'lg')) !default;

// TYPOGRAPHY
$ux-font-family: ('eui-default', Arial, 'Helvetica Neue', Helvetica, sans-serif,) !default;
$ux-font-family-light: ('eui-light', 'Helvetica Neue', Helvetica, sans-serif,) !default;
$ux-font-family-bold: ('eui-bold', 'Helvetica Neue', Helvetica, sans-serif,) !default;

// FONT SIZING
$ux-font-size: 14px !default;

$ux-font-size-h1-px: 32px !default;
$ux-font-size-h2-px: 28px !default;
$ux-font-size-h3-px: 24px !default;
$ux-font-size-h4-px: 20px !default;
$ux-font-size-h5-px: 16px !default;
$ux-font-size-h6-px: 14px !default;
$ux-font-size-h7-px: 12px !default;
$ux-font-size-h8-px: 10px !default;
$ux-font-size-h9-px: 8px !default;

$ux-font-size-h1: to-rem($ux-font-size-h1-px) !default;
$ux-font-size-h2: to-rem($ux-font-size-h2-px) !default;
$ux-font-size-h3: to-rem($ux-font-size-h3-px) !default;
$ux-font-size-h4: to-rem($ux-font-size-h4-px) !default;
$ux-font-size-h5: to-rem($ux-font-size-h5-px) !default;
$ux-font-size-h6: to-rem($ux-font-size-h6-px) !default;
$ux-font-size-h7: to-rem($ux-font-size-h7-px) !default;
$ux-font-size-h8: to-rem($ux-font-size-h8-px) !default;
$ux-font-size-h9: to-rem($ux-font-size-h9-px) !default;

// SPACING : from Bootstrap
$ux-spacer: 1.25rem !default;
$ux-spacer-0: 0 !default;
$ux-spacer-1: $ux-spacer/4 !default;
$ux-spacer-2: $ux-spacer/2 !default;
$ux-spacer-3: $ux-spacer !default;
$ux-spacer-4: $ux-spacer*1.5 !default;
$ux-spacer-5: $ux-spacer*2 !default;
$ux-spacer-6: $ux-spacer*3 !default;
$ux-spacer-7: $ux-spacer*4 !default;

// Human naming based on $ux-spacers defined
$ux-spacer-none: 0 !default;
$ux-spacer-tinier: 0.15rem !default;
$ux-spacer-tiny: $ux-spacer-1 !default;
$ux-spacer-small: $ux-spacer-2 !default;
$ux-spacer-medium: $ux-spacer-3 !default;
$ux-spacer-large: $ux-spacer-4 !default;
$ux-spacer-xlarge: $ux-spacer-5 !default;
$ux-spacer-xxlarge: $ux-spacer-6 !default;
$ux-spacer-xxxlarge: $ux-spacer-7 !default;

// LAYOUT
$ux-layout-largedesktop-body-width: 1400px !default;
$ux-layout-footer-height: 6rem !default;
$ux-layout-footer-height-mobile: 2rem !default;
$ux-layout-header-height: 90px !default;
$ux-layout-nav-height: 50px !default;
$ux-layout-sidebar-width: 250px !default;
$ux-layout-sidebar-tablet-width: 200px !default;
$ux-layout-sidebar-mobile-width: 150px !default;

