.ux-u-pl {
    padding-left: $ux-spacer !important;
}

.ux-u-pt {
    padding-top: $ux-spacer !important;
}

.ux-u-pb {
    padding-bottom: $ux-spacer !important;
}

.ux-u-pr {
    padding-right: $ux-spacer !important;
}
