.ux-u-border-l-primary {
    border-left: $ux-spacer-small solid $ux-color-primary !important;
}

.ux-u-border-l-info {
    border-left: $ux-spacer-small solid $ux-color-info !important;
}

.ux-u-border-l-warning {
    border-left: $ux-spacer-small solid $ux-color-warning !important;
}

.ux-u-border-l-success {
    border-left: $ux-spacer-small solid $ux-color-success !important;
}

.ux-u-border-l-danger {
    border-left: $ux-spacer-small solid $ux-color-danger !important;
}
