.ux-u-cursor-pointer {
    cursor: pointer !important;
}

.ux-u-cursor-hand {
    cursor: pointer;
    cursor: hand;
}

.ux-u-cursor-default {
    cursor: default;
}

.ux-u-cursor-help {
    cursor: help;
}

.ux-u-cursor-move {
    cursor: move;
}

.ux-u-cursor-crosshair {
    cursor: crosshair;
}

.ux-u-cursor-wait {
    cursor: wait;
}

.ux-u-cursor-progress {
    cursor: progress;
}

.ux-u-cursor-text {
    cursor: text;
}

.ux-u-cursor-nodrop {
    cursor: no-drop;
}

.ux-u-cursor-notallowed {
    cursor: not-allowed;
}
