.ux-u-bg-color-transparent {
    background-color: transparent !important;
}
@each $color-name in ux-get-color-names() {
    .ux-u-color-#{$color-name} {
        color: ux-get-color($color-name) !important;
    }

    .ux-u-bg-color-#{$color-name} {
        background-color: ux-get-color($color-name) !important;
    }

    .ux-u-bg-#{$color-name} {
        background-color: ux-get-color($color-name) !important;
        border-color: ux-get-color($color-name) !important;
        color: ux-get-color(white) !important;
    }
}
