.ux-u-display-print-only {
    display: none !important;
}

.ux-u-display-hidden,
.hidden {
    display: none !important;
}

.ux-u-display-visible,
.visible,
.ux-u-d-block {
    display: block !important;
}

.ux-u-display-inline {
    display: inline !important;
}

.ux-u-display-inline-block {
    display: inline-block !important;
}
