.ux-u-border-l-primary {
    border-left: $ux-spacer-small solid $ux-color-primary !important;
}

.ux-u-border-l-info {
    border-left: $ux-spacer-small solid $ux-color-info !important;
}

.ux-u-border-l-warning {
    border-left: $ux-spacer-small solid $ux-color-warning !important;
}

.ux-u-border-l-success {
    border-left: $ux-spacer-small solid $ux-color-success !important;
}

.ux-u-border-l-danger {
    border-left: $ux-spacer-small solid $ux-color-danger !important;
}
@each $color-name in ux-get-color-names() {
    .ux-u-border-#{$color-name} {
        border-color: ux-get-color($color-name) !important;
    }

    .ux-u-border-top-#{$color-name} {
        border-top-color: ux-get-color($color-name) !important;
    }

    .ux-u-border-bottom-#{$color-name} {
        border-bottom-color: ux-get-color($color-name) !important;
    }

    .ux-u-border-left-#{$color-name} {
        border-left-color: ux-get-color($color-name) !important;
    }

    .ux-u-border-right-#{$color-name} {
        border-right-color: ux-get-color($color-name) !important;
    }
}

