.ux-u-z-depth-1 {
    @include ux-box-shadow-z-depth-1;
}

.ux-u-z-depth-2 {
    @include ux-box-shadow-z-depth-2;
}

.ux-u-z-depth-3 {
    @include ux-box-shadow-z-depth-3;
}

.ux-u-z-depth-4 {
    @include ux-box-shadow-z-depth-4;
}

.ux-u-z-depth-5 {
    @include ux-box-shadow-z-depth-5;
}

.ux-u-shadow-hover-2 {
    &:hover,
    &:focus {
        @include ux-box-shadow-z-depth-2;
    }
}

.ux-u-shadow-hover-3 {
    &:hover,
    &:focus {
        @include ux-box-shadow-z-depth-3;
    }
}
