.ux-u-font-size-h1 {
    font-size: $ux-font-size-h1 !important;
}

.ux-u-font-size-h2 {
    font-size: $ux-font-size-h2 !important;
}

.ux-u-font-size-h3 {
    font-size: $ux-font-size-h3 !important;
}

.ux-u-font-size-h4 {
    font-size: $ux-font-size-h4 !important;
}

.ux-u-font-size-h5 {
    font-size: $ux-font-size-h5 !important;
}

.ux-u-font-size-h6 {
    font-size: $ux-font-size-h6 !important;
}

.ux-u-font-size-h7 {
    font-size: $ux-font-size-h7 !important;
}

.ux-u-font-size-h8 {
    font-size: $ux-font-size-h8 !important;
}

.ux-u-font-size-h9 {
    font-size: $ux-font-size-h9 !important;
}
