.ux-u-width-auto {
    width: auto !important;
}

.ux-u-width-1 {
    width: $ux-spacer !important;
}

.ux-u-width-2 {
    width: 2 * $ux-spacer !important;
}

.ux-u-width-3 {
    width: 3 * $ux-spacer !important;
}

.ux-u-width-4 {
    width: 4 * $ux-spacer !important;
}

.ux-u-width-5 {
    width: 5 * $ux-spacer !important;
}

.ux-u-width-6 {
    width: 6 * $ux-spacer !important;
}

.ux-u-width-7 {
    width: 7 * $ux-spacer !important;
}

.ux-u-width-8 {
    width: 8 * $ux-spacer !important;
}

.ux-u-width-9 {
    width: 9 * $ux-spacer !important;
}

.ux-u-width-10 {
    width: 10 * $ux-spacer !important;
}

.ux-u-width-11 {
    width: 11 * $ux-spacer !important;
}

.ux-u-width-12 {
    width: 12 * $ux-spacer !important;
}

.ux-u-width-13 {
    width: 13 * $ux-spacer !important;
}

.ux-u-width-14 {
    width: 14 * $ux-spacer !important;
}

.ux-u-width-15 {
    width: 15 * $ux-spacer !important;
}
