.ux-u-font-bold {
    font-family: $ux-font-family-bold !important;
    font-weight: normal !important;
}

.ux-u-font-regular {
    font-family: $ux-font-family !important;
}

.ux-u-font-light {
    font-family: $ux-font-family-light !important;
}
