@include media($ux-bkp-mobile) {
    #app-wrapper {
        #main {
            margin-left: 0 !important;
        }

        #main-content {
            margin-left: 0 !important;
        }
    }

    #app-wrapper {
        &.sidebar-active.sidebar-always-visible.sidebar-mobile-visible {
            #main {
                margin-left: $ux-layout-sidebar-mobile-width !important;
            }

            &.sidebar-collapsible.sidebar-state-close.sidebar-mobile-visible {
                #main {
                    margin-left: 0 !important;
                }
            }

            &.sidebar-collapsible.sidebar-state-open.sidebar-mobile-visible {
                #main {
                    margin-left: $ux-layout-sidebar-mobile-width !important;
                }
            }

            &.sidebar-collapsible.sidebar-state-open.sidebar-state-close-with-icons.sidebar-mobile-visible {
                #main {
                    margin-left: 0 !important;
                }
            }
        }

        &.sidebar-inner-active.sidebar-mobile-visible {
            #main-content {
                margin-left: $ux-layout-sidebar-mobile-width !important;
            }
        }

        &.sidebar-state-close-with-icons.sidebar-mobile-visible {
            #main-content {
                margin-left: 5rem !important;
            }

            .sidebar {
                width: 4.75rem;

                .sidebar-toggle {
                    left: 5rem;
                }

                .header,
                .filter {
                    display: none;
                }

                .sidebar-inner {
                    display: block;

                    .title {
                        display: none;
                    }

                    .sidebar-item__header-label-wrapper {
                        display: none;
                    }
                }
            }
        }
    }
}
@include media($ux-bkp-tablet) {
    #app-wrapper {
        &.sidebar-active.sidebar-always-visible {
            #main {
                margin-left: $ux-layout-sidebar-tablet-width !important;
            }

            &.sidebar-collapsible.sidebar-state-close {
                #main {
                    margin-left: 0 !important;
                }
            }

            &.sidebar-collapsible.sidebar-state-open {
                #main {
                    margin-left: $ux-layout-sidebar-tablet-width !important;
                }
            }

            &.sidebar-collapsible.sidebar-state-open.sidebar-state-close-with-icons {
                #main {
                    margin-left: 0 !important;
                }
            }
        }

        &.sidebar-inner-active {
            #main-content {
                margin-left: $ux-layout-sidebar-tablet-width !important;
            }
        }

        &.sidebar-state-close-with-icons {
            #main-content {
                margin-left: 5rem !important;
            }

            .sidebar {
                width: 4.75rem;

                .sidebar-toggle {
                    left: 5rem;
                }

                .header,
                .filter {
                    display: none;
                }

                .sidebar-inner {
                    display: block;

                    .title {
                        display: none;
                    }

                    .sidebar-item__header-label-wrapper {
                        display: none;
                    }
                }
            }
        }
    }
}
@include media($ux-bkp-desktop-up) {
    #app-wrapper {
        &.fixed-width {
            @include outer-container($ux-layout-largedesktop-body-width);
        }

        &.fixed-width.shrink-header-active {
            #nav-bar {
                width: $ux-layout-largedesktop-body-width;
            }
        }
    }
}
