#app-wrapper {
    height: 100%;

    &.sidebar-active.sidebar-always-visible {
        #main {
            margin-left: $ux-layout-sidebar-width;
        }

        &.sidebar-collapsible.sidebar-state-close {
            #main {
                margin-left: 0;
            }
        }

        &.sidebar-collapsible.sidebar-state-close.sidebar-state-close-with-icons {
            #main {
                margin-left: 5rem;
            }
        }

        &.sidebar-collapsible.sidebar-state-open {
            #main {
                margin-left: $ux-layout-sidebar-width;
            }
        }
    }

    &.sidebar-inner-active {
        #main-content {
            margin-left: $ux-layout-sidebar-width;
        }

        &.sidebar-state-close {
            #main-content {
                margin-left: 0;
            }
        }

        &.sidebar-state-close-with-icons {
            #main-content {
                margin-left: 5rem;
            }
        }

        &.sidebar-state-open {
            #main-content {
                margin-left: $ux-layout-sidebar-width;
            }
        }
    }

    &.shrink-header-active {
        #main {
            #app-header {
                height: 0;
                margin-bottom: 50px;
            }

            #nav-bar {
                position: fixed;
                top: 0;

                .right-actions {
                    position: fixed;
                    right: $ux-spacer;
                }
            }
        }
    }
}

