.ux-layout-banner {
    background-color: darken($ux-color-grey-lightest, 1%);
    padding: $ux-spacer-large;

    &__block-title {
        font-size: $ux-font-size-h3;
        margin-bottom: $ux-spacer;
    }

    &__block-sub-title {
        display: table;
        font-size: $ux-font-size-h4;
        margin: $ux-spacer-large $ux-spacer;
        padding-bottom: $ux-spacer-small;
        white-space: nowrap;
        width: 100%;

        &::before,
        &::after {
            border-top: 1px solid $ux-color-grey-dark;
            content: '';
            display: table-cell;
            position: relative;
            top: $ux-spacer;
            width: 45%;
        }

        &::before {
            right: 1.5%;
        }

        &::after {
            left: 1.5%;
        }
    }

    &__item {
        align-items: center;
        display: flex;
        margin-right: $ux-spacer-large;
    }
}

.ux-layout-banner-top-wrapper {
    .ux-layout-banner {
        margin-bottom: $ux-spacer;
    }
}

.ux-layout-banner-bottom-wrapper {
    .ux-layout-banner {
        margin-top: $ux-spacer-large;
        padding-bottom: $ux-layout-footer-height + 2rem;
    }
}
