.ux-footer-action-bar {
    background-color: $ux-color-grey-lightest;
    border-top: 1px solid $ux-color-grey;
    bottom: 0;
    height: 5rem;
    margin-left: -$ux-spacer;
    padding: $ux-spacer-large;
    position: fixed;
    width: 100%;
    z-index: 1040;
}

.sidebar-state-open {
    .ux-footer-action-bar {
        right: 0;
    }
}
