@include media($ux-bkp-mobile) {
    #main-content {
        padding: $ux-layout-nav-height+10px $ux-spacer-small $ux-layout-footer-height $ux-spacer-small;
    }
}
@include media($ux-bkp-desktop-up) {
    .contract {
        #main-content {
            padding: 1.25rem 10% $ux-layout-footer-height + $ux-spacer 10%;
        }
    }

    .contract-half {
        #main-content {
            padding: 1.25rem 5% $ux-layout-footer-height + $ux-spacer 5%;
        }
    }

    .contract-quarter {
        #main-content {
            padding: 1.25rem 2.5% $ux-layout-footer-height + $ux-spacer 2.5%;
        }
    }
}
