.ux-top-message {
    background-color: $ux-color-danger;
    color: #fff;
    padding: 0.75rem $ux-spacer;

    &--primary {
        background-color: $ux-color-primary;
    }

    &--info {
        background-color: $ux-color-info;
    }

    &--success {
        background-color: $ux-color-success;
    }

    &--warning {
        background-color: $ux-color-warning;
    }

    &--danger {
        background-color: $ux-color-danger;
    }
}
